ion-header{
    margin-top:15px;
    }
.schoolsearchresult{
    margin-top:20px;
    }
    .noti-title{
    margin-bottom:5px;
    color: #0066cc;
    }
    .noti-desc{
    font-size: 12px;
    color: #979797;
    }
    .blueheading{
        color: #0066cc;
    }
    .notificationpage ion-row{
        border-bottom: 0.55px solid #c8c7cc;
    }
    .notification-image{
    text-align:center;
    }
    .notification-image img{
        width:60px;
    }

    .main-title{
    padding:0 20px;
    }

    ion-item{
        border-bottom:0.55px solid #c4c4c4;
    }

    .align-center {
        margin-top: 50%;
    }

.online-icon{
    width: 12px;
    height: 12px;
    position: absolute;
    bottom: 10px;
    right: 20px; 

    }  

.notification-image{
text-align:center;
width:60px;
height:60px;
border-radius: 50%;
overflow: hidden;
}
.notification-image img{
width:60px;
}
    
mutualfriends:host{
    ion-content{
    --padding-bottom: 75px !important;
    }
}