<ion-header>
  <ion-toolbar>
    <div class="grybg backbtn headerinline searchmenu">
      <button ion-button start class="menu-btn" (click)="goBack()">
          <img src="../assets/icon/black-back-icon.png">
      </button>
      <ion-searchbar (click)="searchuniversity()"  placeholder="Search Universities, Apartments, Roommates"></ion-searchbar>
    </div>  
    <div class="headerinline">
      <button ion-button start class="chat-btn" (click)="openChat()">
        <img src="../assets/icon/msg-icon.png">
        <span class="unread-msgs" *ngIf="newMessage"></span>
    </button>
    </div>
    </ion-toolbar>
</ion-header>


<ion-content>
<h3 class="main-title">Mutual Friends</h3>
<div class="search-results schoolsearchresult" *ngIf="mutualFriendsList">
  <!-- <h2 class="blacktext">Schools</h2> -->
  <ion-row class="unreadnotifi" *ngFor="let friend of mutualFriendsList" >
    <ion-item lines="none">
      <ion-col col-3 size="3">
        <!-- <div class="notification-image">
          <img src="{{friend.user_friends.user_profile_picture.profile_picture}}" *ngIf="friend.user_friends.user_profile_picture">
          <img src="assets/imgs/grey-circle.png" *ngIf="!friend.user_friends.user_profile_picture">
        </div> -->

        <div class="notification-image" *ngIf="friend.user_friends.user_profile_picture" style="padding:0 !important">
          <img src="{{friend.user_friends.user_profile_picture.profile_picture}}" *ngIf="friend.user_friends.user_profile_picture" style="height:100%">
          <img src="assets/imgs/grey-circle.png" *ngIf="!friend.user_friends.user_profile_picture">
        </div>

        <div class="notification-image" *ngIf="!friend.user_friends.user_profile_picture">
          <img src="{{friend.user_friends.user_profile_picture.profile_picture}}" *ngIf="friend.user_friends.user_profile_picture">
          <img src="assets/imgs/grey-circle.png" *ngIf="!friend.user_friends.user_profile_picture">
        </div>
        <img class="online-icon circular-transparent" src="../assets/icon/online-icon.png" *ngIf="friend.user_friends.user_profile.status == '0'">
        <img class="online-icon circular-transparent" src="../assets/icon/online-blue-icon.png" *ngIf="friend.user_friends.user_profile.status == '1'">
      </ion-col>
      <ion-col col-9 size="9" >
        <div class="noti-title">{{friend.user_friends.first_name}} {{friend.user_friends.last_name}}</div>
      </ion-col>
    </ion-item>
  </ion-row>
 <!--  <ion-row class="unreadnotifi" >
      <ion-item lines="none">
        <ion-col col-3 size="3">
          <div class="notification-image">
            <img src="assets/imgs/grey-circle.png">
          </div>
        </ion-col>
        <ion-col col-9 size="9" >
          <div class="noti-title">Lawrence Tech University</div>
          <div class="noti-desc">Michigan, USA</div>
        </ion-col>
      </ion-item>
    </ion-row>
    <ion-row class="unreadnotifi" >
        <ion-item lines="none">
          <ion-col col-3 size="3">
            <div class="notification-image">
              <img src="assets/imgs/grey-circle.png">
            </div>
          </ion-col>
          <ion-col col-9 size="9" >
            <div class="noti-title">Lawrence Tech University</div>
            <div class="noti-desc">Michigan, USA</div>
          </ion-col>
        </ion-item>
      </ion-row> -->
</div>
<div class="text-center" *ngIf="mutualFriendsUnavailable">
    <p class="align-center">No Mutual Friends.</p>
</div>


<div class="tabs-wrapper">
<div class="tabsbar" slot="bottom">
   <a (click)="redirectToPage('profileother')"> 
       <ion-img src="assets/icon/profile-icon.png" class="tab-icon profile-icon" ></ion-img>
       <ion-label class="tab-text">PROFILE</ion-label>
   </a>
   <a (click)="redirectToPage('notification')"> 
       <ion-img src="assets/icon/notification-icon.png" class="tab-icon noti-icon" ></ion-img>
       <ion-label class="tab-text">NOTIFICATION</ion-label>
   </a>
   <a class="bluetab" (click)="openUniversityPage()">
       <ion-img src="assets/icon/icon-hat-unactive.png" class="tab-icon campusicon campusicon_unactive" ></ion-img>
   </a>
   <a (click)="redirectToNearbyAppartents()">
       <ion-img src="assets/icon/apartment-icon.png" class="tab-icon apt-icon" ></ion-img>
       <ion-label class="tab-text">APARTMENTS</ion-label>
   </a>
   <a (click)="redirectToPage('nearby')">
       <ion-img src="assets/icon/nearby-icon.png" class="tab-icon apticon nearby-icon" ></ion-img>
       <ion-label class="tab-text">NEARBY</ion-label>
   </a>
  </div>
</div>
</ion-content>
