  <ion-header class="absoluteheader">
      <ion-toolbar>
        <div class="grybg backbtn headerinline searchmenu">
          <button ion-button start class="menu-btn" (click)="goBack()">
              <img src="../assets/icon/black-back-icon.png">
          </button>
          <ion-searchbar (click)="searchuniversity()"  placeholder="Search Universities, Apartments, Roommates"></ion-searchbar>
        </div>
        <div class="headerinline">
          <button ion-button start class="chat-btn" (click)="openChat()">
            <img src="../assets/icon/msg-icon.png">
            <span class="unread-msgs" *ngIf="newMessage"></span>
        </button>
        </div>
        </ion-toolbar>
    </ion-header>


<ion-content padding class="overflow-visible" *ngIf="getAppartmentDetails!=null">
  <div class="universitybanner" *ngIf="getAppartmentDetails!=null">
    <ion-slides #slides pager="true" *ngIf="getAppartmentDetails.images.length > 0">
      <ion-slide *ngFor="let apartmentImage of getAppartmentDetails.images; let i = index">
        <img src="{{apartmentImage.image}}" class="slide-image" />
      </ion-slide>
    </ion-slides>
      <img src="../assets/img/university_default.png" width="100%" class="slide-image" *ngIf="getAppartmentDetails.images.length===0 || getAppartmentDetails.images===null"/>
  </div>

  <h2 class="detail-universityname" style="padding:0 20px;">{{getAppartmentDetails.apartment_name}}</h2>
  <p class="detail-smalltext" style="padding:0 20px;">{{getAppartmentDetails.apartment_address}}</p>
  <div class="detail-review-wrapper" style="padding:0 20px;" (click)="reviewAppartment()" *ngIf="getAppartmentDetails!=null">

      <ion-icon name="ios-star" *ngIf="getAppartmentDetails.average_rating>=1"></ion-icon>
      <ion-icon name="star-outline" *ngIf="getAppartmentDetails.average_rating<1"></ion-icon>

      <ion-icon name="ios-star" *ngIf="getAppartmentDetails.average_rating>=2"></ion-icon>
      <ion-icon name="star-outline" *ngIf="getAppartmentDetails.average_rating<2"></ion-icon>

      <ion-icon name="ios-star" *ngIf="getAppartmentDetails.average_rating>=3"></ion-icon>
      <ion-icon name="star-outline" *ngIf="getAppartmentDetails.average_rating<3"></ion-icon>

      <ion-icon name="ios-star" *ngIf="getAppartmentDetails.average_rating>=4"></ion-icon>
      <ion-icon name="star-outline" *ngIf="getAppartmentDetails.average_rating<4"></ion-icon>

      <ion-icon name="ios-star" *ngIf="getAppartmentDetails.average_rating>=5"></ion-icon>
      <ion-icon name="star-outline" *ngIf="getAppartmentDetails.average_rating<5"></ion-icon>

      <!-- <ion-icon name="star-outline"></ion-icon> -->
      <!-- <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon> -->
    </div>
    <div class="aprtment-info" style="padding:0 20px;" *ngIf="getAppartmentDetails!=null">
      <h5 class="greycolor" *ngIf="getAppartmentDetails.rooms && getAppartmentDetails.rooms.length > 0">ROOM </h5>
      <ion-row class="row-border-bottom"  *ngFor="let room of getAppartmentDetails.rooms; let i = index">
          <ion-col col-7 size="7">
              <ion-icon name="radio-button-off" class="apart-icon"></ion-icon>
              <h5 class="uni-price-info">{{room.room_name}} - <span class="price">${{roundValues(room.room_rent)}}</span></h5>
          </ion-col>
          <ion-col col-2 size="2">
            <small class="apart-area text-center">{{room.room_area}} sqft</small>
          </ion-col>
          <ion-col col-3 size="3" *ngIf="!isApplicationForRoom">
              <button ion-button (click)="application(room.id)" class="apply-btn"> apply</button>
          </ion-col>
          <ion-col col-3 size="3" *ngIf="isApplicationForRoom && room.id == this.application_room_id">
              <button ion-button (click)="acceptRoomRequest(applicationId)" class="apply-btn"> accept</button>
          </ion-col>
      </ion-row>
      <h5 class="greycolor" *ngIf="getAppartmentDetails.commute && getAppartmentDetails.commute.length > 0">COMMUTE </h5>
      <ion-row *ngIf="getAppartmentDetails.commute && getAppartmentDetails.commute.length > 0">
      <ion-col col-3 size="3" *ngFor="let commute of getAppartmentDetails.commute; let i = index">
          <div class="communte-info text-center" (click)="openInfo(commute.details_link)">
            <img class="com-icon" [src]="getCommuteImage(commute)" width="50px;">
            <p class="com-head">{{commute.commute_name}}</p>
            <p class="com-time">{{commute.time_in_minutes}} mins </p>
            <a (click)="openInfo(commute.details_link)" class="com-detail">details</a>
          </div>
        </ion-col>
        <!-- <ion-col col-3 size="3">
          <div class="communte-info text-center">
            <img class="com-icon" src="../assets/icon/cycle-icon.png" width="50px;">
            <p class="com-head">cycling</p>
            <p class="com-time">23 mins </p>
            <a href="#" class="com-detail">details</a>
          </div>
        </ion-col>
        <ion-col col-3 size="3">
            <div class="communte-info text-center">
              <img class="com-icon" src="../assets/icon/shuttle-icon.png" width="50px;">
              <p class="com-head">free shuttle</p>
              <p class="com-time">6 mins</p>
              <a href="#" class="com-detail">details</a>
            </div>
        </ion-col>
        <ion-col col-3 size="3">
            <div class="communte-info text-center">
              <img class="com-icon" src="../assets/icon/bus-icon.png" width="50px;">
              <p class="com-head">bus </p>
              <p class="com-time">10 mins</p>
              <a href="#" class="com-detail">details</a>
            </div>
        </ion-col>
        <ion-col col-3 size="3">
            <div class="communte-info text-center">
              <img class="com-icon" src="../assets/icon/car-icon.png" width="50px;">
              <p class="com-head">car</p>
              <p class="com-time">4 mins </p>
              <a href="#" class="com-detail">details</a>
            </div>
        </ion-col> -->
      </ion-row>
      <h5 class="greycolor" *ngIf="getAppartmentDetails.nearby && getAppartmentDetails.nearby.length > 0">NEARBY</h5>
      <ion-row class="noborder" *ngFor="let nearby of getAppartmentDetails.nearby; let i = index">
          <ion-col col-4 size="3">
              <div class="nearby-wrapper">
                  <!-- <img src="../assets/icon/small-business-icon.png" width="60px;"> -->
                  <img [src]="getNearByImage(nearby)" width="60px;">
                  <p class="com-head">{{nearby.nearby_name}} </p>
              </div>
          </ion-col>
          <ion-col col-8 size="9" *ngIf="nearby && nearby.nearby_details.length > 0">
            <ion-row (click)=openInfo(nearby_details.details_link) *ngFor="let nearby_details of nearby.nearby_details; let i = index">
              <ion-col col-4 size="4">
                <div class="nearby-wrapper">
                    <ion-item>
                        <p>
                            <strong>{{nearby_details.apartment_nearby_detail_name}}</strong>
                        </p>
                      </ion-item>
                </div>
              </ion-col>
              <ion-col col-4 size="4">
                <div class="nearby-wrapper">
                    <ion-item>
                        <p class="text-center">
                            {{nearby_details.distance_in_miles}} mile
                        </p>
                      </ion-item>
                </div>
              </ion-col>
              <ion-col col-4 size="4">
                  <div class="nearby-wrapper">
                      <ion-item>
                          <p class="text-center">
                              <a (click)=openInfo(nearby_details.details_link) class="com-detail">details</a>
                          </p>
                        </ion-item>
                  </div>
              </ion-col>
            </ion-row>
          <!--   <ion-row>
                <ion-col col-4 size="4">
                  <div class="nearby-wrapper">
                      <ion-item>
                          <ion-label>
                              <strong>meijer</strong>
                          </ion-label>
                        </ion-item>
                  </div>
                </ion-col>
                <ion-col col-4 size="4">
                  <div class="nearby-wrapper">
                      <ion-item>
                          <ion-label class="text-center">
                              3.0 mile
                          </ion-label>
                        </ion-item>
                  </div>
                </ion-col>
                <ion-col col-4 size="4">
                    <div class="nearby-wrapper">
                        <ion-item>
                            <ion-label class="text-center">
                                <a href="#" class="com-detail">details</a>
                            </ion-label>
                          </ion-item>
                    </div>
                </ion-col>
              </ion-row> -->
          </ion-col>
      </ion-row>
      <!-- <ion-row class="noborder">
          <ion-col col-4 size="4">
              <div class="nearby-wrapper">
                  <img src="../assets/icon/restaurant-icon.png" width="60px;">
                  <p class="com-head">restaurant  </p>
              </div>
          </ion-col>
          <ion-col col-8 size="8">
            <ion-row>
              <ion-col col-4>
                <div class="nearby-wrapper">
                    <ion-item>
                        <ion-label>
                            <strong>meijer</strong>
                        </ion-label>
                      </ion-item>
                </div>
              </ion-col>
              <ion-col col-4 size="4">
                <div class="nearby-wrapper">
                    <ion-item>
                        <ion-label class="text-center">
                            3.0 mile
                        </ion-label>
                      </ion-item>
                </div>
              </ion-col>
              <ion-col col-4 size="4">
                  <div class="nearby-wrapper">
                      <ion-item>
                          <ion-label class="text-center">
                              <a href="#" class="com-detail">details</a>
                          </ion-label>
                        </ion-item>
                  </div>
              </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-4 size="4">
                  <div class="nearby-wrapper">
                      <ion-item>
                          <ion-label>
                              <strong>meijer</strong>
                          </ion-label>
                        </ion-item>
                  </div>
                </ion-col>
                <ion-col col-4 size="4">
                  <div class="nearby-wrapper">
                      <ion-item>
                          <ion-label class="text-center">
                              3.0 mile
                          </ion-label>
                        </ion-item>
                  </div>
                </ion-col>
                <ion-col col-4 size="4">
                    <div class="nearby-wrapper">
                        <ion-item>
                            <ion-label class="text-center">
                                <a href="#" class="com-detail">details</a>
                            </ion-label>
                          </ion-item>
                    </div>
                </ion-col>
              </ion-row>
          </ion-col>
      </ion-row> -->
      <h5 class="greycolor" *ngIf="getAppartmentDetails.amenities && getAppartmentDetails.amenities.length > 0">AMENITIES </h5>
      <ion-row *ngIf="getAppartmentDetails.amenities && getAppartmentDetails.amenities.length > 0">
        <ion-col class="padding5" col-2 size="2" *ngFor="let amenities of  getAppartmentDetails.amenities; let i = index">
          <img [src]="getAmenitiesImage(amenities)">
          <p class="com-head amn-head fontsize10">{{amenities.amenities.amenities_name}}</p>
        </ion-col>
       <!--  <ion-col col-2 size="2">
          <img src="../assets/icon/washing-icon.png">
          <p class="com-head amn-head">washing m/c</p>
        </ion-col>
        <ion-col col-2 size="2">
          <img src="../assets/icon/dishwasher-icon.png">
          <p class="com-head amn-head">dishwasher</p>
        </ion-col>
        <ion-col col-2 size="2">
          <img src="../assets/icon/pool-icon.png">
          <p class="com-head amn-head">swimming pool</p>
        </ion-col>
        <ion-col col-2 size="2">
          <img src="../assets/icon/gym-icon.png">
          <p class="com-head amn-head">gym</p>
        </ion-col>
        <ion-col col-2 size="2">
            <img src="../assets/icon/pet-icon.png">
            <p class="com-head amn-head">pet-friendly</p>
          </ion-col> -->
      </ion-row>
      <h5 class="greycolor">CONTACT </h5>
      <ion-row>
          <ion-col col-2 size="2">
              <a class="group-data" href="mailto:{{getAppartmentDetails.email}}?Subject=''" target="_top">
                <button ion-button class="diet-btn selection-upload-btn">
                    <img src="../assets/icon/email-icon.png">
                </button>
                <div class="black-text">
                  <p class="com-head amn-head">email</p>
                </div>
              </a>
          </ion-col>
          <ion-col col-2 size="2">
              <a class="group-data" href="tel:{{getAppartmentDetails.contact_number}}">
                <button ion-button class="diet-btn selection-upload-btn">
                    <img src="../assets/icon/phone-icon.png">
                </button>
                <div class="black-text">
                  <p class="com-head amn-head">phone</p>
                </div>
              </a>
          </ion-col>
          <ion-col col-2 size="2">
            <div class="group-data" (click)="openInfo(getAppartmentDetails.website)" >
              <button ion-button class="diet-btn selection-upload-btn">
                  <img src="../assets/icon/web-icon.png">
              </button>
              <div class="black-text">
                <p class="com-head amn-head">website</p>
              </div>
            </div>
          </ion-col>
      </ion-row>
    </div>

    <div class="tabs-wrapper">
        <div class="tabsbar" slot="bottom">
            <a (click)="redirectToPage('profileother')">
                <ion-img src="assets/icon/profile-icon.png" *ngIf="!profileActive" class="tab-icon profile-icon" ></ion-img>
                <ion-img src="assets/icon/profile-icon_action.png" *ngIf="profileActive" class="tab-icon profile-icon" ></ion-img>
                <ion-label class="tab-text">PROFILE</ion-label>
            </a>
            <a (click)="redirectToPage('notification')">
                <ion-img src="assets/icon/notification-icon.png" *ngIf="!notificationActive"  class="tab-icon noti-icon" ></ion-img>
                <ion-img src="assets/icon/notification-icon-active.png"  *ngIf="notificationActive" class="tab-icon noti-icon" ></ion-img>
                <ion-label class="tab-text">NOTIFICATION</ion-label>
            </a>
            <a class="bluetab" (click)="openUniversityPage()">
                <ion-img src="assets/icon/icon-hat-unactive.png" class="tab-icon campusicon campusicon_unactive" ></ion-img>
            </a>
            <a (click)="redirectToNearbyAppartents()">
                <ion-img src="assets/icon/apartment-icon.png" *ngIf="!nearByApartmentsActive" class="tab-icon apt-icon" ></ion-img>
                <ion-img src="assets/icon/apartment-icon-active.png" *ngIf="nearByApartmentsActive" class="tab-icon apt-icon" ></ion-img>
                <ion-label class="tab-text">APARTMENTS</ion-label>
            </a>
            <a (click)="redirectToPage('nearby')">
                <ion-img src="assets/icon/nearby-icon.png" *ngIf="!nearbyActive" class="tab-icon apticon nearby-icon" ></ion-img>
                <ion-img src="assets/icon/nearby-icon-active.png"  *ngIf="nearbyActive" class="tab-icon apticon nearby-icon" ></ion-img>
                <ion-label class="tab-text">NEARBY</ion-label>
            </a>
        </div>
    </div>

</ion-content>
