apartmentdetail:host{
    ion-header{
        margin-top:15px;
        }
    .universitybanner{
        margin-top: -10%;
        border-radius: 0 0 20px 20px;
        overflow: hidden;
    }
    // .universitybanner img{
    //     border-radius: 0px 0px 20px 20px;
    // }
    .detail-universityname{
        margin:5px 0;
        font-family: 'open_sanssemibold';    
    }
    .detail-smalltext{
        margin:5px 0;
        color:#c4c4c4;
        font-family: 'open_sansregular';
    }
    .detail-review-wrapper ion-icon{
    font-size:23px;
    margin-right: 10px;
    }
    .black-text{
        color: #000000;;
        font-size: 11px;
        text-align: center;
    }
    .greycolor{
        font-family: 'open_sanssemibold';    
        color:#c4c4c4 !important;
    }
    .uni-price-info{
        font-family: 'open_sanssemibold'; 
        color:#979797;
        display:inline-block;
        font-size: 15px;
    margin-left: 5px;
    }

    .uni-price-info span{
        color:#000000;
    }
    .apart-area{
        font-size: 12px;
        display: block;
        margin-top: 18px;
        color: #000;
    }
    .apart-icon{
        color:#c4c4c4;
        font-size:10px;
    }
    .apply-btn{
        padding: 15px;
        height: 26px;
        border-radius: 20px;
        font-family: 'open_sanssemibold';
        width: 75px;
        background: #0066cc;
        color: #fff;
        line-height: 0px;
        margin-top: 10px;
    }

    .aprtment-info .row{
        border-bottom: 0.55px solid #c8c7cc;
    }

    .row-border-bottom{
        border-bottom: 0.55px solid #c8c7cc;
        margin: 0 -20px;
        padding: 0 20px;
    }

    .com-head{
        font-family: 'open_sansregular';
        margin: 5px 0;
        font-size: 12px;
    }
    .com-time{
        margin-top: -5px;
        font-weight: bold;
        font-family: 'open_sanssemibold';
        margin-bottom: 5px;
        font-size: 12px;
    }
    .com-detail{
        font-size: 11px;
        margin-top: -5px;
        display: block;
        font-family: 'open_sansregular';
        
    }

    .nearby-wrapper p{
        margin:0;
        font-size:10px;
        font-family: 'open_sansregular';
    }

    .nearby-wrapper{
    text-align: center;
    }

    .nearby-wrapper ion-item{
    --padding-start:0;
    }

    .nearby-wrapper .item-inner{
    border-bottom:none !important;
    }

    .nearby-wrapper .com-detail{
        margin-top:5px;
    } 

    .nearby-wrapper ion-item{
    min-height:30px;
    }
    .noborder{
    border-bottom:0 !important;
    }
    .amn-head{
    text-align:center;
    }
    .selection-upload-btn{
    background:#ebebeb;
    width:50px;
    height:50px;
    border-radius:50%;
    padding: 12px;
    margin: 0 auto;
    display: block;
    }
    ion-toolbar{
    --background:transparent;
    }
    ion-content{
        --padding-bottom: 75px !important;
    }

    .fontsize10{
    font-size:10px;
    }
    .padding5{
    padding:3px;
    }

    @media(max-width:360px){
        .com-head{
            font-size:10px;
        }
    }
}