.main {
  display:block;
  height:79vh;
  .chat-box {
    width: 100%;
    height: 80vh;
    position: relative;
    background: #f9fbfc;
    overflow: hidden;
    .message-area {
      height: auto;
      overflow: auto;
      padding: 15px 10px;
      bottom: 0;
      position: absolute;
      left: 0;
      right: 0;
      .message {
        p {
          color: #8a898b;
          font-size: 13px;
          margin: 0px;
          max-width: 45%;
          min-width: 45%;
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
          padding: 10px 15px 10px 7px;
          margin: 5px 0;
          background: #eeeeee;
          color: #000000;
          border-radius: 20px;
          /*margin-top: 20px;*/
        }
        p.receivemsg{
          float: right;
          background: #0066cc;
          color:#ffffff;
        }
      }
      .message.incoming {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        p {
          color: white;
          border-radius: 0 11px 11px 11px;
          background: #B9C0E9;
        }
      }
      .message.outgoing {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        p {
          border-radius: 11px 11px 0 11px;
        }
      }
    }
    .emo-area {
      position: absolute;
      bottom: 50px;
      left: 0;
      width: 100%;
      padding: 3px 10px;
    }
  }
}

.input-area {
  position: static;
  bottom: 1px;
  left: 0;
  width: 100%;
  height: 50px;
  background: white;
  form {
    display: flex;
    height: 100%;

    ion-input {
      width: 82%;
      border: none;
      padding: 5px 10px;
      color: #8a898b;
      font-size: 14px;
      background: inherit;
      &:focus {
        outline: none;
      }
    }
    button {
      width: 18%;
      border: none;
      color: #8a898b;
      opacity: 0.9;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      background: inherit;
      ion-icon {
        font-size: 2rem;
        color: #0066cc;
    margin-left: 15px;
      }
    }
  }
}

.align-center {
  padding-top: 50%;
  margin:0;
}

ion-footer{
 position:static 
}

.sendermsg .chatimg{
  display: block;
  width: 25px;
  margin-bottom: -20px;
  margin-top: 10px;
}

.receivemsg .chatimg{
  display: block;
  width: 25px;
  margin-bottom: -20px;
  margin-top: 10px;
  float: right;
  margin-right: -18px;
  
}

.chat_heading {
text-align: center;
margin-left: -15px;
margin-top: 10px;
margin-bottom: -5px;
}

.chat_heading img{
width: 40px;
overflow: hidden;
height: 40px;
border-radius: 50%;
display: inline-block;
vertical-align: middle;
margin-right: 15px;
}

.chat_heading p{
display:inline-block;
}

/*.message {
  margin-top: 10px;
}*/