<ion-header class="insidesearchmenu">
    <ion-toolbar>
      <div class="grybg headerinline backbtn searchmenu">
        <!-- <ion-menu-toggle auto-hide="false" disable="true"> -->
        <button ion-button start class="menu-btn searchbackbtn" (click)="goBack()">
            <img src="../assets/icon/black-back-icon.png">
        </button>
        <!-- </ion-menu-toggle> -->
        <ion-searchbar (click)="searchuniversity()"  placeholder="Search Universities, Apartments, Roommates"></ion-searchbar>
      </div>  
      <div class="headerinline">
        <button ion-button start class="chat-btn" (click)="openChat()">
          <img src="../assets/icon/msg-icon.png">
          <!-- <span class="unread-msgs"></span> -->
      </button>
      </div>
      <div class="chat_heading">
        <img *ngIf="userOnChat && userOnChat.user_profile_picture && userOnChat.user_profile_picture.profile_picture" src="{{userOnChat.user_profile_picture.profile_picture}}" width="40px">
        <!-- <img  src="assets/imgs/profil-camer-icon.png" width="40px"> -->
        <img *ngIf="(userOnChat && !userOnChat.user_profile_picture)" src="../assets/icon/profil-camer-icon.png" width="40px">
         <p *ngIf="userOnChat && userOnChat.user_type == '1'">{{userOnChat.first_name}} {{userOnChat.last_name}}</p> 
         <p *ngIf="userOnChat && userOnChat.user_type != '1'">{{userOnChat.account_name}}</p>  
      </div>
      </ion-toolbar>
  </ion-header>
  
  <!--   <ion-content >
      <div class="main">
        <div class="chat-box">
          <div class="message-area">
            <div>
            <div class="message">
              <p class="sendermsg">Hey there is a message for you </p>
            </div>
            </div>
            <div>
            <div class="message">
              <p class="sendermsg">Hey</p>
            </div>
            </div>
            <div>
            <div class="message outgoing">
              <p class="receivemsg">yoo</p>
            </div>
            </div>
            <div>
            <div class="message outgoing">
              <p class="receivemsg">yoo</p>
            </div>
            </div>
          </div>
          <div class="input-area">
            <form name="messageForm" #messageForm="ngForm">
              <ion-input type="text" [(ngModel)]="userMessage" name="message" id="message" placeholder="Write your message here..."></ion-input>
              <button (click)="sendMessage()">
                <ion-icon name="send"></ion-icon>
              </button>
            </form>
          </div>
        </div>
      </div>
    </ion-content> -->

  <ion-content >
    <div class="main">
      <div class="chat-box" id="chat-box">
        <div class="message-area" id="message-area" *ngIf="allMessages">
          <div *ngFor="let chatmessage of allMessages;">
            <div class="message" [ngClass]="{'outgoing': chatmessage.from_id == userId}">
              <p class="sendermsg" *ngIf="chatmessage.from_id != userId"><br>{{chatmessage.message}}</p>
              <p class="receivemsg" *ngIf="chatmessage.from_id == userId"><br>{{chatmessage.message}}</p>
            </div>
          </div>
        </div>

        <div class="text-center" *ngIf="!allMessages && noMessagesYet">
          <p class="align-center">Start Typing to begin chat.</p>
        </div>
      </div>
    </div>
  </ion-content>
  <div class="input-area">
    <form name="messageForm" #messageForm="ngForm">
      <ion-input type="text" #msg [(ngModel)]="userMessage" name="message" id="message" placeholder="Write your message here..."></ion-input>
      <button (click)="sendMessage(msg)">
        <ion-icon name="send"></ion-icon>
      </button>
    </form>
  </div>