 /*friends*/
 .friendsprofile-img{
    position: relative;
    }
    .online-icon{
    width: 12px;
    height: 12px;
    position: absolute;
    bottom: 10px;
    right: 20px; 
    }
    .upload-btn{
        background: #ebebeb;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        padding: 0px;
        position: relative;
    }
    .upload-btn img{
        width:100%;
        height:100%;
        object-fit: cover;
        }
    .profileicon{
    width: 30px !important;
    object-fit: unset !important;
    height: auto !important;
    }   

    .noti-title{
    color:#0066cc;
    }

    .main-title{
        padding:0 20px;
        width:100%;
        font-size:26px;
        }
.filtertabs{
margin: 10px auto;
border: 1px solid #000000;
width: 200px;
border-radius: 20px;
text-align: center;
display: block;
}

.filtertabs .ftabs{
display:inline-block;
padding: 7px;
text-align: center;
width: 48%;
}

.filtertabs .ftabs:first-child{
border-right:1px solid #000000;
}

.ignorefriend,.ignoretab{
color:#fe3a2f;
}

ion-item{
--padding-start:0;
}

ion-item ion-col{
margin-left: 15px;
margin-bottom: 5px;
margin-top: 5px;
}
