<ion-header class="insidesearchmenu">
  <ion-toolbar>
    <div class="grybg headerinline searchmenu backbtn">
      <button ion-button start class="menu-btn" (click)="goBack()">
          <img src="../assets/icon/black-back-icon.png">
      </button>

      <ion-searchbar (click)="searchuniversity()" placeholder="Search for Universities, Apartments, Roommates" (input)="searchFieldListener.next({index:i, value:$event.target.value, type:'name'})"></ion-searchbar>
    </div>
    <div class="headerinline">
      <button ion-button start class="chat-btn">
        <img src="../assets/icon/msg-icon.png">
        <span class="unread-msgs" *ngIf="newMessage"></span>
    </button>
    </div>
    </ion-toolbar>
</ion-header>
<ion-content class="padding-bottom">

    
    <ion-row class="unreadnotifi" *ngFor="let user of chatList; let i = index">
    	<h4 class="main-title" *ngIf="i == '0'">Chats</h4>
        <ion-item line="full" (click)="gotToChat(user.id, user)">
          <ion-col col-3 size="3" class="friendsprofile-img">
            <button ion-button class="upload-btn online">
                <img src='../assets/icon/profil-camer-icon.png' class="profileicon" *ngIf="!user.user_profile_picture || !user.user_profile_picture.profile_picture">
                <img src='{{user.user_profile_picture.profile_picture}}' *ngIf="user.user_profile_picture  && user.user_profile_picture.profile_picture">
            </button>
              <!-- <img class="online-icon" src="../assets/icon/online-icon.png"> -->
          </ion-col>
          <ion-col col-9 size="9" style="margin-left:0px">
            <div class="noti-title" *ngIf="user.user_type == '1'">{{user.first_name}} {{user.last_name}}</div> 
            <div class="noti-title" *ngIf="user.user_type == '2'">{{user.account_name}} <span><ion-icon name="school"></ion-icon></span></div> 
            <div class="noti-title" *ngIf="user.user_type == '3'">{{user.account_name}} <span><ion-icon name="home"></ion-icon></span></div> 
          </ion-col>
        </ion-item>
  	</ion-row>
    <div class="tabs-wrapper">
      <div class="tabsbar" slot="bottom">
         <a (click)="redirectToPage('profileother')"> 
             <ion-img src="assets/icon/profile-icon.png" class="tab-icon profile-icon" ></ion-img>
             <ion-label class="tab-text">PROFILE</ion-label>
         </a>
         <a (click)="redirectToPage('notification')"> 
             <ion-img src="assets/icon/notification-icon.png" class="tab-icon noti-icon" ></ion-img>
             <ion-label class="tab-text">NOTIFICATION</ion-label>
         </a>
         <a class="bluetab" (click)="openUniversityPage()">
             <ion-img src="assets/icon/icon-hat-unactive.png" class="tab-icon campusicon campusicon_unactive" ></ion-img>
         </a>
         <a (click)="redirectToNearbyAppartents()">
             <ion-img src="assets/icon/apartment-icon.png" class="tab-icon apt-icon" ></ion-img>
             <ion-label class="tab-text">APARTMENTS</ion-label>
         </a>
         <a (click)="redirectToPage('nearby')">
             <ion-img src="assets/icon/nearby-icon.png" class="tab-icon apticon nearby-icon" ></ion-img>
             <ion-label class="tab-text">NEARBY</ion-label>
         </a>
        </div>
      </div>
   
</ion-content>
