<ion-header class="hasbckbtn">
    <ion-toolbar>
        <ion-buttons slot="start" (click)="goBack()">
          <ion-back-button text=""></ion-back-button>
        </ion-buttons>
      </ion-toolbar>
  </ion-header>


<ion-content padding class="blue-bg">
  <div class="verticalcenter form-wrapper inputfocus">
    <h2 class="form-header">Set a password</h2>
    <p class="form-desc"  >Your password must include at least one number and be 8 or more characters long.</p>
    <!--<form class="choos-password-form" [formGroup]="choosePasswordForm" (ngSubmit)="submitted && !choosePasswordForm.invalid && registerUser(newUser)">-->
    <form class="choos-password-form" [formGroup]="choosePasswordForm" (ngSubmit)="submitted && !choosePasswordForm.invalid && registerUser(newUser)">
        <ion-item class="password-wrapper">
          <ion-input type="{{password_type}}" name="createpassword" [(ngModel)]="userDetails.password" name="createpassword" placeholder="PASSWORD" formControlName="password"></ion-input>
          <ion-icon name="eye-off" item-right (click)="togglePasswordMode()" *ngIf="password_type == 'password'"></ion-icon>
          <ion-icon name="eye" item-right (click)="togglePasswordMode()" *ngIf="password_type == 'text'"></ion-icon>
        </ion-item>
        <div padding-horizontal *ngIf="submitted && choosePasswordForm.controls['password'].errors?.required">
          <ion-label color="danger" class="error-label">This field is Required</ion-label>
        </div>
        <ion-item class="password-wrapper">
          <ion-input type="{{verfigypassword_type}}" [(ngModel)]="userDetails.confirm_password" name="verfiypassword" placeholder="VERIFY PASSWORD" formControlName="confirm_password" ></ion-input>
          <ion-icon name="eye-off" item-right (click)="togglePasswordMode1()" *ngIf="verfigypassword_type == 'password'"></ion-icon>
          <ion-icon name="eye" item-right (click)="togglePasswordMode1()" *ngIf="verfigypassword_type == 'text'"></ion-icon>
        </ion-item>
        <div padding-horizontal *ngIf="submitted && choosePasswordForm.controls['confirm_password'].errors?.required">
          <ion-label color="danger" class="error-label" >This field is required
          </ion-label>
        </div>
        <div padding-horizontal *ngIf="submitted && choosePasswordForm.controls['confirm_password'].errors?.notEquivalent && !choosePasswordForm.controls['confirm_password'].pristine">
          <ion-label color="danger" class="error-label">Those passwords didn't match
          </ion-label>
        </div>
        <button ion-button type="submit" block class="submitbtn forwardbtn" (click)="submitted = true"></button>
    </form>
</div>
</ion-content>
