notification:host{

ion-header{
margin-top:15px;
}
.noti-title{
margin-top: 10px;
color: #007dff;
text-transform: capitalize;
font-size: 14px;
}
.noti-desc{
font-size: 16px;
color: #979797;
margin-top:5px;
}
.blueheading{
color: #007dff;
}
.notificationpage ion-row{
border-bottom: 0.55px solid #c8c7cc;
}
.notification-image{
text-align:center;
width:60px;
height:60px;
border-radius: 50%;
overflow: hidden;
}
.notification-image img{
width:60px;
}
.unreadnotifi {
background: #ebebeb;
border: 0.8px solid #007dff !important;
border-radius: 10px;
margin-bottom: 12px;
}
.unreadnotifi .noti-desc{
color:#000000;
font-weight:bold;
font-size:14px;
}
ion-content{
--padding-bottom: 75px !important;
}
.noti_blacktext{
font-weight:normal;
}
.notificationpage{
    --padding-start:30px !important;   
    --padding-end:30px !important;   
    }   
}


.image-present {
	height: 100% !important;
	object-fit: cover;
}