<ion-header>
    <ion-toolbar>
      <div class="grybg headerinline searchmenu">
        <ion-menu-toggle auto-hide="false">
        <button ion-button start class="menu-btn">
            <img src="../assets/icon/hamburger-icon.png">
        </button>
        </ion-menu-toggle>
        <ion-searchbar (click)="searchuniversity()"  placeholder="Search Universities, Apartments, Roommates"></ion-searchbar>
      </div>  
      <div class="headerinline">
        <button ion-button start class="chat-btn" (click)="openChat()">
          <img src="../assets/icon/msg-icon.png">
          <span class="unread-msgs" *ngIf="newMessage"></span>
      </button>
      </div>
      </ion-toolbar>
  </ion-header>
  

<ion-content padding  class="notificationpage" *ngIf="allNotifications">
<h2 class="noti_blacktext fontregular" style="margin-top: -10px;margin-bottom: 20px;">Notification</h2>
<div class="notificationwrapper">
  <!-- <p class="blueheading">This week</p> -->
</div>
<ng-container *ngFor="let notification of allNotifications">
<ion-row style="padding:0 20px" class="unreadnotifi" *ngIf="notification.is_read == '0' && notification.notification_type != 'CHAT_MESSAGE'">
    <ion-col col-3 size="3" (click)="clickedNotification(notification)">

      <div class="notification-image">
        <img class="image-present" *ngIf="notification.user.user_profile_picture && notification.user.user_profile_picture.profile_picture"  src="{{notification.user.user_profile_picture.profile_picture}}">
        <img *ngIf="!notification.user.user_profile_picture" src="assets/imgs/grey-circle.png">
      </div>
    </ion-col>
    <ion-col col-9 size="9" (click)="clickedNotification(notification)">
      <div class="noti-title">{{getNotificationType(notification.notification_type)}} </div>
      <div class="noti-desc">{{notification.message }} </div>
    </ion-col>
</ion-row>

<ion-row style="padding:0 20px; opacity:0.5" class="unreadnotifi" *ngIf="notification.is_read == '1' && notification.notification_type != 'CHAT_MESSAGE'" (click)="clickedNotification(notification)">
    <ion-col col-3 size="3">

      <div class="notification-image">
        <img class="image-present" *ngIf="notification.user.user_profile_picture && notification.user.user_profile_picture.profile_picture"  src="{{notification.user.user_profile_picture.profile_picture}}">
        <img *ngIf="!notification.user.user_profile_picture" src="assets/imgs/grey-circle.png">
      </div>
    </ion-col>
    <ion-col col-9 size="9">
      <div class="noti-title">{{getNotificationType(notification.notification_type)}} </div>
      <div class="noti-desc">{{notification.message }} </div>
    </ion-col>
</ion-row>
</ng-container>
<div class="text-center" *ngIf="noNotification">
  <p class="align-center">No Notifications.</p>
</div>
<div class="tabs-wrapper">
      <div class="tabsbar" slot="bottom">
       <a (click)="redirectToPage('profileother')"> 
           <ion-img src="assets/icon/profile-icon.png" *ngIf="!profileActive" class="tab-icon profile-icon" ></ion-img>
           <ion-img src="assets/icon/profile-icon_action.png" *ngIf="profileActive" class="tab-icon profile-icon" ></ion-img>
           <ion-label class="tab-text">PROFILE</ion-label>
       </a>
       <a (click)="redirectToPage('notification')"> 
           <ion-img src="assets/icon/notification-icon.png" *ngIf="!notificationActive"  class="tab-icon noti-icon" ></ion-img>
           <ion-img src="assets/icon/notification-icon-active.png"  *ngIf="notificationActive" class="tab-icon noti-icon" ></ion-img>
           <ion-label class="tab-text">NOTIFICATION</ion-label>
       </a>
       <a class="bluetab" (click)="openUniversityPage()">
           <ion-img src="assets/icon/icon-hat-unactive.png" class="tab-icon campusicon campusicon_unactive" ></ion-img>
       </a>
       <a (click)="redirectToNearbyAppartents()">
           <ion-img src="assets/icon/apartment-icon.png" *ngIf="!nearByApartmentsActive" class="tab-icon apt-icon" ></ion-img>
           <ion-img src="assets/icon/apartment-icon-active.png" *ngIf="nearByApartmentsActive" class="tab-icon apt-icon" ></ion-img>
           <ion-label class="tab-text">APARTMENTS</ion-label>
       </a>
       <a (click)="redirectToPage('nearby')">
           <ion-img src="assets/icon/nearby-icon.png" *ngIf="!nearbyActive" class="tab-icon apticon nearby-icon" ></ion-img>
           <ion-img src="assets/icon/nearby-icon-active.png"  *ngIf="nearbyActive" class="tab-icon apticon nearby-icon" ></ion-img>
           <ion-label class="tab-text">NEARBY</ion-label>
       </a>
      </div>
</div>
<!-- 
<ion-row>
    <ion-col col-3 size="3">
      <div class="notification-image">
        <img src="assets/imgs/grey-circle.png">
      </div>
    </ion-col>
    <ion-col col-9 size="9">
      <div class="noti-title">Application Progress </div>
      <div class="noti-desc">Application reviewed  </div>
    </ion-col>
</ion-row>
<ion-row>
    <ion-col col-3 size="3">
      <div class="notification-image">
        <img src="assets/imgs/grey-circle.png">
      </div>
    </ion-col>
    <ion-col col-9 size="9">
      <div class="noti-title">Application Progress </div>
      <div class="noti-desc">Application reviewed  </div>
    </ion-col>
</ion-row>
<ion-row>
    <ion-col col-3 size="3">
      <div class="notification-image">
        <img src="assets/imgs/grey-circle.png">
      </div>
    </ion-col>
    <ion-col col-9 size="9">
      <div class="noti-title">Application Progress </div>
      <div class="noti-desc">Application reviewed  </div>
    </ion-col>
</ion-row> -->

</ion-content>


