<ion-header class="absoluteheader">
    <ion-toolbar>
        <div class="grybg headerinline searchmenu">
                <ion-menu-toggle auto-hide="false">
                <button ion-button start class="menu-btn">
                    <img src="../assets/icon/hamburger-icon.png">
                </button>
            </ion-menu-toggle>
            <ion-searchbar (click)="searchuniversity()"
                           placeholder="Search Universities, Apartments, Roommates"></ion-searchbar>
        </div>
        <div class="headerinline">
            <button ion-button start class="chat-btn" (click)="openChat()">
                <img src="../assets/icon/msg-icon.png">
                <span class="unread-msgs" *ngIf="newMessage"></span>
            </button>
        </div>
    </ion-toolbar>
</ion-header>

<!-- <ion-content>

    <div #map id="map" style="height:100%;width:100%"></div>
</ion-content> -->


<ion-content padding class="overflow-visible">
    <div class="university-location">
        <!--<img src="../assets/imgs/maps.jpg">-->
        <div class="map-wrapper" >
            <div id="map_center">
                <!--<img src="../../assets/icon/center_marker.png" />-->
            </div>
            <div #map id="map"></div>
        </div>
    </div>

    <div class="universitylist-wrapper" style="padding:0 10px;">
        <h3 class="apthead">Apartments near: </h3>
        <h2 class="universityname" *ngIf="universityData">{{universityData.university_name}}</h2>
        <ion-card *ngIf="appartmentsOnCampus.length">
            <ion-card-header (click)="redirectToOnCampus(appartmentsOnCampus[0].id)">
                <ion-list>
                    <ion-item lines="none">
                        <button ion-button clear small icon-only class="removebg">
                            <ion-icon name="arrow-forward"></ion-icon>
                        </button>
                        ON CAMPUS
                    </ion-item>
                </ion-list>
            </ion-card-header>
            <ion-card-content #oncampus *ngIf="onCampus">
<!--
                &lt;!&ndash;<ng-content></ng-content> &ndash;&gt;
-->
                <ion-row *ngFor="let appartment of appartmentsOnCampus; let i = index" >

                    <ion-col col-5 size="5" (click)="pageTobeLoaded('apartmentdetail', appartment.id)">
                        <div class="unilist-image">
                            <img src="{{appartment.logo}}">
                        </div>
                    </ion-col>
                    <ion-col col-7 size="7" (click)="pageTobeLoaded('apartmentdetail', appartment.id)">
                        <h4 class="uni-name">{{appartment.apartment_name}}</h4>
                        <!-- <p class="grey-info">1bed - 2bed</p> -->
                        <!-- <p class="price">$1000-$1499</p> -->
                        <p class="uni-address">{{appartment.apartment_address}}</p>
                        <div class="uni-review-wrapper">
                           <!-- <ion-icon name="star-outline"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>-->
                            <ion-icon name="ios-star" *ngIf="appartment.average_rating>=1"></ion-icon>
                            <ion-icon name="star-outline" *ngIf="appartment.average_rating<1"></ion-icon>

                            <ion-icon name="ios-star" *ngIf="appartment.average_rating>=2"></ion-icon>
                            <ion-icon name="star-outline" *ngIf="appartment.average_rating<2"></ion-icon>

                            <ion-icon name="ios-star" *ngIf="appartment.average_rating>=3"></ion-icon>
                            <ion-icon name="star-outline" *ngIf="appartment.average_rating<3"></ion-icon>

                            <ion-icon name="ios-star" *ngIf="appartment.average_rating>=4"></ion-icon>
                            <ion-icon name="star-outline" *ngIf="appartment.average_rating<4"></ion-icon>

                            <ion-icon name="ios-star" *ngIf="appartment.average_rating>=5"></ion-icon>
                            <ion-icon name="star-outline" *ngIf="appartment.average_rating<5"></ion-icon>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
        <ion-card *ngIf="appartmentsOffCampus.length">
            <ion-card-header (click)="toggleAccordion('offcampus')">
                <ion-list>
                    <ion-item lines="none">
                        <button ion-button clear small icon-only class="removebg">
                            <ion-icon name="arrow-forward"></ion-icon>
                        </button>
                        OFF CAMPUS
                    </ion-item>
                </ion-list>
            </ion-card-header>
            <ion-card-content >

                <!-- <ng-content>  -->
                    <ion-row *ngFor="let appartment of appartmentsOffCampus; let i = index">
                        <ion-col col-5 size="5" (click)="pageTobeLoaded('apartmentdetail', appartment.id)">
                            <div class="unilist-image">
                                <img src="{{appartment.logo}}">
                            </div>
                        </ion-col>
                        <ion-col id="apartment_{{appartment.id}}" col-7 size="7" (click)="pageTobeLoaded('apartmentdetail', appartment.id)">
                            <h4 class="uni-name">{{appartment.apartment_name}}</h4>
                            <!-- <p class="grey-info">1bed - 2bed</p> -->
                            <!-- <p class="price">$1000-$1499</p> -->
                            <p class="uni-address">{{appartment.apartment_address}}</p>
                            <div class="uni-review-wrapper">
                                <ion-icon name="ios-star" *ngIf="appartment.average_rating>=1"></ion-icon>
                                <ion-icon name="star-outline" *ngIf="appartment.average_rating<1"></ion-icon>

                                <ion-icon name="ios-star" *ngIf="appartment.average_rating>=2"></ion-icon>
                                <ion-icon name="star-outline" *ngIf="appartment.average_rating<2"></ion-icon>

                                <ion-icon name="ios-star" *ngIf="appartment.average_rating>=3"></ion-icon>
                                <ion-icon name="star-outline" *ngIf="appartment.average_rating<3"></ion-icon>

                                <ion-icon name="ios-star" *ngIf="appartment.average_rating>=4"></ion-icon>
                                <ion-icon name="star-outline" *ngIf="appartment.average_rating<4"></ion-icon>

                                <ion-icon name="ios-star" *ngIf="appartment.average_rating>=5"></ion-icon>
                                <ion-icon name="star-outline" *ngIf="appartment.average_rating<5"></ion-icon>
                            </div>
                        </ion-col>
                    </ion-row>
                    <!-- <ion-row>
                        <ion-col col-5 size="5">
                            <div class="unilist-image">
                                <img src="../assets/imgs/university-thumb.jpg">
                            </div>
                        </ion-col>
                        <ion-col col-7 size="7" (click)="universityprofile()">
                            <h4 class="uni-name">Springfield Apartments</h4>
                            <p class="grey-info">1bed - 2bed</p>
                            <p class="price">$1000-$1499</p>
                            <p class="uni-address">20000, Civic Center Dr.
                                Southfield MI 48003</p>
                            <div class="uni-review-wrapper">
                                <ion-icon name="star-outline"></ion-icon>
                                <ion-icon name="star-outline"></ion-icon>
                                <ion-icon name="star-outline"></ion-icon>
                                <ion-icon name="star-outline"></ion-icon>
                                <ion-icon name="star-outline"></ion-icon>
                            </div>
                        </ion-col>
                    </ion-row> -->
                <!-- </ng-content>  -->
            </ion-card-content>
        </ion-card>
    </div>
    <div class="tabs-wrapper">
        <div class="tabsbar" slot="bottom">
       <a (click)="redirectToPage('profileother')">
           <ion-img src="assets/icon/profile-icon.png" *ngIf="!profileActive" class="tab-icon profile-icon" ></ion-img>
           <ion-img src="assets/icon/profile-icon_action.png" *ngIf="profileActive" class="tab-icon profile-icon" ></ion-img>
           <ion-label class="tab-text">PROFILE</ion-label>
       </a>
       <a (click)="redirectToPage('notification')">
           <ion-img src="assets/icon/notification-icon.png" *ngIf="!notificationActive"  class="tab-icon noti-icon" ></ion-img>
           <ion-img src="assets/icon/notification-icon-active.png"  *ngIf="notificationActive" class="tab-icon noti-icon" ></ion-img>
           <ion-label class="tab-text">NOTIFICATION</ion-label>
       </a>
       <a class="bluetab" (click)="openUniversityPage()">
           <ion-img src="assets/icon/icon-hat-unactive.png" class="tab-icon campusicon campusicon_unactive" ></ion-img>
       </a>
       <a (click)="redirectToNearbyAppartents()">
           <ion-img src="assets/icon/apartment-icon.png" *ngIf="!nearByApartmentsActive" class="tab-icon apt-icon" ></ion-img>
           <ion-img src="assets/icon/apartment-icon-active.png" *ngIf="nearByApartmentsActive" class="tab-icon apt-icon" ></ion-img>
           <ion-label class="tab-text">APARTMENTS</ion-label>
       </a>
       <a (click)="redirectToPage('nearby')">
           <ion-img src="assets/icon/nearby-icon.png" *ngIf="!nearbyActive" class="tab-icon apticon nearby-icon" ></ion-img>
           <ion-img src="assets/icon/nearby-icon-active.png"  *ngIf="nearbyActive" class="tab-icon apticon nearby-icon" ></ion-img>
           <ion-label class="tab-text">NEARBY</ion-label>
       </a>
      </div>
    </div>
</ion-content>

