universitylist:host{
    .university-location{
        margin-top: -10%;
        // margin-left: -10px;
        // margin-right: -10px;
    }

    .university-location{
        border-radius: 0px 0px 20px 20px;
        overflow:hidden;
    }

    /*accordian*/
    .universitylist-wrapper ion-card{
    margin:0;
    width: 100%;
    border: 0.5px solid #0066cc;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: none;
    }
    ion-card-header{
        background-color: transparent;
        color: #c4c4c4;
        padding: 0;
        font-family: 'open_sanssemibold';
    }
    .card-content {
        padding: 0px 16px;
        max-height: 0px;
    }

    .universitylist-wrapper ion-label{
    margin:0;
    font-size:14px;
    }

    .universitylist-wrapper ion-label button{
    vertical-align: middle;
    }

    .universitylist-wrapper ion-item{
    padding-left:0;
    background:transparent;
    color:#979797;
    border:none !important;
--padding-start:0px;
}
    ion-card-header{
    padding:0;
    }

    .universitylist-wrapper ion-card-header ion-icon{
        color: #979797 !important;
        font-size: 20px !important;
    }
    .universitylist-wrapper{
        margin-top: 10px;
    }
    .unilist-image img{
    border-radius: 5px;
    height: 100px;
    }

    .uni-name,.price{
        font-family: 'open_sanssemibold';
        color:#000000;
    }
    .grey-info,.uni-address{
    color:#979797;
    font-family: 'open_sansregular';
    }
    .uni-review-wrapper ion-icon{
        font-size:22px;
        margin-left:5px;
    }

    .item-native{
    display:none;
    }
}

#map_canvas {
    width: 90%;
    height: 80%;
    border: 1px solid red;
}


#address {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

#map {
    width: 100%;
    height: 70vh;
}

.map-wrapper {
    position: relative;

    #map_center {
        position: absolute;
        z-index: 99;
        height: 40px;
        width: 40px;
        left: 0;
        top: 0;
        right: 0;
        bottom:0;
        margin-left: -21px;
        margin-top: -41px;
    }

}

.universityname{
    font-family: 'open_sanssemibold';
    color:#0066cc;
    text-align:center;
    margin-top: -5px;
    font-size: 18px;

    }

.apthead{
text-align:center;
font-size:15px;
}

ion-toolbar{
--background:transparent;
}

ion-content{
    --padding-bottom: 75px !important;
}
