<ion-header>
    <ion-toolbar>
      <div class="grybg headerinline searchmenu">
        <ion-menu-toggle auto-hide="false">
        <button ion-button start class="menu-btn">
            <img src="../assets/icon/hamburger-icon.png">
        </button>
        </ion-menu-toggle>
        <ion-searchbar (click)="searchuniversity()"  placeholder="Search Universities, Apartments, Roommates"></ion-searchbar>
      </div>  
      <div class="headerinline">
        <button ion-button start class="chat-btn" (click)="openChat()">
          <img src="../assets/icon/msg-icon.png">
          <span class="unread-msgs" *ngIf="newMessage"></span>
      </button>
      </div>
      </ion-toolbar>
  </ion-header>

<ion-content padding>
<ion-card class="nearby-wrapper" *ngFor="let event of eventsList; let i = index">
  <ion-card-content>
    <ion-row>
      <ion-col col-9>
          <p class="nearby-day" id="event{{i}}">{{checkIfTodaysDate(event.expires_on)}}</p>   
          <!-- <p class="nearby-date">Tuesday, November 13</p> -->
          <p class="nearby-date">{{ event.expires_on | date:'EEEE, LLLL dd' }}</p>
      </ion-col>
      <ion-col col-3>
          <p class="nearby-title">Nearby</p>
      </ion-col>
    </ion-row>
    <div class="profile-other-info">
      <div class="nearby-image">
        <img src="{{event.event_image}}">
      </div>
    </div>
    <div class="add-remove-wrapper">
      <ion-row>
          <ion-col col-4 size="4" (click)="interestForEvent(0, event.id)">
              <button ion-button class="ignore-btn">
                  <img src="../assets/icon/removewhite-icon.png">
              </button>
              <p class="bluesmalltitle">NOPE</p>
          </ion-col>
          <ion-col col-4 size="4" class="text-center"> 
              <button ion-button class="scrollup-btn" (click)="scrollToPrev(i)">
                  <img src="../assets/icon/up-icon.png">
              </button>
              <button ion-button class="scrolldwn-btn" (click)="scrollToNext(i)">
                  <img src="../assets/icon/down-icon.png">
              </button>
          </ion-col>
          <ion-col col-4 size="4" (click)="interestForEvent(1, event.id)">
              <button ion-button class="add-btn">
                  <img src="../assets/icon/addwhite-icon.png">
              </button>
              <p class="bluesmalltitle" >GOING</p>
          </ion-col>
      </ion-row>
    </div>
  </ion-card-content>
</ion-card>
<div class="text-center" *ngIf="!eventsList || eventsList.length < 1">
  <p class="align-center">No events available.</p>
</div>
<div class="tabs-wrapper">
  <div class="tabsbar" slot="bottom">
       <a (click)="redirectToPage('profileother')"> 
           <ion-img src="assets/icon/profile-icon.png" *ngIf="!profileActive" class="tab-icon profile-icon" ></ion-img>
           <ion-img src="assets/icon/profile-icon_action.png" *ngIf="profileActive" class="tab-icon profile-icon" ></ion-img>
           <ion-label class="tab-text">PROFILE</ion-label>
       </a>
       <a (click)="redirectToPage('notification')"> 
           <ion-img src="assets/icon/notification-icon.png" *ngIf="!notificationActive"  class="tab-icon noti-icon" ></ion-img>
           <ion-img src="assets/icon/notification-icon-active.png"  *ngIf="notificationActive" class="tab-icon noti-icon" ></ion-img>
           <ion-label class="tab-text">NOTIFICATION</ion-label>
       </a>
       <a class="bluetab" (click)="openUniversityPage()">
           <ion-img src="assets/icon/icon-hat-unactive.png" class="tab-icon campusicon campusicon_unactive" ></ion-img>
       </a>
       <a (click)="redirectToNearbyAppartents()">
           <ion-img src="assets/icon/apartment-icon.png" *ngIf="!nearByApartmentsActive" class="tab-icon apt-icon" ></ion-img>
           <ion-img src="assets/icon/apartment-icon-active.png" *ngIf="nearByApartmentsActive" class="tab-icon apt-icon" ></ion-img>
           <ion-label class="tab-text">APARTMENTS</ion-label>
       </a>
       <a (click)="redirectToPage('nearby')">
           <ion-img src="assets/icon/nearby-icon.png" *ngIf="!nearbyActive" class="tab-icon apticon nearby-icon" ></ion-img>
           <ion-img src="assets/icon/nearby-icon-active.png"  *ngIf="nearbyActive" class="tab-icon apticon nearby-icon" ></ion-img>
           <ion-label class="tab-text">NEARBY</ion-label>
       </a>
      </div>
  </div>
</ion-content>

