nearby:host{
ion-header{
margin-top:15px;
}
.nearby-wrapper ion-card-content{
padding:0;
box-shadow: none;
}

.nearby-wrapper{
box-shadow: none;
}
.ignore-btn{
background: #fe3a2f;
border-radius: 50%;
width: 50px;
height: 50px;
padding: 5px;
margin: 0 auto;
display: block;
margin-top: 25px;
}

.add-btn{
background: #00ff00;
border-radius: 50%;
width: 50px;
height: 50px;
padding: 5px;
margin: 0 auto;
display: block;
margin-top: 25px;
}

.scrollup-btn,.scrolldwn-btn{
background:transparent;
box-shadow:none;
width:50px;
margin:20px auto;
display: block;
}

.bluesmalltitle{
color:#0066cc;
font-size:10px;
font-family: 'open_sanssemibold';
text-align: center;
margin-top: 5px;
}

.nearby-day{
font-size: 24px;
color: #06c;
}
.novertical-scroll {
overflow: hidden;
}

.nearby-date{
font-size: 16px;
color: #06c;
margin-bottom: 15px;
}

.nearby-title{
font-size: 16px;
text-align: right;
color: #000;
}
ion-content{
--padding-bottom: 75px !important;
}
}
.align-center {
margin-top: 50%;
}