<!-- <ion-header>
  <ion-toolbar>
    <ion-title>home-tabs</ion-title>
  </ion-toolbar>
</ion-header>
-->
<ion-content>

  <div class="tabs-wrapper">
    <div class="tabsbar" slot="bottom">
       <a> 
           <ion-img src="assets/icon/profile-icon.png" class="tab-icon profile-icon" ></ion-img>
           <ion-label class="tab-text">PROFILE</ion-label>
       </a>
       <a> 
           <ion-img src="assets/icon/notification-icon.png" class="tab-icon noti-icon" ></ion-img>
           <ion-label class="tab-text">NOTIFICATION</ion-label>
       </a>
       <a class="bluetab" >
           <ion-img src="assets/icon/icon-hat-unactive.png" class="tab-icon campusicon campusicon_unactive" ></ion-img>
       </a>
       <a>
           <ion-img src="assets/icon/apartment-icon.png" class="tab-icon apt-icon" ></ion-img>
           <ion-label class="tab-text">APARTMENTS</ion-label>
       </a>
       <a>
           <ion-img src="assets/icon/nearby-icon.png" class="tab-icon apticon nearby-icon" ></ion-img>
           <ion-label class="tab-text">NEARBY</ion-label>
       </a>
      </div>
    </div>
</ion-content> 

