welcome:host {
.welcome-wrapper{
width: 90%;
margin: 0 auto;
}
.logo-container{
width: 120px;
margin: 0 auto;
margin-top: 25%;
}

.white-heading{
text-align: center;
font-weight: bold;
color: #fff;
font-size: 28px;
--ion-font-family: 'open_sansbold'; 
margin-bottom: 30px;
}
.login-wrapper{
margin-top:10px;
}
.socialbtn{
background-color: #ffffff;
background-image: url(assets/imgs/login-social-icons.png);
border-radius: 40px;
width: 95%;
margin: 15px auto;
color: #0066cc;
height: 45px;
font-size: 14px;
background-repeat: no-repeat;
background-size: 20px;
background-position: 20px 12px;
text-transform: capitalize;
box-shadow: none;
font-family: 'open_sansregular';
font-weight: 500;
display: block;
}
.fb-btn{
background-position: 20px -30px;
}
.create-btn{
border: 2px solid #ffffff;
width: 95%;
text-align: center;
margin: 15px auto;
border-radius: 30px;
height: 45px;
text-transform: capitalize;
box-shadow: none;
font-size: 14px;
background: transparent;
font-family: 'open_sansregular';
color: #fff;
display:block;
}
.legal-wrapper p,.legal-wrapper a{
color:#ffffff;
font-size: 11px;
font-family: 'open_sansregular';
}
.legal-wrapper p{
width: 93%;
display: block; 
margin: 0 auto;
}
.legal-wrapper a{
text-decoration: underline;
}

.loginnwrapper{
text-align:right;
margin-top: 20px;
}

.logininbtn{
background: transparent;
box-shadow: none;
text-transform: capitalize;
font-size: 14px;
margin-top: 5%;
letter-spacing: 1px;
font-family: 'open_sansbold';
color: #fff;
}

.close_app ion-icon{
color:#ffffff;
font-size: 25px;
margin-top: 20px;
}
}

