<ion-content padding class="blue-bg">
	<div class="welcome-wrapper">
		<div class="close_app" (click)="exitApp()">
			<ion-icon name="close"></ion-icon>
		</div>
		<div class="logo-container">
			<img src="assets/imgs/logo-white.png">
		</div>
		<h1 class="white-heading">Welcome to Setlor</h1>

		<div class="login-wrapper">
			<button ion-button class="socialbtn google-btn" (click)="loginWithGoogle()">Continue with Google</button>
			<button ion-button class="socialbtn fb-btn" (click)="loginWithFB()">Continue with Facebook</button>
			<button ion-button class="create-btn" (click)="createaccount()">Create Account</button>
		</div>

		<div class="legal-wrapper">
			<p>By tapping Continue or Create Account, I agree to Setlor’ <a (click)="termsAndService()">Terms of Service</a>, <a>Payments Terms of Service</a>, <a (click)="policyPage()">Privacy Policy</a> and <a>Non-Discimnation Policy</a>.</p>
		</div>

		<div class="footer loginnwrapper">
			<button ion-button class="logininbtn" (click)="login()">Log In</button>
		</div>
	</div>
</ion-content>

