<ion-header>
  <!-- <ion-toolbar>
    <ion-title>interest</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content >
<div class="interest-wrapper">
    <h3 class="heading" style="margin-top: 35px;">Let's add your interests to help you connect with the universities</h3>
    <h4 class="greycolor">Interests </h4>
    <div class="customsearch-wrapper">
     <div class="inputsearchwrapper"> 
    <input type="text" name="interestsearch" class="customsearchinput" (input)="inputNameAndEmailListener.next({index:i, value:$event.target.value, type:'name'})" placeholder="automotive, canada, masters eg">
     </div>
    <div class="searchplaceholder" [ngStyle]="{'display':selectedInterestsName.length  ? 'block' : 'none' }">
      <!-- <img src="../assets/icon/search-icon.png"> -->
          <ul class="interestselected">
            <li *ngFor="let selectedInterest of selectedInterestsName; let i = index;">{{selectedInterest}} <ion-icon name="close-circle" (click)="removeInterest(i, selectedInterests[i])"></ion-icon></li>
          </ul>
    </div>
 
    <ion-list class="interestdata-wrappper" *ngIf="searchedInterest" [ngStyle]="{'display':searchedInterest.length  ? 'block' : 'none' }">
      <ion-item  *ngFor="let interest of searchedInterest" (click)="interestSelected(interest.id, interest.interest_name)">
      <p>{{interest.interest_name}}</p>
      </ion-item>
        
    </ion-list>  
  </div>
</div>
</ion-content>
<div class="interestbtn-wrapper" slot="bottom">
  <button class="skipbtn" *ngIf="!selectedInterestsName.length" (click)="skipInterest()">skip >></button>
  <button class="savebtn" *ngIf="selectedInterestsName.length" (click)="saveInterest()">save</button>
</div>