.interest-wrapper{
padding:0 20px;
}


.heading{
    font-family: 'open_sansbold';
}

.greycolor{
    font-family: 'open_sanssemibold';
    font-size:22px;
}

.customsearch-wrapper{
    margin: 0 -20px;
    // border-bottom: 1px solid #eee;
    padding: 0 20px;
    margin-top: 25px;
    padding-bottom: 10px;
}

.inputsearchwrapper{
    margin: 0 -20px;
    border-bottom: 1px solid #eee;
    padding: 0 20px;
    padding-bottom: 10px;
}

.customsearchinput{
background-image:url('assets/icon/search-icon.png');
background-repeat: no-repeat;
width: 100%;
border: none;
padding-left: 50px;
background-size: 20px;
height: 35px;
background-position: left center;
}

.customsearchinput::placeholder{
color:#c4c4c4;
}

.interestbtn-wrapper{
position: fixed;
bottom: 0px;
left: 0;
right: 0;
text-align:center;
background: #fff;
    padding-bottom: 10px;
    padding-top: 10px;
}

.skipbtn{
background: transparent;
color: #b8b8b8;
border: 1px solid #b8b8b8;
font-family: 'open_sanssemibold';
font-size: 18px;
padding: 10px 30px;
border-radius: 30px;
}

.savebtn{
    background: #0066cc;
    color: #ffffff;
    border: 1px solid #0066cc;
    font-family: 'open_sanssemibold';
    font-size: 22px;
    padding: 6px 35px;
    border-radius: 30px;  
}

.searchplaceholder{
    margin: 0 -20px;
    padding: 0 20px;
    border-bottom: 1px solid #eee;
    display:none;
}

.searchplaceholder img{
    width: 20px;
    display: inline-block;
}

.interestselected{
display:inline-block;
vertical-align: middle;
margin-top: 0px;    
padding-left:25px;

}

.interestselected li{
display:inline-block;
background:#0066cc;
border-radius:20px;
color:#ffffff;
padding:5px 10px;
font-size:18px;
margin-right:10px;
margin-bottom:10px;
}

.interestselected ion-icon{
vertical-align: middle;
}

.interestdata-wrappper{
margin:0 -20px;
display:none;
height: 50vh;
overflow: scroll;
padding-bottom: 20px;
}

.interestdata-wrappper ion-item{
--padding-start:0px;
}

.interestdata-wrappper ion-item p{
padding-left:20px;
}