<ion-header class="hasbckbtn notopscroll">
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button text=""></ion-back-button>
        </ion-buttons>
      </ion-toolbar>
  </ion-header>
  
  <ion-content padding class="blue-bg">
    <div class="verticalcenter form-wrapper section1">
      <h2 class="form-header">Forgot your password?</h2>
      <!-- <form (submit)="sendPassword()"> -->
          <ion-item>
            <ion-input type="text" [(ngModel)] = "passwordEmail.email"  placeholder="EMAIL ADDRESS"></ion-input>
          </ion-item>
           <div padding-horizontal *ngIf="blankEmail">
            <ion-label color="danger">Email is Required</ion-label>
          </div>
          <div padding-horizontal *ngIf="invalidEmail">
            <ion-label color="danger">Please enter valid email</ion-label>
          </div>
          <button ion-button type="submit" block class="submitbtn forwardbtn" (click)="sendPassword()" [hidden]="!passwordNotSent"></button>
          <button ion-button type="submit" block class="submitbtn forwardbtn resendbtn" (click)="sendPassword()" [hidden]="passwordNotSent">resend</button>
      <!-- </form> -->

      <div class="otp-wrapper" [hidden]="passwordNotSent">
          <h2 class="form-header">OTP</h2>
          <p class="form-desc">An email with a 5-digit verification code was just sent to above email.</p>
      <form id="otp_area">
          <ion-row>
              <ion-col> <ion-input #a type="text"   name="otpval1" [(ngModel)]="otp1" (ngModelChange)="moveFirstFocus(b, $event, a)" class="otpval"></ion-input></ion-col>
              <ion-col><ion-input type="text"   name="otpval2" [(ngModel)]="otp2" maxlength="1" #b (keyup)="moveFocus(c, $event)" class="otpval"></ion-input></ion-col>
              <ion-col> <ion-input type="text"   name="otpval3" [(ngModel)]="otp3" maxlength="1"  #c (keyup)="moveFocus(d, $event)" class="otpval"></ion-input></ion-col>
              <ion-col> <ion-input type="text"   name="otpval4" [(ngModel)]="otp4" maxlength="1"  #d (keyup)="moveFocus(e, $event)" class="otpval"></ion-input></ion-col>
              <ion-col> <ion-input type="text"   name="otpval5" [(ngModel)]="otp5" maxlength="1" #e class="otpval" (keyup)="moveFocus('', $event)" ></ion-input></ion-col>
          </ion-row>
      </form>
      </div>
  </div>
  </ion-content>
