profile:host {

  // .profile-wrapper{
  // padding:0 20px;
  // }

  ion-auto-complete {
    width: 100%;
  }

  .upload-btn {
    background: #ebebeb;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    padding: 0;
  }
  .upload-btn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .inner-title {
    color: #c4c4c4;
  }

  ion-content {
    --ion-background-color: #ffffff;
  }

  .profileicon {
    width: 60px !important;
    object-fit: unset !important;
    height: auto !important;
  }

  .item {
    padding-left: 0px;
  }

  button.contact-upload-btn {
    background: #d7d7d7;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 20px;
  }

  .contact-details-wrapper {
    padding: 0 20px;
  }
  .contact-details-wrapper .item-inner {
    text-align: center;
    border: none !important;
  }

  .profile-otherdetails-wrapper ion-input {
    padding: 0 20px !important;
    font-style: italic;
  }

  .selection-upload-btn {
    background: #ebebeb;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px;
    margin-top: 10px;
  }
  small {
    color: #979797;
    text-align: center;
    display: block;
    margin-bottom: 10px;
    font-family: 'open_sanssemibold';
    font-size: 9px;
  }

  .border-bottom .item-inner {
    border-bottom: none !important
  }

  .border-bottom {
    border-bottom: 0.55px solid #c8c7cc;
  }
  .haveinterest {
    padding: 0;
    margin: 0;
  }
  .haveinterest li {
    display: inline-block;
    color: #ffffff;
    margin-right: 10px;
    background: #0066cc;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 17px;
    margin-bottom: 5px;
  }

  .savebtn {
    font-weight: bold;
    width: 35%;
    padding: 8px;
    height: 35px;
    border-radius: 20px;
    text-transform: uppercase;
    margin: 10px auto;
    background: #0066cc;
    color: #ffffff;
    display: block;
    font-family: 'open_sanssemibold';
    font-size: 20px;
  }

  .select-wrapper .select-text {
    font-size: 12px;
  }
  .select-wrapper {
    background: #ebebeb;
    border-radius: 20px;
    width: 100%;
    max-width: 100%;
    --padding-top: 5px;
    --padding-bottom: 5px;
    --color: #000;
  }
  .profile-img {
    position: relative;
  }
  .online-icon {
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: 40px;
    // right: 38px;
    right:12%;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
  }
  .grey-subheading {
    color: #979797;
    margin: 0;
    font-size: 18px;
  }
  .blue-btn {
    text-transform: unset;
    border-radius: 15px;
    padding: 10px 15px !important;
    box-shadow: none;
    font-family: 'open_sanssemibold';
    height: 30px !important;
  }
  .cancel-btn {
    border-radius: 50%;
    width: 30px;
    height: 30px !important;
    padding: 5px !important;
    background: #fe3a2f;
    box-shadow: none;
  }
  ion-item {
    --padding-start: 0;
  }
  .blkhead {
    color: #000;
    font-size: 16px;
    font-family: 'open_sansbold';
    margin-bottom:5px;
  }

  .auto-complete {
    height: auto;
    max-height: 200px;
    overflow: scroll;
    position: absolute;
    z-index: 1;
    width: 100%;
    border: 1px solid #D3D3D3;
    margin-left: 16px;
    background-color: #ffffff;
  }

  ion-auto-complete {
    border-bottom: 0.55px solid #c4c4c4 !important;
    box-shadow: none;
    padding: 0 20px
  }
  .greycolor {
    margin-top: 25px !important;
  }

  h5.greycolor, h4.greycolor {
    font-size: 24px;
  }

  .habitswrapper .greycolor {
    color: #c4c4c4 !important;
    margin-top: 15px !important;
    font-family: 'open_sanssemibold';
  }

  .skipbtn {
    background: transparent;
    color: #b8b8b8;
    border: 1px solid #b8b8b8;
    font-family: 'open_sanssemibold';
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 30px;
    margin: 15px auto;
    display: block;
  }
  .profile-autocomplete {
    padding-left: 10px !important;
    padding-right: 0 !important;
    border-bottom: 0.65px solid #ccc;
    margin-bottom: 5px;
    color: #444;
  }
  .autosearchdata{
    z-index: 9999; position:absolute;
    width: 100%;
    box-shadow: 1px 1px 10px #ccc;
    box-sizing: border-box;
    left: 0;
    right: 0;
    bottom: 45px;
  }
  .profile-autocomplete .searchbar-input {
    font-size: 14px !important;
  }
  .socialicon {
    padding: 0 !important;
  }
  .socialicon img {
    width: 15px
  }

  .biotext{
  padding-left:15px;
  }

  @media(max-width:360px){
    .online-icon{
    right:15px;
    }
  }
}
