friend-profile:host{
  .upload-btn{
    background: #ebebeb;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    overflow:hidden;
    padding:0;
  }
  .upload-btn img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .profileicon{
    width: 60px !important;
    object-fit: unset !important;
    height: auto !important;
  }
  .inner-title{
    color: #c4c4c4;
  }

  .item{
    padding-left: 0px;
  }

  .contact-upload-btn{
    background: #d7d7d7;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 20px;
    box-shadow: none;
  }

  .contact-details-wrapper .item-inner{
    text-align:center;
    border: none !important;
  }
  .selection-upload-btn{
    background:#ebebeb;
    width:50px;
    height:50px;
    border-radius:50%;
    padding: 15px;
    box-shadow: none;
  }
  small{
    color: #979797;
    text-align: center;
    display: block;
  }

  .border-bottom .item-inner{
    border-bottom:none !important
  }

  .border-bottom {
    border-bottom:0.55px solid #c8c7cc;
  }


  .savebtn {
    font-weight: bold;
    width: 35%;
    padding: 8px;
    height: 35px;
    border-radius: 20px;
    text-transform: uppercase;
    margin: 10px auto;
    background: #0066cc;
    color: #ffffff;
    display: block;
    font-family: 'open_sanssemibold';
    font-size: 20px;
  }

  .select-wrapper .select-text{
    font-size:12px;
    }
    .select-wrapper{
      background: #ebebeb;
      border-radius: 20px;
      width: 100%;
      max-width: 100%;
      --padding-top: 5px;
      --padding-bottom: 5px;
      --color: #000;
    }
  .profile-img{
    position: relative;
  }
  .online-icon{
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: 40px;
    right: 38px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
  }
  .grey-subheading{
    color: #979797;
    margin: 0;
    font-size: 18px;
  }
  .blue-btn{
    text-transform: unset;
    border-radius: 20px;
    padding: 5px 30px !important;
    box-shadow: none;
    font-family: 'open_sanssemibold';
    height: 35px !important;
    background: #0066cc;
    color: #ffffff;
    font-size: 16px;
  }
  .cancel-btn{
    border-radius: 50%;
    width: 30px;
    height: 30px !important;
    padding: 5px !important;
    background: #fe3a2f;
    box-shadow: none;
  }

  ion-content{
    --padding-bottom: 75px !important;
  }

  .showoption{
    margin: 15px auto;
  }

  .showoption button{
    margin-right:5px;
  }
  .haveinterest{
  padding:0;
  margin:0;
  }
  .haveinterest li{
  display:inline-block;
  color:#ffffff;
  margin-right:10px;
  background: #0066cc;
  border-radius:20px;
  padding:5px 10px;
  font-size:17px;
  }

  .socialicon {
    padding: 0 !important;
  }
  .socialicon img {
    width: 15px
  }
  
  @media(max-width:360px){
    .online-icon{
    right:15px;
    }
  }
}
