<ion-header class="insidesearchmenu">
  <ion-toolbar>
    <div class="grybg backbtn headerinline searchmenu">
        <button ion-button start class="menu-btn" (click)="goBack()">
          <img src="../assets/icon/black-back-icon.png">
        </button>
      <ion-searchbar (click)="searchuniversity()"  placeholder="Search Universities, Apartments, Roommates"></ion-searchbar>
    </div>
    <div class="headerinline">
      <button ion-button start class="chat-btn" (click)="openChat()">
        <img src="../assets/icon/msg-icon.png">
        <span class="unread-msgs" *ngIf="newMessage"></span>
      </button>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content padding class="whitebg" style="padding-bottom: 100px">
  <div class="profile-wrapper">
    <form>
      <ion-row>
        <ion-col col-6 size="6" class="profile-img" style="padding-left:30px;">
          <button ion-button class="upload-btn online">
            <!--<img src="../assets/icon/profil-camer-icon.png">-->
            <img *ngIf="this.profileUrl==null" class="profileicon" src='../assets/icon/profil-camer-icon.png'>
            <img *ngIf="this.profileUrl!=null" [src]="this.profileUrl">
          </button>
          <img class="online-icon" src="../assets/icon/online-icon.png" *ngIf="profileform.status === '0'">
          <img class="online-icon" src="../assets/icon/online-blue-icon.png" *ngIf="profileform.status === '1'">
        </ion-col>
        <ion-col col-6 size="6">
          <ion-item>
            <ion-input type="text" name="firstname" disabled="true">{{user.first_name}}</ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" name="surname" disabled="true">{{user.last_name}}</ion-input>
          </ion-item>
          <ion-item class="fullwidth">
            <ion-label>
            <p class="blkhead">Status</p>
            <ion-select class="select-wrapper" placeholder="select status" [(ngModel)]="profileform.status" name="status" disabled ="{{true}}">
              <ion-select-option value="0" >Looking for roommate</ion-select-option>
              <ion-select-option value="1" >roomate found</ion-select-option>
            </ion-select>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="fullwidth">
            <div class="showoption text-center">
              <button ion-button class="blue-btn" (click)="pageTobeLoaded('mutualfriends', user.id)">friends</button>
              <button ion-button class="cancel-btn" (click)="ignoreUser(user.id)">
                <img src="../assets/icon/removewhite-icon.png">
              </button>
              <button ion-button class="blue-btn" (click)="pageTobeLoaded('mutualschool', user.id)">schools</button>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
      <div class="contact-details-wrapper">

        <h5 class="greycolor" style="padding:0 20px">CONTACT DETAILS</h5>
        <ion-row>
          <ng-container *ngFor="let social of socialLinks">
            <ion-col col-3 size="3" *ngIf="social.social_provider == 'FACEBOOK'">
              <ion-item lines="none">
                <!-- <button ion-button class="contact-upload-btn socialicon" (click)="openInfo(social.social_link)"> -->
                <button ion-button class="contact-upload-btn socialicon" (click)="openfbInfo(social.social_link)">
                  <img src="../assets/icon/fb.png" style="width: 22px;">
                </button>
              </ion-item>
            </ion-col>

            <ion-col col-3 size="3" *ngIf="social.social_provider == 'INSTAGRAM'">
              <ion-item lines="none">
                <button ion-button class="contact-upload-btn socialicon" (click)="openInfo(social.social_link)">
                  <img src="../assets/icon/insta.png" style="width: 22px;">
                </button>
              </ion-item>
            </ion-col>

            <ion-col col-3 size="3" *ngIf="social.social_provider == 'YOUTUBE'">
              <ion-item lines="none">
                <button ion-button class="contact-upload-btn socialicon" (click)="openInfo(social.social_link)">
                  <img src="../assets/icon/youtube.png" style="width: 22px;">
                </button>
              </ion-item>
            </ion-col>
          </ng-container>
        </ion-row>
      </div>
      <div class="profile-otherdetails-wrapper">

        <h5 class="greycolor" style="padding:0 20px;">BIO</h5>
        <ion-row>
          <ion-col col-12 size="12">
            <ion-item>
              <ion-input type="text" name="bio" disabled="true" >{{profileform['bio']}}</ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <h5 class="greycolor" style="padding:0 20px;" *ngIf="user_interests!=undefined ">Interests</h5>
        <ion-row *ngIf="user_interests!=undefined">
          <ion-col col-12 size="12" *ngIf="user_interests.length>0 ">
            <ion-item>
              <ul class="haveinterest" *ngFor="let interest of user_interests">
                <li *ngIf="interest['interest']!= null">{{interest['interest']['interest_name']}}</li>
              </ul>
            </ion-item>
          </ion-col>
        </ion-row>

        <h5 class="greycolor" style="padding:0 20px">FROM</h5>
        <ion-row>
          <ion-col col-12 size="12">
            <ion-item>
              <ion-input type="text" name="country"  disabled="true">{{selectedCountry}}</ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" name="state" disabled="true">{{selectedState}}</ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row class="border-bottom">
          <ion-col class="text-center" col-3 size="3">
            <button ion-button class="gender-btn selection-upload-btn" >
              <img [src]="genderImages[genderIndex].url" >

            </button>
            <small>{{genderImages[genderIndex].name}}</small>
          </ion-col>

          <ion-col class="text-center" col-3 size="3">
            <button ion-button class="diet-btn selection-upload-btn">
              <img  [src]="dietImages[dietIndex].url">
            </button>
            <small>{{dietHabitName}}</small>
          </ion-col>
          <ion-col class="text-center" col-3 size="3">
            <button ion-button class="diet-btn selection-upload-btn">
              <img  [src]="smokehabitImages[smokingIndex].url">
            </button>
            <small>{{smokingHabitName}}</small>
          </ion-col>
          <ion-col class="text-center" col-3 size="3">
            <button ion-button class="diet-btn selection-upload-btn">
              <img  [src]="drinkingImage[drinkingIndex].url">
            </button>
            <small>{{drinkingHabitName}}</small>
          </ion-col>
          <ion-col class="text-center" col-3 size="3">
            <button ion-button class="diet-btn selection-upload-btn">
              <img  [src]="sleepingImage[sleepingIndex].url">
            </button>
            <small>{{sleepingHabitName}}</small>
          </ion-col>
        </ion-row>
        <!--
                   <ion-row class="border-bottom">
                    <ion-col col-9 size="9">
                        <ion-item>
                          <ion-label class="greycolor inner-title">Sleeping</ion-label>
                        </ion-item>
                    </ion-col>
                    <ion-col class="text-center" col-3 size="3">
                        <button ion-button class="diet-btn selection-upload-btn">
                            <img  [src]="sleepingImage[sleepingIndex].url">
                        </button>
                        <small>{{sleepingHabitName}}</small>
                    </ion-col>
                  </ion-row>
        -->
      </div>
      <!--<button ion-button type="submit" block class="savebtn" (click)="saveprofile()">Save</button>-->
    </form>
  </div>
  <div class="tabs-wrapper">
    <div class="tabsbar" slot="bottom">
     <a (click)="redirectToPage('profileother')">
         <ion-img src="assets/icon/profile-icon.png" class="tab-icon profile-icon" ></ion-img>
         <ion-label class="tab-text">PROFILE</ion-label>
     </a>
     <a (click)="redirectToPage('notification')">
         <ion-img src="assets/icon/notification-icon.png" class="tab-icon noti-icon" ></ion-img>
         <ion-label class="tab-text">NOTIFICATION</ion-label>
     </a>
     <a class="bluetab" (click)="openUniversityPage()">
         <ion-img src="assets/icon/icon-hat-unactive.png" class="tab-icon campusicon campusicon_unactive" ></ion-img>
     </a>
     <a (click)="redirectToNearbyAppartents()">
         <ion-img src="assets/icon/apartment-icon.png" class="tab-icon apt-icon" ></ion-img>
         <ion-label class="tab-text">APARTMENTS</ion-label>
     </a>
     <a (click)="redirectToPage('nearby')">
         <ion-img src="assets/icon/nearby-icon.png" class="tab-icon apticon nearby-icon" ></ion-img>
         <ion-label class="tab-text">NEARBY</ion-label>
     </a>
    </div>
  </div>
</ion-content>
