 <ion-header>
      <ion-toolbar>
        <div class="grybg backbtn headerinline searchmenu">
          <button ion-button start class="menu-btn" (click)="goBack()">
              <img src="../assets/icon/black-back-icon.png">
          </button>
          <ion-searchbar class= "searchBar" #mainSearchbar placeholder="Search for Universities, Apartments, Roommates" (input)="searchFieldListener.next({index:i, value:$event.target.value, type:'name'})" autofocus="true" (ionInput)="onSearchInput($event.target.value)"></ion-searchbar>
        </div>
        <div class="headerinline">
          <button ion-button start class="chat-btn" (click)="openChat()">
            <img src="../assets/icon/msg-icon.png">
            <span class="unread-msgs" *ngIf="newMessage"></span>
        </button>
        </div>
        </ion-toolbar>
    </ion-header>

<ion-content padding class="greybg">
<div class="search-filters">
  <ion-row>
    <ion-col>
      <button ion-button class="btn filter-btn profile-filter" [ngClass]="{'active': searchFor=='user'}" (click)="searchType('user')">
          <img src="../assets/icon/profile-icon.png" *ngIf="!userActive">
          <img class="active" src="../assets/icon/profile-icon_action.png" *ngIf="userActive">
      </button>
      <p class="searchicontext">people</p>
    </ion-col>
    <ion-col>
        <button style="padding:5px" ion-button class="btn filter-btn campus-filter" [ngClass]="{'active': searchFor=='university'}" (click)="searchType('university')">
            <img src="../assets/icon/icon-hate-unactive.png" *ngIf="!universityActive">
            <img class="active" src="../assets/icon/newcampus-icon.png"  *ngIf="universityActive">


        </button>
        <p class="searchicontext">schools</p>
    </ion-col>
    <ion-col>
        <button style="padding:7px" ion-button class="btn filter-btn apartment-filter" [ngClass]="{'active': searchFor=='apartment'}" (click)="searchType('apartment')">
          <img src="../assets/icon/apartment-icon.png" *ngIf="!apartmentActive">
          <img class="active" src="../assets/icon/apartment-icon-active.png" *ngIf="apartmentActive">
        </button>
        <p class="searchicontext">apartments</p>
    </ion-col>
  </ion-row>
</div>

<div class="search-result" *ngIf="searchResults && searchResults.length > 0 && searchFor=='university'">
    <ion-row class="result" *ngFor="let searchValue of searchResults; let i = index">
      <ion-col col-10 size="10">
        <h4 style="padding-left:20px;" class="search-title" (click)="pageTobeLoaded('universitydetail', searchValue.id)">{{searchValue.university_name}}</h4  >
        <p style="padding-left:20px;" class="search-city">{{searchValue.state}}, {{searchValue.country}}</p>
      </ion-col>
      <ion-col col-2 size="2">
          <button ion-button class="btn selected-btn" style="background: #0066cc;" *ngIf="searchValue.is_following == 1" (click)="followUniversity(i, searchValue.id, 'unfollow', '0')">
              <img src="../assets/icon/white-tick-icon.png">
          </button>
          <button ion-button class="btn addsearch-btn" (click)="followUniversity(i, searchValue.id, 'follow', '1')" *ngIf="searchValue.is_following == 0">
              <img src="../assets/icon/bigplus-icon.png">
          </button>
      </ion-col>
      <div class="search-moreinfo active" style="width:100%;">
        <ion-item lines="full" (click)="pageTobeLoaded('universitylist' ,searchValue.id)">
          <ion-label style="padding-left:20px;" class="nearby-class">
              <img class="rightarrow-icon" src="../assets/icon/right-arrow_icon.png">
              Apartments near {{searchValue.university_name}}
          </ion-label>
        </ion-item>
        <ion-item lines="full" (click)="pageTobeLoaded('roomatesearch/roommate' ,searchValue.id)">
            <ion-label style="padding-left:20px;">
              <img class="rightarrow-icon" src="../assets/icon/right-arrow_icon.png">
              Roommatesy near {{searchValue.university_name}}
            </ion-label>
        </ion-item>
      </div>
    </ion-row>
    <!-- <ion-row class="result">
      <ion-col col-10>
>>>>>>> a16fdeacb4d788b991415921bc6a610cc6f8edac
        <h4 class="search-title" (click)="showuniversity()">Lawrence Technological University</h4>
        <p class="search-city">Michigan, USA</p>
        <div class="search-moreinfo active">
          <ion-item lines="full">
            <ion-label>
                <img class="rightarrow-icon" src="../assets/icon/right-arrow_icon.png">
                Apartments near Lawrence Tech...
            </ion-label>
          </ion-item>
          <ion-item lines="full">
              <ion-label>
                <img class="rightarrow-icon" src="../assets/icon/right-arrow_icon.png">
                Roommatesy near Lawrence Tech...
              </ion-label>
          </ion-item>
        </div>
      </ion-col>
      <ion-col col-2 size="2">
          <button ion-button class="btn selected-btn">
              <img src="../assets/icon/white-tick-icon.png">
          </button>
          <button ion-button class="btn addsearch-btn">
              <img src="../assets/icon/bigplus-icon.png">
          </button>
      </ion-col>
    </ion-row>
    <ion-row class="result">
      <ion-col col-10 size="10">
        <h4 class="search-title">Lawrence  University</h4>
        <p class="search-city">Wisconsin, USA</p>
        <div class="search-moreinfo">
          <ion-item lines="full">
            <ion-label>
                <img class="rightarrow-icon" src="../assets/icon/right-arrow_icon.png">
                Apartments near Lawrence Tech...
            </ion-label>
          </ion-item>
          <ion-item lines="full">
              <ion-label>
                <img class="rightarrow-icon" src="../assets/icon/right-arrow_icon.png">
                Roommatesy near Lawrence Tech...
              </ion-label>
          </ion-item>
        </div>
      </ion-col>
      <ion-col col-2 size="2">
          <button ion-button class="btn addsearch-btn">
              <img src="../assets/icon/bigplus-icon.png">
          </button>
      </ion-col>
    </ion-row> -->
</div>

<div class="search-results schoolsearchresult" *ngIf="searchResults && searchResults.length > 0 && searchFor=='apartment'">
    <!-- <h2 class="blacktext">Schools</h2> -->
    <ion-row class="unreadnotifi" *ngFor="let searchValue of searchResults; let i = index">
      <ion-item line="full">
        <ion-col col-3 size="3">
          <div class="notification-image">
            <img src="{{searchValue.logo}}">
          </div>
        </ion-col>
        <ion-col col-9 size="9" (click)="pageTobeLoaded('apartmentdetail', searchValue.id)">
          <div class="noti-title">{{searchValue.apartment_name}}    </div>
          <div class="noti-desc">{{searchValue.apartment_address}}</div>
        </ion-col>
      </ion-item>
    </ion-row>
</div>



<div class="text-center" *ngIf="searchRequestInProgress">
        <p class="align-center"><ion-spinner></ion-spinner></p>
      </div>
<div class="search-results friendssearchresult" *ngIf="searchResults && searchResults.length > 0 && searchFor=='user'">
    <!-- <h2 class="blacktext">Friends</h2>
    <div class="showtabs">
        <button ion-button class="btn all-btn" >ALL</button>
        <button ion-button class="btn ignore-btn">IGNORED</button>
    </div> -->
    <ion-row class="unreadnotifi" *ngFor="let searchValue of searchResults; let i = index">
      <ion-item line="full" (click)="redirectToUserProfile(searchValue)">
          <ion-col col-3 size="3" class="friendsprofile-img">
            <!-- <button ion-button class="upload-btn online">
                <img  src='{{searchValue.user_profile_picture.profile_picture}}' *ngIf="searchValue.user_profile_picture">
                <img  src='../assets/icon/profil-camer-icon.png' *ngIf="!searchValue.user_profile_picture">
              </button> -->

              <button ion-button class="upload-btn online" *ngIf="searchValue.user_profile_picture" style="padding:0 !important">
                <img  src='{{searchValue.user_profile_picture.profile_picture}}' *ngIf="searchValue.user_profile_picture">
                <img  src='../assets/icon/profil-camer-icon.png' *ngIf="!searchValue.user_profile_picture">
              </button>

              <button ion-button class="upload-btn online" *ngIf="!searchValue.user_profile_picture">
                <img  src='{{searchValue.user_profile_picture.profile_picture}}' *ngIf="searchValue.user_profile_picture">
                <img  src='../assets/icon/profil-camer-icon.png' *ngIf="!searchValue.user_profile_picture">
              </button>

              <img class="online-icon circular-transparent" src="../assets/icon/online-icon.png" *ngIf="searchValue.user_profile && searchValue.user_profile.status == '0'">
              <img class="online-icon circular-transparent" src="../assets/icon/online-blue-icon.png" *ngIf="searchValue.user_profile && searchValue.user_profile.status == '1'">
          </ion-col>
        <ion-col col-9 size="9">
          <div class="noti-title">{{searchValue.first_name}} {{searchValue.last_name}}</div>
        </ion-col>
      </ion-item>
    </ion-row><!--
    <ion-row class="unreadnotifi">
      <ion-item line="full">
          <ion-col col-3 size="3" class="friendsprofile-img">
              <button ion-button class="upload-btn online">
                  <img  src='../assets/icon/profil-camer-icon.png'>
              </button>
              <img class="online-icon" src="../assets/icon/online-blue-icon.png">
          </ion-col>
        <ion-col col-9 size="9">
          <div class="noti-title ignorefriend">Swapnil Mirjolkar</div>
        </ion-col>
      </ion-item>
    </ion-row>
    <ion-row class="unreadnotifi">
        <ion-item line="full">
                    <ion-col col-3 size="3" class="friendsprofile-img">
              <button ion-button class="upload-btn online">
                  <img  src='../assets/icon/profil-camer-icon.png'>
              </button>
              <img class="online-icon" src="../assets/icon/online-icon.png">
          </ion-col>
          <ion-col col-9 size="9">
            <div class="noti-title">Swapnil Mirjolkar</div>
          </ion-col>
        </ion-item>
      </ion-row>
      <ion-row class="unreadnotifi">
          <ion-item line="full">
              <ion-col col-3 size="3" class="friendsprofile-img">
                  <button ion-button class="upload-btn online">
                      <img  src='../assets/icon/profil-camer-icon.png'>
                  </button>
                  <img class="online-icon" src="../assets/icon/online-blue-icon.png">
              </ion-col>
            <ion-col col-9 size="9">
              <div class="noti-title ignorefriend">Swapnil Mirjolkar</div>
            </ion-col>
          </ion-item>
        </ion-row> -->
      </div>
      <div class="text-center" *ngIf="noResult">
        <p class="align-center">No Results Found.</p>
      </div>

      <div class="tabs-wrapper">
        <div class="tabsbar" slot="bottom">
           <a (click)="redirectToPage('profileother')">
               <ion-img src="assets/icon/profile-icon.png" class="tab-icon profile-icon" ></ion-img>
               <ion-label class="tab-text">PROFILE</ion-label>
           </a>
           <a (click)="redirectToPage('notification')">
               <ion-img src="assets/icon/notification-icon.png" class="tab-icon noti-icon" ></ion-img>
               <ion-label class="tab-text">NOTIFICATION</ion-label>
           </a>
           <a class="bluetab" (click)="openUniversityPage()">
               <ion-img src="assets/icon/icon-hat-unactive.png" class="tab-icon campusicon campusicon_unactive" ></ion-img>
           </a>
           <a (click)="redirectToNearbyAppartents()">
               <ion-img src="assets/icon/apartment-icon.png" class="tab-icon apt-icon" ></ion-img>
               <ion-label class="tab-text">APARTMENTS</ion-label>
           </a>
           <a (click)="redirectToPage('nearby')">
               <ion-img src="assets/icon/nearby-icon.png" class="tab-icon apticon nearby-icon" ></ion-img>
               <ion-label class="tab-text">NEARBY</ion-label>
           </a>
          </div>
        </div>

</ion-content>
