homesearch:host{
ion-header{
margin-top:15px;
}

.search-filters{
width:80%;
margin:0 auto;
}
.search-filters .filter-btn{
background:transparent;
box-shadow:none;
border:1px solid #b8b8b8;
padding:8px 12px 10px 12px;
border-radius: 50%;
width: 50px;
height: 50px;
margin: 0 auto;
display: block;
}

.filter-btn.active{
border:1px solid #0066cc !important;
}

.campus-filter img,.apartment-filter img{
width:40px !important;
}

.search-filters .filter-btn img{
width:25px;
}

.addsearch-btn{
background:transparent;
box-shadow:none;
padding: 0px;
height: 40px;
width: 40px;
}

.search-title,.search-city{
font-family: 'open_sanssemibold';
color:#979797
}

.searchicontext{
font-family: 'open_sanssemibold';
font-size: 10px;
text-align: center;
margin-top: 4px;
}
.search-city{
color:#c4c4c4;
}
.selected-btn{
border-radius:50%;
padding: 10px;
height: 40px;
width: 40px;
}
.search-result{
margin-top:20px;
}

.search-title{
font-size:15px;
}
.rightarrow-icon{
width: 8px;
vertical-align: middle;
margin-right: 5px;
}

.search-moreinfo ion-label{
font-family: 'open_sanssemibold';
font-size:13px;
color:#979797
}
.search-moreinfo{
display:none;
}
.search-moreinfo.active{
display:block;
}
.result {
margin-bottom:10px;
}


/*schools scss*/
.schoolsearchresult{
margin-top:20px;
}
.noti-title{
margin-bottom:5px;
color: #0066cc;
}
.noti-desc{
font-size: 12px;
color: #979797;
}
.blueheading{
color: #0066cc;
}
.notificationpage ion-row{
border-bottom: 0.55px solid #c8c7cc;
}
.notification-image{
text-align:center;
}
.notification-image img{
width:60px;
}


/*friends*/
.friendsprofile-img{
position: relative;
}
.online-icon{
width: 12px;
height: 12px;
position: absolute;
bottom: 10px;
right: 18px; 
}
.upload-btn{
background: #ebebeb;
width: 60px;
height: 60px;
border-radius: 50%;
padding: 18px;
position: relative;
margin: 0 auto;
display: block;
}

.showtabs{
width: 150px;
margin: 0 auto;
text-align: center;
border: 1px solid #000;
border-radius: 20px;
padding: 5px;
}
.all-btn,.ignore-btn{
background:transparent;
font-weight: bold;
}

.ignore-btn,.ignorefriend{
color:#fe3a2f;
}
ion-content{
--padding-bottom: 75px !important;
}

@media(max-width:360px){
.online-icon{
right:15px;
}
}
}

.align-center {
padding-top: 35%;
margin:0;
}

.circular-transparent {
background: #fff;
border-radius: 50%;
border: 1px solid #fff;
}

