<ion-header class="insidesearchmenu">
  <ion-toolbar>
    <div class="grybg backbtn headerinline searchmenu">
      <button ion-button start class="menu-btn" (click)="goBack()">
          <img src="../assets/icon/black-back-icon.png">
      </button>
      <ion-searchbar (click)="searchuniversity()" placeholder="Search for Universities, Apartments, Roommates" (input)="searchFieldListener.next({index:i, value:$event.target.value, type:'name'})"></ion-searchbar>
    </div>
    <div class="headerinline">
      <button ion-button start class="chat-btn" (click)="openChat()">
        <img src="../assets/icon/msg-icon.png">
        <span class="unread-msgs" *ngIf="newMessage"></span>
    </button>
    </div>
    </ion-toolbar>
</ion-header>
<ion-content>

    <ion-row class="unreadnotifi">
        <h4 class="main-title">Friends</h4>
        <div class="filtertabs">
          <div class="ftabs" (click)="friendsToShow('all')">ALL</div>
          <div class="ftabs ignoretab" (click)="friendsToShow('ignored')">IGNORED </div>
        </div>
        
    </ion-row>
    <div *ngIf="friendsTypeToShow == 'all'">
      <ion-row class="unreadnotifi" *ngFor="let friend of userFriends; let i = index;">
          <ion-item line="full" (click)="pageTobeLoaded('friend-profile', friend.user_friends.id)">
            <ion-col col-3 size="3" class="friendsprofile-img">
                <button ion-button class="upload-btn online" *ngIf="friend.user_friends.user_profile_picture && friend.user_friends.user_profile_picture.profile_picture" style="padding:0 !important">
                    <img  src='{{friend.user_friends.user_profile_picture.profile_picture}}'>
                </button>
                <button ion-button class="upload-btn online" *ngIf="!friend.user_friends.user_profile_picture">

                    <img class="profileicon"  src='../assets/icon/profil-camer-icon.png'>
                </button>
                <img class="online-icon circular-transparent" src="../assets/icon/online-icon.png" *ngIf="friend.user_friends.user_profile.status == '0'">
                <img class="online-icon circular-transparent" src="../assets/icon/online-blue-icon.png" *ngIf="friend.user_friends.user_profile.status == '1'">
            </ion-col>
            <ion-col col-9 size="9" style="margin-left:0px">
              <div class="noti-title">{{friend.user_friends.first_name}} {{friend.user_friends.last_name}}</div>
            </ion-col>
          </ion-item>
      </ion-row>
    </div>
    <div *ngIf="friendsTypeToShow == 'all' || friendsTypeToShow == 'ignored'">
      <ion-row class="unreadnotifi" *ngFor="let ignoredFriend of userIgnoredFriends; let i = index;">
            <ion-item line="full">
                <ion-col col-3 size="3" class="friendsprofile-img">
                    <button ion-button class="upload-btn online" *ngIf="ignoredFriend.user_friends.user_profile_picture && ignoredFriend.user_friends.user_profile_picture.profile_picture" style="padding:0 !important">
                        <img  src="{{ignoredFriend.user_friends.user_profile_picture.profile_picture}}">
                    </button>
                    <button ion-button class="upload-btn online" *ngIf="!ignoredFriend.user_friends.user_profile_picture">
                        <img  src='../assets/icon/profil-camer-icon.png'>
                    </button>
                    <!-- <img class="online-icon circular-transparent" src="../assets/icon/online-blue-icon.png"> -->

                    <img class="online-icon circular-transparent" src="../assets/icon/online-icon.png" *ngIf="ignoredFriend.user_friends.user_profile.status == '0'">
                    <img class="online-icon circular-transparent" src="../assets/icon/online-blue-icon.png" *ngIf="ignoredFriend.user_friends.user_profile.status == '1'">
                </ion-col>
              <ion-col col-9 size="9" style="margin-left:0px">
                <div class="noti-title ignorefriend">{{ignoredFriend.user_friends.first_name}} {{ignoredFriend.user_friends.last_name}}</div>
              </ion-col>
            </ion-item>
      </ion-row>
    </div>
    <div class="text-center" *ngIf="!userIgnoredFriends && friendsTypeToShow == 'ignored'">
          <p class="align-center">No Friends Ignored.</p>
    </div>
    <div class="text-center" *ngIf="!userFriends && noFriendsFound && !userIgnoredFriends && friendsTypeToShow == 'all'">
          <p class="align-center">No Friends Found.</p>
    </div>


  <div class="tabs-wrapper">
  <div class="tabsbar" slot="bottom">
     <a (click)="redirectToPage('profileother')"> 
         <ion-img src="assets/icon/profile-icon.png" class="tab-icon profile-icon" ></ion-img>
         <ion-label class="tab-text">PROFILE</ion-label>
     </a>
     <a (click)="redirectToPage('notification')"> 
         <ion-img src="assets/icon/notification-icon.png" class="tab-icon noti-icon" ></ion-img>
         <ion-label class="tab-text">NOTIFICATION</ion-label>
     </a>
     <a class="bluetab" (click)="openUniversityPage()">
         <ion-img src="assets/icon/icon-hat-unactive.png" class="tab-icon campusicon campusicon_unactive" ></ion-img>
     </a>
     <a (click)="redirectToNearbyAppartents()">
         <ion-img src="assets/icon/apartment-icon.png" class="tab-icon apt-icon" ></ion-img>
         <ion-label class="tab-text">APARTMENTS</ion-label>
     </a>
     <a (click)="redirectToPage('nearby')">
         <ion-img src="assets/icon/nearby-icon.png" class="tab-icon apticon nearby-icon" ></ion-img>
         <ion-label class="tab-text">NEARBY</ion-label>
     </a>
    </div>
  </div>
</ion-content>
