<ion-header>
    <ion-toolbar>
      <div class="grybg backbtn headerinline searchmenu">
        <button ion-button start class="menu-btn" (click)="goBack()">
            <img src="../assets/icon/black-back-icon.png">
        </button>
        <ion-searchbar (click)="searchuniversity()"  placeholder="Search Universities, Apartments, Roommates"></ion-searchbar>
      </div>  
      <div class="headerinline">
        <button ion-button start class="chat-btn" (click)="openChat()">
          <img src="../assets/icon/msg-icon.png">
          <span class="unread-msgs" *ngIf="newMessage"></span>
      </button>
      </div>
      </ion-toolbar>
  </ion-header>
  

<ion-content>
  <h3 class="main-title">Mutuals Schools</h3>
  <div class="search-results schoolsearchresult">
      <!-- <h2 class="blacktext">Schools</h2> -->
      <ion-row class="unreadnotifi" *ngFor="let mutualUniversity of mutualSchoolsList">
        <ion-item lines="none" (click)="goToUniversity(mutualUniversity.university_id)">
          <ion-col col-3 size="3">
            <div class="notification-image">
              <img src="{{mutualUniversity.university.logo}}">
            </div>
          </ion-col>
          <ion-col col-9 size="9" >
            <div class="noti-title">{{mutualUniversity.university.university_name}}</div>
            <div class="noti-desc">{{mutualUniversity.university.state}}, {{mutualUniversity.university.country}}</div>
          </ion-col>
        </ion-item>
      </ion-row>
  </div>
  <div class="text-center" *ngIf="mutualSchoolsUnavailable">
    <p class="align-center">No Mutual School.</p>
  </div>
<div class="tabs-wrapper">
<div class="tabsbar" slot="bottom">
   <a (click)="redirectToPage('profileother')"> 
       <ion-img src="assets/icon/profile-icon.png" class="tab-icon profile-icon" ></ion-img>
       <ion-label class="tab-text">PROFILE</ion-label>
   </a>
   <a (click)="redirectToPage('notification')"> 
       <ion-img src="assets/icon/notification-icon.png" class="tab-icon noti-icon" ></ion-img>
       <ion-label class="tab-text">NOTIFICATION</ion-label>
   </a>
   <a class="bluetab" (click)="openUniversityPage()">
       <ion-img src="assets/icon/icon-hat-unactive.png" class="tab-icon campusicon campusicon_unactive" ></ion-img>
   </a>
   <a (click)="redirectToNearbyAppartents()">
       <ion-img src="assets/icon/apartment-icon.png" class="tab-icon apt-icon" ></ion-img>
       <ion-label class="tab-text">APARTMENTS</ion-label>
   </a>
   <a (click)="redirectToPage('nearby')">
       <ion-img src="assets/icon/nearby-icon.png" class="tab-icon apticon nearby-icon" ></ion-img>
       <ion-label class="tab-text">NEARBY</ion-label>
   </a>
  </div>
</div>
</ion-content>
