            <ion-header class="insidesearchmenu">
    <ion-toolbar>
        <div class="grybg headerinline searchmenu">
            <ion-menu-toggle auto-hide="false">
                <button ion-button start class="menu-btn">
                    <img src="../assets/icon/hamburger-icon.png">
                </button>
            </ion-menu-toggle>
            <ion-searchbar (click)="searchuniversity()"
                           placeholder="Search Universities, Apartments, Roommates"></ion-searchbar>
        </div>
        <div class="headerinline">
            <button ion-button start class="chat-btn" (click)="openChat()">
                <img src="../assets/icon/msg-icon.png">
                <span class="unread-msgs" *ngIf="newMessage"></span>
            </button>
        </div>
    </ion-toolbar>
</ion-header>


<ion-content padding class="whitebg" style="padding-bottom: 100px">


    <div class="profile-wrapper">
        <!--    <h3 style="padding:0 20px">Let’s simplify your Roommate Search experience</h3>
            <h4 class="greycolor" style="padding:0 20px">Build your profile</h4>-->
        <form>
            <ion-row>
                <ion-col col-6 size="6" class="profile-img" style="padding-left:30px;">
                    <button ion-button class="upload-btn online" (click)="editProfile()">
                        <!--<img src="../assets/icon/profil-camer-icon.png">-->
                        <img *ngIf="this.profileUrl==null" class="profileicon"
                             src='../assets/icon/profil-camer-icon.png'>
                        <img *ngIf="this.profileUrl!=null" [src]="this.profileUrl">
                    </button>

                    <img class="online-icon" src="../assets/icon/online-icon.png" *ngIf="profileform.status === '0'">
                    <img class="online-icon" src="../assets/icon/online-blue-icon.png"
                         *ngIf="profileform.status === '1'">

                </ion-col>
                <ion-col col-6 size="6">
                    <ion-item>
                        <ion-input type="text" [(ngModel)]="profileform.firstname" name="firstname"
                                   placeholder="First Name"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input type="text" [(ngModel)]="profileform.lastname" name="lastname"
                                   placeholder="Last Name"></ion-input>
                    </ion-item>
                    <ion-item class="fullwidth">
                        <div style="width: 100%;padding-top: 5px;padding-bottom: 5px;">
                        <ion-label class="blkhead">Status</ion-label>
                        <ion-select class="select-wrapper" placeholder="select status" [(ngModel)]="profileform.status"
                                    name="status">
                            <ion-select-option value="0">Looking for roommate</ion-select-option>
                            <ion-select-option value="1">roommate found</ion-select-option>
                        </ion-select>
                        </div>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item class="fullwidth" style="--padding-start: 0px;">
                        <div class="showoption text-center">
                            <button ion-button class="blue-btn" (click)="redirectToPage('friends')">friends</button>
                            <button ion-button class="cancel-btn" style="display:none;">
                                <img src="../assets/icon/removewhite-icon.png">
                            </button>
                            <button ion-button class="blue-btn" (click)="redirectToPage('school')">schools</button>
                        </div>
                    </ion-item>
                </ion-col>
            </ion-row>
            <div class="contact-details-wrapper">

                <h5 class="greycolor" style="padding:0 20px">Contact Details</h5>
                <ion-row>

                    <ion-col col-3 size="3">
                        <ion-item lines="none">
                            <button ion-button class="contact-upload-btn socialicon" (click)="facebookData()">
                                <img src="../assets/icon/fb.png">
                            </button>
                        </ion-item>
                    </ion-col>
                    <ion-col col-3 size="3">
                        <ion-item lines="none">
                            <button ion-button class="contact-upload-btn  socialicon" (click)="instagramPrompt()">
                                <img src="../assets/icon/insta.png" style="width: 22px;">
                            </button>
                        </ion-item>
                    </ion-col>
                    <ion-col col-3 size="3">
                        <ion-item lines="none">
                            <button ion-button class="contact-upload-btn socialicon" (click)="youtubePrompt()">
                                <img src="../assets/icon/youtube.png" style="width: 22px;">
                            </button>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </div>
            <div class="profile-otherdetails-wrapper">

                <h5 class="greycolor" style="padding:0 20px;">Bio</h5>
                <ion-row>
                    <ion-col col-12 size="12">
                        <ion-item style="--padding-start: 0px;">
                            <ion-textarea type="text" name="bio" [(ngModel)]="profileform['bio']"
                                       placeholder="Life is ally about choice we make" class="font-italic biotext"></ion-textarea>
                        </ion-item>
                    </ion-col>
                </ion-row>


                <h5 class="greycolor" style="padding:0 20px;" (click)="saveProfile()" *ngIf="user_interests!=undefined">Interests</h5>
                <ion-row *ngIf="user_interests.length>0 && user_interests!=undefined" (click)="saveProfile()">
                    <ion-col col-12 size="12">
                        <ion-item>
                            <ul class="haveinterest">
                                <ng-container *ngFor="let interest of user_interests">
                                <li *ngIf="interest['interest']!= null">{{interest['interest']['interest_name']}}</li>
                                </ng-container>
                            </ul>
                        </ion-item>
                    </ion-col>
                </ion-row>

                <h5 class="greycolor" style="padding:0 20px">From</h5>

                <ion-row>
                    <ion-col col-12 size="12">
                        <div style="position:relative">
                        <ion-input type="text" name="countrySearch" (input)="countryFilter.next({value:$event.target.value})"
                                   placeholder="country search" class="profile-autocomplete" [(ngModel)]="selectedCountry"></ion-input>

                        <div *ngIf="showCuntryList">
                        <ion-list class="autosearchdata" *ngIf="selectedCountry!=''">
                            <ion-item lines="full" *ngFor="let res of countriesList" (click)="selectCountry(res)">
                                {{res['name']}}
                            </ion-item>
                        </ion-list>
                        </div>
                        </div>

                        <div style="position:relative">
                            <ion-input type="text" name="stateSearch" (input)="stateFilter.next({value:$event.target.value})"
                                    placeholder="State search" class="profile-autocomplete" [(ngModel)]="selectedState" [disabled]="selectedCountry===''"></ion-input>


                        <div *ngIf="showStateList">
                            <ion-list class="autosearchdata" *ngIf="selectedState!='' ">
                                <ion-item lines="full" *ngFor="let res of stateList" (click)="selectState(res)">
                                    {{res['name']}}
                                </ion-item>
                            </ion-list>
                      </div>
                        </div>

              <!--          <ion-auto-complete
                                [(model)]="selectedCountry"
                                [multi]="false"
                                [dataProvider]="autoComplete"
                                [disabled]="false"
                                [removeButtonIcon]="'assets/icons/clear.svg'"
                                [removeButtonColor]="'dark'"
                                (blur)="on('blur', $event)"
                                (autoFocus)="on('autoFocus', $event)"
                                (autoBlur)="on('autoBlur', $event)"
                                (focus)="on('focus', $event)"
                                [options]="options"
                                (ionAutoInput)="on('ionAutoInput', $event)"
                                (itemsChange)="on('itemsChange', $event)"
                                (itemsHidden)="on('itemsHidden', $event)"
                                (itemRemoved)="on('itemRemoved', $event)"
                                (itemSelected)="on('itemSelected', $event)"
                                (itemsShown)="on('itemsShown', $event)"
                                class="profile-autocomplete"
                                ></ion-auto-complete>-->

                  <!--      <ion-auto-complete [(model)]="selectedState"
                                           [multi]="false"
                                           [dataProvider]="stateComplet"
                                           [disabled]="false"
                                           [options]="{placeholder:'Type text to search state..',
                                                       cancelButtonIcon : 'assets/icons/clear.svg',
                                                       clearIcon :'assets/icons/clear.svg',
                                                       debounce : 750,
                                                       searchIcon : 'assets/icons/add-user.svg',
                                                       type : 'search'}"
                                           [removeButtonIcon]="'assets/icons/clear.svg'"
                                           [removeButtonColor]="'dark'"
                                           (blur)="onState('blur', $event)"
                                           (autoFocus)="onState('autoFocus', $event)"
                                           (autoBlur)="onState('autoBlur', $event)"
                                           (focus)="onState('focus', $event)"
                                           (ionAutoInput)="onState('ionAutoInput', $event)"
                                           (itemsChange)="onState('itemsChange', $event)"
                                           (itemsHidden)="onState('itemsHidden', $event)"
                                           (itemRemoved)="onState('itemRemoved', $event)"
                                           (itemSelected)="onState('itemSelected', $event)"
                                           (itemsShown)="onState('itemsShown', $event)"
                                           class="profile-autocomplete"
                                           >
                        </ion-auto-complete>-->
                    </ion-col>
                </ion-row>

                <ion-row class="border-bottom">
                    <ion-col class="text-center" col-3 size="3">

                        <!--<button ion-button class="gender-btn selection-upload-btn" (click)="changeGender()">-->
                        <button ion-button class="gender-btn selection-upload-btn" (press)="onPressGender($event)" (pressup)="onPressUpGender($event)">
                            <img [src]="genderImages[genderIndex].url">
                        </button>
                        <small>{{genderImages[genderIndex].name}}</small>

                    </ion-col>

                    <ion-col class="text-center" col-3 size="3" *ngFor="let habits of habitsData; let i=index">
                        <!--<button ion-button class="diet-btn selection-upload-btn" (click)="changeHabitsOption(habits['habbit_name'],habits['get_habbit_option'],i)">-->
                        <button ion-button class="diet-btn selection-upload-btn" (press)="onPress($event,habits['habbit_name'],habits['get_habbit_option'],i)" (pressup)="onPressUp($event)">
                            <img *ngIf="habits['habbit_name']==='diet'" [src]="dietImages[dietIndex].url">
                            <img *ngIf="habits['habbit_name']==='smoking'" [src]="smokehabitImages[smokingIndex].url">
                            <img *ngIf="habits['habbit_name']==='drinking'" [src]="drinkingImage[drinkingIndex].url">
                            <img *ngIf="habits['habbit_name']==='sleeping'" [src]="sleepingImage[sleepingIndex].url">
                        </button>
                        <small *ngIf="habits['habbit_name']==='diet'">
                            {{habitsData[i]['get_habbit_option'][dietIndex].habbit_option_name}}
                        </small>
                        <small *ngIf="habits['habbit_name']==='smoking'">
                            {{habitsData[i]['get_habbit_option'][smokingIndex].habbit_option_name}}
                        </small>
                        <small *ngIf="habits['habbit_name']==='drinking'">
                            {{habitsData[i]['get_habbit_option'][drinkingIndex].habbit_option_name}}
                        </small>
                        <small *ngIf="habits['habbit_name']==='sleeping'">
                            {{habitsData[i]['get_habbit_option'][sleepingIndex].habbit_option_name}}
                        </small>

                    </ion-col>
                    <!--<ion-col class="text-center" col-3 size="3">
                        <button ion-button class="diet-btn selection-upload-btn">
                            <img  [src]="smokehabitImages[smokingIndex].url">
                        </button>
                        <small>{{smokingHabitName}}</small>
                    </ion-col>
                    <ion-col class="text-center" col-3 size="3">
                        <button ion-button class="diet-btn selection-upload-btn">
                            <img  [src]="drinkingImage[drinkingIndex].url">
                        </button>
                        <small>{{drinkingHabitName}}</small>
                    </ion-col>
                    <ion-col class="text-center" col-3 size="3">
                          <button ion-button class="diet-btn selection-upload-btn">
                              <img  [src]="sleepingImage[sleepingIndex].url">
                          </button>
                          <small>{{sleepingHabitName}}</small>
                      </ion-col>-->
                </ion-row>
                <!--
               <ion-row class="border-bottom">
                <ion-col col-9 size="9">
                    <ion-item>
                      <ion-label class="greycolor inner-title">Sleeping</ion-label>
                    </ion-item>
                </ion-col>
                <ion-col class="text-center" col-3 size="3">
                    <button ion-button class="diet-btn selection-upload-btn">
                        <img  [src]="sleepingImage[sleepingIndex].url">
                    </button>
                    <small>{{sleepingHabitName}}</small>
                </ion-col>
              </ion-row>
    -->
            </div>
            <button ion-button type="submit" block class="savebtn" (click)="saveUserProfile()">Save</button>
        </form>
    </div>
    <div class="tabs-wrapper">
        <div class="tabsbar" slot="bottom">
            <a (click)="redirectToPage('profileother')">
                <ion-img src="assets/icon/profile-icon.png" *ngIf="!profileActive" class="tab-icon profile-icon" ></ion-img>
                <ion-img src="assets/icon/profile-icon_action.png" *ngIf="profileActive" class="tab-icon profile-icon" ></ion-img>
                <ion-label class="tab-text">PROFILE</ion-label>
            </a>
            <a (click)="redirectToPage('notification')">
                <ion-img src="assets/icon/notification-icon.png" *ngIf="!notificationActive"  class="tab-icon noti-icon" ></ion-img>
                <ion-img src="assets/icon/notification-icon-active.png"  *ngIf="notificationActive" class="tab-icon noti-icon" ></ion-img>
                <ion-label class="tab-text">NOTIFICATION</ion-label>
            </a>
            <a class="bluetab" (click)="openUniversityPage()">
                <ion-img src="assets/icon/icon-hat-unactive.png" class="tab-icon campusicon campusicon_unactive" ></ion-img>
            </a>
            <a (click)="redirectToNearbyAppartents()">
                <ion-img src="assets/icon/apartment-icon.png" *ngIf="!nearByApartmentsActive" class="tab-icon apt-icon" ></ion-img>
                <ion-img src="assets/icon/apartment-icon-active.png" *ngIf="nearByApartmentsActive" class="tab-icon apt-icon" ></ion-img>
                <ion-label class="tab-text">APARTMENTS</ion-label>
            </a>
            <a (click)="redirectToPage('nearby')">
                <ion-img src="assets/icon/nearby-icon.png" *ngIf="!nearbyActive" class="tab-icon apticon nearby-icon" ></ion-img>
                <ion-img src="assets/icon/nearby-icon-active.png"  *ngIf="nearbyActive" class="tab-icon apticon nearby-icon" ></ion-img>
                <ion-label class="tab-text">NEARBY</ion-label>
            </a>
        </div>
    </div>
</ion-content>
