universityreview:host{
    ion-header{
        margin-top:15px;
        }
    .reviewheading{
    font-family: 'open_sansregular';
}
.university-profileimg{
    width: 50px;
    height: 50px;
    margin: 0 auto;
    z-index: 9999;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    }
    .university-profileimg img{
        width: 100%;
        height: 100%;
        object-fit: cover
    }
    .universityname{
    font-family: 'open_sanssemibold';
    text-align:center;
    margin-top:10px;
    font-size: 18px;
    }
    .review-wrapper{
        text-align: center;
        font-size: 21px;
        margin-top: 15px;
        }
        .ratingno{
        text-align:center;
        font-size:9px;
        margin-top:5px; 
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
        color: #0066cc;
        text-decoration: underline;
        }
        .more-info{
        color:#c4c4c4;
        font-size: 12px;
        }

        .popoverbtn{
        --background:transparent;
        color: #000000;
        text-align: right;
        --box-shadow: none;
        }

        .reviewprofileimg{
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius:50%;
        overflow:hidden;
        object-fit: cover;
        }
        .reviewname{
        display: inline-block;
        vertical-align: top;
        padding-top: 5px;
        padding-left: 5px;
        font-family: 'open_sanssemibold';
        color:#000000;
        }
        .reviewratings{
        display: inline-block;
        vertical-align: top;
        float: right;
        margin-top: 5px;
        }
        
        .review-text{
        text-overflow: unset;
        overflow: visible;
        white-space: normal;
        font-size: 10px;
        line-height: 12px;
        color: #c4c4c4;
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
        }

        .reviewpopup ion-item{
            --min-height: 10px;
            --padding-start: 0;
            --padding-end: 0;
        }

        .reviewpopup ion-item:nth-child(1){
            border-bottom: 1px solid #000;
        }

        .reviewpopup{
            border: 1px solid #000;
            border-radius: 5px;
            overflow: hidden;
            position: absolute;
            top: 100%;
            z-index: 9999;
            right: 15px;
            width: 120px;
            padding:3px 7px;
            background: #fff;
            --text-align: center;
            display: none;
        }

        .reviewpopup ion-label{
            padding: 0;
            text-align: center;
            font-size: 12px;
            font-family: 'open_sanssemibold';
            margin-top: 4px;
            margin-bottom: 4px;
            margin-left: 10px;
            text-overflow: clip;
        }

        .reviewpopup ion-list{
        padding-top:0;
        padding-bottom:0;
        }
        .haspopover{
        display: inline-block;
        width: 83%;
        padding: 15px 15px;
        vertical-align: middle;
        }
        .edreview-wrapper{
        display:inline-block;
        position: relative;
        }


        .savebtn {
        font-weight: bold;
        width: 40%;
        padding: 10px;
        height: 35px;
        border-radius: 20px;
        text-transform: uppercase;
        margin: 10px auto;
        background:#0066cc;
        color:#ffffff;
        display:block;
        font-family: 'open_sanssemibold';
        font-size:16px;
        }

        .editreview{
        width:100%;
        height:90px;
        border:none;
        border-bottom:1px solid #0066cc;
        }

        .editreview-wrapper{
        display:none;
        }

        ion-content{
        --padding-bottom: 75px !important;
        }
}