<ion-header>
  <ion-toolbar>
    <div class="grybg backbtn headerinline searchmenu">
      <button ion-button start class="menu-btn" (click)="goBack()">
          <img src="../assets/icon/black-back-icon.png">
      </button>
      <ion-searchbar (click)="searchuniversity()"  placeholder="Search Universities, Apartments, Roommates"></ion-searchbar>
    </div>  
    <div class="headerinline">
      <button ion-button start class="chat-btn" (click)="openChat()">
        <img src="../assets/icon/msg-icon.png">
        <span class="unread-msgs" *ngIf="newMessage"></span>
    </button>
    </div>
    </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="reviewDetailsLoaded && reviewType == 'university'">

<div class="university-profileimg">
  <img src="{{universityData.university.logo}}">
</div>
<h4 class="universityname">{{universityData.university.university_name}}</h4>
<p class="smalltext text-center" style="margin: -3px 0 -8px;font-size: 11px;">{{universityData.university.state}}, {{universityData.university.country}}</p>
<div class="review-wrapper">
    <!-- <ion-icon name="star-outline"></ion-icon>
    <ion-icon name="star-outline"></ion-icon>
    <ion-icon name="star-outline"></ion-icon>
    <ion-icon name="star-outline"></ion-icon>
    <ion-icon name="star-outline"></ion-icon> -->
    <ion-icon name="ios-star" *ngIf="universityData.university.average_rating>=1"></ion-icon>
    <ion-icon name="star-outline" *ngIf="universityData.university.average_rating<1"></ion-icon>

    <ion-icon name="ios-star" *ngIf="universityData.university.average_rating>=2"></ion-icon>
    <ion-icon name="star-outline" *ngIf="universityData.university.average_rating<2"></ion-icon>

    <ion-icon name="ios-star" *ngIf="universityData.university.average_rating>=3"></ion-icon>
    <ion-icon name="star-outline" *ngIf="universityData.university.average_rating<3"></ion-icon>

    <ion-icon name="ios-star" *ngIf="universityData.university.average_rating>=4"></ion-icon>
    <ion-icon name="star-outline" *ngIf="universityData.university.average_rating<4"></ion-icon>

    <ion-icon name="ios-star" *ngIf="universityData.university.average_rating>=5"></ion-icon>
    <ion-icon name="star-outline" *ngIf="universityData.university.average_rating<5"></ion-icon>
    <p class="ratingno">{{universityData.ratings.length}} ratings</p>
</div>

<div class="review-container">
  <div *ngIf="selfReviews.length">
    <ion-label class="haspopover">
    <p class="reviewheading">REVIEWS</p>
    </ion-label>
    <div class="edreview-wrapper">
    <ion-button item-end class="popoverbtn" (click)="showHideEditPopup()">
      <ion-icon slot="icon-only" name="more"></ion-icon>
    </ion-button>
      <div class="reviewpopup" [ngStyle]="{'display':editreview === true ? 'block' : 'none' }">
        <ion-list>
          <ion-item button >
            <ion-label (click)="editSelfReview()">edit review</ion-label>
          </ion-item>
          <ion-item button lines="none">
            <ion-label (click)="deleteReview()">delete review</ion-label>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>
  <div *ngIf="!selfReviews.length">
    <ion-label class="haspopover">
    <p class="reviewheading">REVIEWS</p>
    </ion-label>
    <div class="edreview-wrapper">
    <ion-button item-end class="popoverbtn" (click)="showHideEditPopup()">
      <ion-icon slot="icon-only" name="more"></ion-icon>
    </ion-button>
      <div class="reviewpopup" [ngStyle]="{'display':editreview === true ? 'block' : 'none' }">
        <ion-list>
          <ion-item button lines="none">
            <ion-label  (click)="addReview()">add review</ion-label>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>
  <ion-item lines="full" *ngFor="let rating of selfReviews; let i = index" >
    <ion-label>
      <img class="reviewprofileimg" *ngIf="rating.user.user_profile_picture && rating.user.user_profile_picture.profile_picture" src="{{rating.user.user_profile_picture.profile_picture}}"> 
      <p class="reviewname" *ngIf="rating.user.first_name">{{rating.user.first_name}} {{rating.user.last_name}}</p>
    
    <div class="review-wrapper reviewratings">          
          <ion-icon name="ios-star" (click)="saveRating(1)" *ngIf="rating.rating>=1"></ion-icon>
          <ion-icon name="star-outline" (click)="saveRating(1)" *ngIf="rating.rating<1"></ion-icon>

          <ion-icon name="ios-star" (click)="saveRating(2)" *ngIf="rating.rating>=2"></ion-icon>
          <ion-icon name="star-outline" (click)="saveRating(2)" *ngIf="rating.rating<2"></ion-icon>

          <ion-icon name="ios-star" (click)="saveRating(3)" *ngIf="rating.rating>=3"></ion-icon>
          <ion-icon name="star-outline" (click)="saveRating(3)" *ngIf="rating.rating<3"></ion-icon>

          <ion-icon name="ios-star" (click)="saveRating(4)" *ngIf="rating.rating>=4"></ion-icon>
          <ion-icon name="star-outline" (click)="saveRating(4)" *ngIf="rating.rating<4"></ion-icon>

          <ion-icon name="ios-star" (click)="saveRating(5)" *ngIf="rating.rating>=5"></ion-icon>
          <ion-icon name="star-outline" (click)="saveRating(5)" *ngIf="rating.rating<5"></ion-icon>
    </div>
    <p class="review-text" *ngIf="!editing">{{rating.review}}</p>
      <div class="editreview-wrapper" [ngStyle]="{'display':editing === true ? 'block' : 'none' }">
        <textarea class="editreview" [(ngModel)] = "editedReview"></textarea>
        <button ion-button type="submit" block class="savebtn" (click)="saveReview()">Save</button>
      </div>
      </ion-label>
  </ion-item>

  <!-- to add ratings -->
    <ion-item lines="full" *ngIf="addRating" >
      <ion-label>
        <img class="reviewprofileimg" *ngIf="loggedInUserDetails.user_profile_picture && loggedInUserDetails.user_profile_picture.profile_picture" src="{{loggedInUserDetails.user_profile_picture.profile_picture}}"> 
        <p class="reviewname" *ngIf="loggedInUserDetails.first_name">{{loggedInUserDetails.first_name}} {{loggedInUserDetails.last_name}}</p>
      
      <div class="review-wrapper reviewratings">          
            <ion-icon name="ios-star" (click)="saveNewRating(1)" *ngIf="newRating>=1"></ion-icon>
            <ion-icon name="star-outline" (click)="saveNewRating(1)" *ngIf="newRating<1"></ion-icon>

            <ion-icon name="ios-star" (click)="saveNewRating(2)" *ngIf="newRating>=2"></ion-icon>
            <ion-icon name="star-outline" (click)="saveNewRating(2)" *ngIf="newRating<2"></ion-icon>

            <ion-icon name="ios-star" (click)="saveNewRating(3)" *ngIf="newRating>=3"></ion-icon>
            <ion-icon name="star-outline" (click)="saveNewRating(3)" *ngIf="newRating<3"></ion-icon>

            <ion-icon name="ios-star" (click)="saveNewRating(4)" *ngIf="newRating>=4"></ion-icon>
            <ion-icon name="star-outline" (click)="saveNewRating(4)" *ngIf="newRating<4"></ion-icon>

            <ion-icon name="ios-star" (click)="saveNewRating(5)" *ngIf="newRating>=5"></ion-icon>
            <ion-icon name="star-outline" (click)="saveNewRating(5)" *ngIf="newRating<5"></ion-icon>
      </div>
      <p class="review-text" *ngIf="!editing"></p>
        <div class="editreview-wrapper" [ngStyle]="{'display':editing === true ? 'block' : 'none' }">
          <textarea class="editreview" [(ngModel)] = "editedReview"></textarea>
          <button ion-button type="submit" block class="savebtn" (click)="saveNewReview()">Save</button>
        </div>
        </ion-label>
    </ion-item>
  <!-- to add ratings -->
  <ng-container *ngIf="!editing">
  <ion-item lines="full" *ngFor="let rating of othersReviews; let i = index">
    <ion-label *ngIf="!editing">
      <img class="reviewprofileimg" *ngIf="rating.user.user_profile_picture && rating.user.user_profile_picture.profile_picture" src="{{rating.user.user_profile_picture.profile_picture}}" (click)="pageTobeLoaded('friend-profile', rating.user.id)"> 
      <p class="reviewname" *ngIf="rating.user.first_name" (click)="pageTobeLoaded('friend-profile', rating.user.id)">{{rating.user.first_name}} {{rating.user.last_name}}</p>
    
    <div class="review-wrapper reviewratings">          
          <ion-icon name="ios-star" *ngIf="rating.rating>=1"></ion-icon>
          <ion-icon name="star-outline" *ngIf="rating.rating<1"></ion-icon>

          <ion-icon name="ios-star" *ngIf="rating.rating>=2"></ion-icon>
          <ion-icon name="star-outline" *ngIf="rating.rating<2"></ion-icon>

          <ion-icon name="ios-star" *ngIf="rating.rating>=3"></ion-icon>
          <ion-icon name="star-outline" *ngIf="rating.rating<3"></ion-icon>

          <ion-icon name="ios-star" *ngIf="rating.rating>=4"></ion-icon>
          <ion-icon name="star-outline" *ngIf="rating.rating<4"></ion-icon>

          <ion-icon name="ios-star" *ngIf="rating.rating>=5"></ion-icon>
          <ion-icon name="star-outline" *ngIf="rating.rating<5"></ion-icon>
    </div>
    <p class="review-text">{{rating.review}}</p>
      <!-- <div class="editreview-wrapper">
      <textarea class="editreview"></textarea>
      <button ion-button type="submit" block class="savebtn" (click)="saveProfile()">Save</button>
      </div> -->
      </ion-label>
  </ion-item>
  </ng-container>
 <!--  <ion-item lines="full">
      <ion-label>
        <img class="reviewprofileimg" src="../assets/imgs/reviewprofile-img.png"> 
        <p class="reviewname">Swapnil Mirjolkar</p>
      
      <div class="review-wrapper reviewratings">
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
      </div>
      <p class="review-text">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum. d minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat,</p>
        </ion-label>
    </ion-item> -->
</div>
<!-- <ion-tabs>
  <ion-tab-bar slot="bottom">
     <a> 
         <ion-img src="assets/icon/profile-icon.png" class="tab-icon profile-icon" ></ion-img>
         <ion-label class="tab-text">PROFILE</ion-label>
     </a>
     <a> 
         <ion-img src="assets/icon/notification-icon.png" class="tab-icon noti-icon" ></ion-img>
         <ion-label class="tab-text">NOTIFICATION</ion-label>
     </a>
     <a class="bluetab" >
         <ion-img src="assets/icon/icon-hate.png" class="tab-icon campusicon" ></ion-img>
     </a>
     <a>
         <ion-img src="assets/icon/apartment-icon.png" class="tab-icon apt-icon" ></ion-img>
         <ion-label class="tab-text">APARTMENTS</ion-label>
     </a>
     <a>
         <ion-img src="assets/icon/nearby-icon.png" class="tab-icon apticon nearby-icon" ></ion-img>
         <ion-label class="tab-text">NEARBY</ion-label>
     </a>
   </ion-tab-bar>
 </ion-tabs> -->
 <div class="tabs-wrapper">
        <div class="tabsbar" slot="bottom">
       <a (click)="redirectToPage('profileother')">
           <ion-img src="assets/icon/profile-icon.png" *ngIf="!profileActive" class="tab-icon profile-icon" ></ion-img>
           <ion-img src="assets/icon/profile-icon_action.png" *ngIf="profileActive" class="tab-icon profile-icon" ></ion-img>
           <ion-label class="tab-text">PROFILE</ion-label>
       </a>
       <a (click)="redirectToPage('notification')">
           <ion-img src="assets/icon/notification-icon.png" *ngIf="!notificationActive"  class="tab-icon noti-icon" ></ion-img>
           <ion-img src="assets/icon/notification-icon-active.png"  *ngIf="notificationActive" class="tab-icon noti-icon" ></ion-img>
           <ion-label class="tab-text">NOTIFICATION</ion-label>
       </a>
       <a class="bluetab" (click)="openUniversityPage()">
           <ion-img src="assets/icon/icon-hat-unactive.png" class="tab-icon campusicon campusicon_unactive" ></ion-img>
       </a>
       <a (click)="redirectToNearbyAppartents()">
           <ion-img src="assets/icon/apartment-icon.png" *ngIf="!nearByApartmentsActive" class="tab-icon apt-icon" ></ion-img>
           <ion-img src="assets/icon/apartment-icon-active.png" *ngIf="nearByApartmentsActive" class="tab-icon apt-icon" ></ion-img>
           <ion-label class="tab-text">APARTMENTS</ion-label>
       </a>
       <a (click)="redirectToPage('nearby')">
           <ion-img src="assets/icon/nearby-icon.png" *ngIf="!nearbyActive" class="tab-icon apticon nearby-icon" ></ion-img>
           <ion-img src="assets/icon/nearby-icon-active.png"  *ngIf="nearbyActive" class="tab-icon apticon nearby-icon" ></ion-img>
           <ion-label class="tab-text">NEARBY</ion-label>
       </a>
      </div>
    </div>
</ion-content>


<!-- to display apartment review -->
<ion-content padding *ngIf="reviewDetailsLoaded && reviewType == 'appartment'">

<div class="university-profileimg">
  <img src="{{apartmentData.apartment.logo}}">
</div>
<h4 class="universityname">{{apartmentData.apartment.apartment_name}}</h4>
<p class="smalltext text-center">{{apartmentData.apartment.state}}, {{apartmentData.apartment.country}}</p>
<div class="review-wrapper">
    <!-- <ion-icon name="star-outline"></ion-icon>
    <ion-icon name="star-outline"></ion-icon>
    <ion-icon name="star-outline"></ion-icon>
    <ion-icon name="star-outline"></ion-icon>
    <ion-icon name="star-outline"></ion-icon> -->
    <ion-icon name="ios-star" *ngIf="apartmentData.apartment.average_rating>=1"></ion-icon>
    <ion-icon name="star-outline" *ngIf="apartmentData.apartment.average_rating<1"></ion-icon>

    <ion-icon name="ios-star" *ngIf="apartmentData.apartment.average_rating>=2"></ion-icon>
    <ion-icon name="star-outline" *ngIf="apartmentData.apartment.average_rating<2"></ion-icon>

    <ion-icon name="ios-star" *ngIf="apartmentData.apartment.average_rating>=3"></ion-icon>
    <ion-icon name="star-outline" *ngIf="apartmentData.apartment.average_rating<3"></ion-icon>

    <ion-icon name="ios-star" *ngIf="apartmentData.apartment.average_rating>=4"></ion-icon>
    <ion-icon name="star-outline" *ngIf="apartmentData.apartment.average_rating<4"></ion-icon>

    <ion-icon name="ios-star" *ngIf="apartmentData.apartment.average_rating>=5"></ion-icon>
    <ion-icon name="star-outline" *ngIf="apartmentData.apartment.average_rating<5"></ion-icon>
    <p class="ratingno">{{apartmentData.ratings.length}} ratings</p>
</div>

<div class="review-container">
  <div *ngIf="selfReviews.length">
    <ion-label class="haspopover">
    <p class="reviewheading">REVIEWS</p>
    </ion-label>
    <div class="edreview-wrapper">
    <ion-button item-end class="popoverbtn" (click)="showHideEditPopup()">
      <ion-icon slot="icon-only" name="more"></ion-icon>
    </ion-button>
      <div class="reviewpopup" [ngStyle]="{'display':editreview === true ? 'block' : 'none' }">
        <ion-list>
          <ion-item button >
            <ion-label (click)="editSelfReview()">edit review</ion-label>
          </ion-item>
          <ion-item button lines="none" (click)="deleteApartmentReview()">
            <ion-label>delete review</ion-label>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>
  <div *ngIf="!selfReviews.length">
    <ion-label class="haspopover">
    <p class="reviewheading">REVIEWS</p>
    </ion-label>
    <div class="edreview-wrapper">
    <ion-button item-end class="popoverbtn" (click)="showHideEditPopup()">
      <ion-icon slot="icon-only" name="more"></ion-icon>
    </ion-button>
      <div class="reviewpopup" [ngStyle]="{'display':editreview === true ? 'block' : 'none' }">
        <ion-list>
          <ion-item button lines="none">
            <ion-label  (click)="addReview()">add review</ion-label>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>
  <ion-item lines="full" *ngFor="let rating of selfReviews; let i = index" >
    <ion-label>
      <img class="reviewprofileimg" *ngIf="rating.user.user_profile_picture && rating.user.user_profile_picture.profile_picture" src="{{rating.user.user_profile_picture.profile_picture}}"> 
      <p class="reviewname" *ngIf="rating.user.first_name">{{rating.user.first_name}} {{rating.user.last_name}}</p>
    
    <div class="review-wrapper reviewratings">          
          <ion-icon name="ios-star" (click)="saveRating(1)" *ngIf="rating.rating>=1"></ion-icon>
          <ion-icon name="star-outline" (click)="saveRating(1)" *ngIf="rating.rating<1"></ion-icon>

          <ion-icon name="ios-star" (click)="saveRating(2)" *ngIf="rating.rating>=2"></ion-icon>
          <ion-icon name="star-outline" (click)="saveRating(2)" *ngIf="rating.rating<2"></ion-icon>

          <ion-icon name="ios-star" (click)="saveRating(3)" *ngIf="rating.rating>=3"></ion-icon>
          <ion-icon name="star-outline" (click)="saveRating(3)" *ngIf="rating.rating<3"></ion-icon>

          <ion-icon name="ios-star" (click)="saveRating(4)" *ngIf="rating.rating>=4"></ion-icon>
          <ion-icon name="star-outline" (click)="saveRating(4)" *ngIf="rating.rating<4"></ion-icon>

          <ion-icon name="ios-star" (click)="saveRating(5)" *ngIf="rating.rating>=5"></ion-icon>
          <ion-icon name="star-outline" (click)="saveRating(5)" *ngIf="rating.rating<5"></ion-icon>
    </div>
    <p class="review-text" *ngIf="!editing">{{rating.review}}</p>
      <div class="editreview-wrapper" [ngStyle]="{'display':editing === true ? 'block' : 'none' }">
        <textarea class="editreview" [(ngModel)] = "editedReview"></textarea>
        <button ion-button type="submit" block class="savebtn" (click)="saveApartmentReview()">Save</button>
      </div>
      </ion-label>
  </ion-item>

  <!-- to add ratings -->
    <ion-item lines="full" *ngIf="addRating" >
      <ion-label>
        <img class="reviewprofileimg" *ngIf="loggedInUserDetails.user_profile_picture && loggedInUserDetails.user_profile_picture.profile_picture" src="{{loggedInUserDetails.user_profile_picture.profile_picture}}"> 
        <p class="reviewname" *ngIf="loggedInUserDetails.first_name">{{loggedInUserDetails.first_name}} {{loggedInUserDetails.last_name}}</p>
      
      <div class="review-wrapper reviewratings">          
            <ion-icon name="ios-star" (click)="saveNewRating(1)" *ngIf="newRating>=1"></ion-icon>
            <ion-icon name="star-outline" (click)="saveNewRating(1)" *ngIf="newRating<1"></ion-icon>

            <ion-icon name="ios-star" (click)="saveNewRating(2)" *ngIf="newRating>=2"></ion-icon>
            <ion-icon name="star-outline" (click)="saveNewRating(2)" *ngIf="newRating<2"></ion-icon>

            <ion-icon name="ios-star" (click)="saveNewRating(3)" *ngIf="newRating>=3"></ion-icon>
            <ion-icon name="star-outline" (click)="saveNewRating(3)" *ngIf="newRating<3"></ion-icon>

            <ion-icon name="ios-star" (click)="saveNewRating(4)" *ngIf="newRating>=4"></ion-icon>
            <ion-icon name="star-outline" (click)="saveNewRating(4)" *ngIf="newRating<4"></ion-icon>

            <ion-icon name="ios-star" (click)="saveNewRating(5)" *ngIf="newRating>=5"></ion-icon>
            <ion-icon name="star-outline" (click)="saveNewRating(5)" *ngIf="newRating<5"></ion-icon>
      </div>
      <p class="review-text" *ngIf="!editing"></p>
        <div class="editreview-wrapper" [ngStyle]="{'display':editing === true ? 'block' : 'none' }">
          <textarea class="editreview" [(ngModel)] = "editedReview"></textarea>
          <button ion-button type="submit" block class="savebtn" (click)="saveNewAppartmentReview()">Save</button>
        </div>
        </ion-label>
    </ion-item>
  <!-- to add ratings -->
  <ng-container *ngIf="!editing">  
  <ion-item lines="full" *ngFor="let rating of othersReviews; let i = index">
    <ion-label *ngIf="!editing">
      <img class="reviewprofileimg" *ngIf="rating.user.user_profile_picture && rating.user.user_profile_picture.profile_picture" src="{{rating.user.user_profile_picture.profile_picture}}" (click)="pageTobeLoaded('friend-profile', rating.user.id)"> 
      <p class="reviewname" *ngIf="rating.user.first_name" (click)="pageTobeLoaded('friend-profile', rating.user.id)">{{rating.user.first_name}} {{rating.user.last_name}}</p>
    
    <div class="review-wrapper reviewratings">          
          <ion-icon name="ios-star" *ngIf="rating.rating>=1"></ion-icon>
          <ion-icon name="star-outline" *ngIf="rating.rating<1"></ion-icon>

          <ion-icon name="ios-star" *ngIf="rating.rating>=2"></ion-icon>
          <ion-icon name="star-outline" *ngIf="rating.rating<2"></ion-icon>

          <ion-icon name="ios-star" *ngIf="rating.rating>=3"></ion-icon>
          <ion-icon name="star-outline" *ngIf="rating.rating<3"></ion-icon>

          <ion-icon name="ios-star" *ngIf="rating.rating>=4"></ion-icon>
          <ion-icon name="star-outline" *ngIf="rating.rating<4"></ion-icon>

          <ion-icon name="ios-star" *ngIf="rating.rating>=5"></ion-icon>
          <ion-icon name="star-outline" *ngIf="rating.rating<5"></ion-icon>
    </div>
    <p class="review-text">{{rating.review}}</p>
    </ion-label>
  </ion-item>
  </ng-container>
</div>
  <div class="tabs-wrapper">
        <div class="tabsbar" slot="bottom">
       <a (click)="redirectToPage('profileother')">
           <ion-img src="assets/icon/profile-icon.png" *ngIf="!profileActive" class="tab-icon profile-icon" ></ion-img>
           <ion-img src="assets/icon/profile-icon_action.png" *ngIf="profileActive" class="tab-icon profile-icon" ></ion-img>
           <ion-label class="tab-text">PROFILE</ion-label>
       </a>
       <a (click)="redirectToPage('notification')">
           <ion-img src="assets/icon/notification-icon.png" *ngIf="!notificationActive"  class="tab-icon noti-icon" ></ion-img>
           <ion-img src="assets/icon/notification-icon-active.png"  *ngIf="notificationActive" class="tab-icon noti-icon" ></ion-img>
           <ion-label class="tab-text">NOTIFICATION</ion-label>
       </a>
       <a class="bluetab" (click)="openUniversityPage()">
           <ion-img src="assets/icon/icon-hat-unactive.png" class="tab-icon campusicon campusicon_unactive" ></ion-img>
       </a>
       <a (click)="redirectToNearbyAppartents()">
           <ion-img src="assets/icon/apartment-icon.png" *ngIf="!nearByApartmentsActive" class="tab-icon apt-icon" ></ion-img>
           <ion-img src="assets/icon/apartment-icon-active.png" *ngIf="nearByApartmentsActive" class="tab-icon apt-icon" ></ion-img>
           <ion-label class="tab-text">APARTMENTS</ion-label>
       </a>
       <a (click)="redirectToPage('nearby')">
           <ion-img src="assets/icon/nearby-icon.png" *ngIf="!nearbyActive" class="tab-icon apticon nearby-icon" ></ion-img>
           <ion-img src="assets/icon/nearby-icon-active.png"  *ngIf="nearbyActive" class="tab-icon apticon nearby-icon" ></ion-img>
           <ion-label class="tab-text">NEARBY</ion-label>
       </a>
      </div>
    </div>
</ion-content>
