page-login:host {
  ion-header{
  top:23px;
  }
	.blue-bg{
      background:#0066cc;
	  }
	  ion-content{
	    --ion-background-color:#0066cc;
	  }
    .forgotpassword-wrapper{
        margin-top:5px;
        float:right;
    }

    .forgotpassword-wrapper button{
    color:#ffffff;
    font-size:14px;
    }

  @media(max-width:360px){
  ion-header{
  top:23px;
  }
  }  
}

