<ion-header class="hasbckbtn" [ngClass]="classForHeader">
    <ion-toolbar>
        <ion-buttons slot="start" (click)="goBack()">
          <ion-back-button text=""></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end" class="backbtn" (click)="forgotpassword()">
                <button>Forgot Password?</button>
          </ion-buttons>
      </ion-toolbar>
  </ion-header>
  
<!-- 
   <ion-header class="hasbckbtn">
      <ion-toolbar class="blue-bg-toolbar ">
        <button ion-buttons slot="start" class="backbtn">
           <button ion-back-button (click)="goBack()">
              <ion-icon name="arrow-round-back"></ion-icon>
           </button>
        </button>
        <button ion-buttons slot="end" class="forgotpassword-wrapper backbtn" (click)="forgotpassword()" end>
            <button>
                Forgot Password?
            </button>
         </button>
      </ion-toolbar>
    </ion-header>   -->

  <ion-content padding class="blue-bg">
    <div class="verticalcenter form-wrapper inputfocus">
      <h2 class="form-header">Log In</h2>
      <form class="sign-in-form" [formGroup]="signInForm" (ngSubmit)="submitted && !signInForm.invalid && userLogin(userData)">
          <ion-item>
            <ion-input (ionFocus)="checkFocus()" (ionBlur)="checkFocuss()" type="text"  [(ngModel)] = "userData.email" formControlName="email" placeholder="EMAIL ADDRESS"></ion-input>
          </ion-item>
          <div padding-horizontal *ngIf="submitted && signInForm.controls['email'].errors?.required">
            <ion-label color="danger">Email is Required</ion-label>
          </div>
          <div padding-horizontal *ngIf="submitted && signInForm.controls['email'].errors?.invalid">
            <ion-label color="danger">Please enter valid email</ion-label>
          </div>
          <ion-item class="password-wrapper">
            <ion-input [type]="password_type" [(ngModel)] = "userData.password" formControlName="password"  placeholder="PASSWORD" (ionFocus)="addClasstoHeader()" (ionBlur)="removeClassFromHeader()"></ion-input>
            <ion-icon name="eye-off" item-right (click)="togglePasswordMode()" *ngIf="password_type == 'password'"></ion-icon>
            <ion-icon name="eye" item-right (click)="togglePasswordMode()" *ngIf="password_type == 'text'"></ion-icon>
          </ion-item>
          <div padding-horizontal>
            <ion-label color="danger" *ngIf="submitted && signInForm.controls['password'].errors?.required">Password is required
            </ion-label>
          </div>

          <button ion-button type="submit" block class="submitbtn forwardbtn" (click)="submitted = true">Login</button>
      </form>
  </div>
  </ion-content>
