<ion-app [class.dark-theme]="dark">
  <ion-split-pane>

    <ion-menu>
      <!-- <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header> -->
      <ion-content>

        <!-- <ion-list>
          <ion-list-header>
            Navigate
          </ion-list-header>
          <ion-menu-toggle autoHide="false" *ngFor="let p of appPages; let i = index">
            <ion-item [routerLink]="p.url" routerLinkActive="active" routerDirection="root">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>

          </ion-menu-toggle>
        </ion-list>

        <ion-list *ngIf="loggedIn">
          <ion-list-header>
            Account
          </ion-list-header>

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/account" routerDirection="root">
              <ion-icon slot="start" name="person"></ion-icon>
              <ion-label>
                Account
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/support" routerDirection="root">
              <ion-icon slot="start" name="help"></ion-icon>
              <ion-label>
                Support
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item button (click)="logout()">
              <ion-icon slot="start" name="log-out"></ion-icon>
              <ion-label>
                Logout
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>

        <ion-list *ngIf="!loggedIn">
          <ion-list-header>
            Account
          </ion-list-header>

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/login" routerDirection="root">
              <ion-icon slot="start" name="log-in"></ion-icon>
              <ion-label>
                Login
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/support" routerDirection="root">
              <ion-icon slot="start" name="help"></ion-icon>
              <ion-label>
                Support
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/signup" routerDirection="root">
              <ion-icon slot="start" name="person-add"></ion-icon>
              <ion-label>
                Signup
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list>
          <ion-list-header>
            Tutorial
          </ion-list-header>
          <ion-menu-toggle autoHide="false">
            <ion-item button (click)="openTutorial()">
              <ion-icon slot="start" name="hammer"></ion-icon>
              <ion-label>Show Tutorial</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-label>
              Dark Theme
            </ion-label>
            <ion-toggle [(ngModel)]="dark"></ion-toggle>
          </ion-item>
        </ion-list> -->


        <ion-col col-6 size="6" class="" (click)="editProfile()" *ngIf="userInfo">
          <div class="menuprofile-img">
            <button ion-button class="upload-btn online">
                <img class="menuprofileicon" *ngIf="!user_profile_pic" src='../assets/icon/profil-camer-icon.png'>
                <img *ngIf="user_profile_pic" [src]="user_profile_pic" (error)="imageExpired()">
            </button>
            <img class="online-icon" src="../assets/icon/online-icon.png" *ngIf="userInfo && userInfo.user_profile && userInfo.user_profile.status == '0'">
            <img class="online-icon" src="../assets/icon/online-blue-icon.png" *ngIf="userInfo && userInfo.user_profile && userInfo.user_profile.status == '1'">
          </div>
          <p class="menuname">{{userInfo.first_name}} {{userInfo.last_name}} </p>
          <button ion-button class="menuschool" (click)="redirectToPage('school')">schools</button>
          </ion-col>
          <ion-item>
            <ion-label>
              <p class="editbtn" (click)="editOwnProfile()" *ngIf="!deleteUniversities">edit</p>
              <p class="editbtn" (click)="stopRemovingUniversity()" *ngIf="deleteUniversities">done</p>
            </ion-label>
              <button ion-button class="addschool" (click)="addUniversity()">
                  <img class="online-icon" src="../assets/icon/addwhite-icon.png">
              </button>
          </ion-item>

          <div style="height:130px;overflow: auto;">
          <ng-container *ngIf="!deleteUniversities">
            <ion-item lines="none" (click)="setUniversitySelected(school.university.id)" *ngFor="let school of userUniversities; let i = index">
              <div (click)="setUniversitySelected(school.university.id)" class="schoolicon" *ngIf="!deleteUniversities">
               <img src="../assets/icon/school-1.png" >
              </div>

              <div style="background: #fe3a2f;" (click)="unfollowUniversity(school.university.id)" class="schoolicon" *ngIf="deleteUniversities">
               <img src="../assets/icon/removewhite-icon.png">
              </div>
               <p (click)="setUniversitySelected(school.university.id)" class="menuschoolname">{{school.university.university_name}}</p>
            </ion-item>
          </ng-container>
          <ng-container *ngIf="deleteUniversities">
            <ion-item lines="none" (click)="unfollowUniversity(school.university.id)" *ngFor="let school of userUniversities; let i = index">
              <div (click)="setUniversitySelected(school.university.id)" class="schoolicon" *ngIf="!deleteUniversities">
               <img src="../assets/icon/school-1.png" >
              </div>

              <div style="background: #fe3a2f;" class="schoolicon" *ngIf="deleteUniversities">
               <img src="../assets/icon/removewhite-icon.png">
              </div>
               <p (click)="setUniversitySelected(school.university.id)" class="menuschoolname">{{school.university.university_name}}</p>
            </ion-item>
          </ng-container>
          </div>
          <!-- <ion-item line="none">
            <div class="schoolicon">
              <img src="../assets/icon/school-2.png">
            </div>
              <p class="menuschoolname">UTA Airlington</p>
          </ion-item> -->
         <!--  <ion-item line="none">
              <div class="schoolicon">
                <img src="../assets/icon/school-3.png">
              </div>
                <p class="menuschoolname">Georgia Institute of Technology</p>
            </ion-item> -->
            <ion-footer class="menufooter">
              <ion-item>
                <p class="menutext">Help & About</p>
              </ion-item>

              <ion-item>
                <p class="menutext" (click)="logout()">Log Out</p>
              </ion-item>
              <ion-item line="none" (click)="showFeedbackPopup()">
                  <button ion-button class="feebackbtn">feedback on this screen</button>
                </ion-item>
            </ion-footer>
      </ion-content>
    </ion-menu>
    <div class="feedbackpopup" [ngStyle]="{'display':showFeedBackPopup === true ? 'block' : 'none' }" style="z-index:999">
          <div class="feedbackhead">
              <button ion-button start class="feedbackbtn" (click)="closeFeedback()">
                  <img src="../assets/icon/black-back-icon.png">
              </button>
              <div class="feedbckheading">
                  <p>feedback</p>
              </div>
              <div class="feedbackcontent">
                <ion-row>
                  <ion-col col-4 size="4">
                    <img class="feedback-screenshot" src="{{capturedScreenshot}}">
                  </ion-col>
                  <ion-col col-8 size="8">
                    <textarea [(ngModel)]="feebackText" class="feedbacktextarea"></textarea>
                  </ion-col>
                </ion-row>
              </div>
              <button ion-button type="submit" block class="feedsavebtn" (click)="saveFeedback()">send report</button>
          </div>

      </div>
    <ion-router-outlet main></ion-router-outlet>

  </ion-split-pane>

</ion-app>
