@import "../../node_modules/ionic4-auto-complete/auto-complete";


@font-face {
font-family: 'open_sansregular';
src: url('assets/fonts/opensans-regular-webfont.eot');
src: url('assets/fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
url('assets/fonts/opensans-regular-webfont.woff2') format('woff2'),
url('assets/fonts/opensans-regular-webfont.woff') format('woff'),
url('assets/fonts/opensans-regular-webfont.ttf') format('truetype'),
url('assets/fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
font-weight: normal;
font-style: normal;

}

@font-face {
font-family: 'open_sanssemibold';
src: url('assets/fonts/opensans-semibold-webfont.eot');
src: url('assets/fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
url('assets/fonts/opensans-semibold-webfont.woff2') format('woff2'),
url('assets/fonts/opensans-semibold-webfont.woff') format('woff'),
url('assets/fonts/opensans-semibold-webfont.ttf') format('truetype');
font-weight: normal;
font-style: normal;

}

@font-face {
font-family: 'open_sansbold';
src: url('assets/fonts/opensans-bold-webfont.eot');
src: url('assets/fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
url('assets/fonts/opensans-bold-webfont.woff2') format('woff2'),
url('assets/fonts/opensans-bold-webfont.woff') format('woff'),
url('assets/fonts/opensans-bold-webfont.ttf') format('truetype'),
url('assets/fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
font-weight: normal;
font-style: normal;

}


@font-face {
font-family: 'open_sansitalic';
src: url('assets/fonts/opensans-italic-webfont.eot');
src: url('assets/fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
url('assets/fonts/opensans-italic-webfont.woff2') format('woff2'),
url('assets/fonts/opensans-italic-webfont.woff') format('woff'),
url('assets/fonts/opensans-italic-webfont.ttf') format('truetype'),
url('assets/fonts/opensans-italic-webfont.svg#open_sansitalic') format('svg');
font-weight: normal;
font-style: normal;

}

.font-italic{
font-family: 'open_sansitalic';
color:#5a5a5a;
}

body,ion-app{
--ion-default-font: 'open_sansregular' !important;
}

h1,h2,h3{
font-family: 'open_sansbold';
}

.blue-bg{
--ion-background-color:#0066cc;
}

.blue-bg-toolbar{
--ion-background-color:#0066cc;
}

.backbtn,.backbtn button{
background-color:transparent;
color:#ffffff;
}

.forgotpassword-wrapper button{
color:#ffffff;
}

// .backbtn button ion-icon{
// color:#ffffff;
// font-size:26px;
// }

.backbtn img{
width: 15px !important;
margin-top: 8px;
margin-left: 5px;
}

.form-header{
color:#ffffff;	
font-family: 'open_sansbold';
font-weight: bold;
}

.verticalcenter {
margin-top:45%;
position:initial !important
}

.forwardbtn{
background: #fff url(assets/icon/btn-forward.png) no-repeat;
background-size: 15px;
background-position: 80%;
border-radius: 20px;
width: 100px;
height: 40px;
float: right;
margin-top: 20px;
}

.resendbtn{
background-image:unset;
color: #0066cc;
font-family: 'open_sansbold';
font-weight: bold;
}

.text-input::-webkit-input-placeholder{
text-indent: 0;
color: #fff;
font-size: 12px;
letter-spacing: 0.8px;
opacity: .5;
}

.whitebg .text-input::-webkit-input-placeholder{
color: #999;
}

.form-wrapper{
padding:20px 40px;
}
.form-wrapper ion-item{
padding-left:0;
background: transparent;
margin-bottom:20px;
--border-color: #fff;
--padding-start: 0;
color: #fff;
--ion-font-family: 'open_sanssemibold';
font-size: 14px;
}
.form-wrapper ion-item .item-inner{
border-bottom:1px solid #ffffff !important; 	
}
.form-wrapper ion-item input{
color:#ffffff;
--padding-bottom: 0;		
}

.form-wrapper ion-item input::-webkit-input-placeholder{
color: rgba(255, 255, 255, 0.46) !important
}

.password-wrapper ion-icon{
color:#ffffff;
position: relative;
z-index: 9999;
width: 18px;
height: 18px;
min-height: auto;
margin-top: 10px;
}
.form-desc{
color:#ffffff;
font-size:14px;
}
.back-button-text{
display:none;
}
.whitebg{
background-color: #ffffff;
}
.greycolor{
color:#979797 !important;
margin-top: 15px !important;
font-family: 'open_sanssemibold';
}

.fullwidth ion-label{
display:block;
width:100%;
}

.fullwidth ion-select{
padding-right:0 !important; 
border-bottom:0 !important;
}

.fullwidth.item-block ion-select{
max-width: 100%;
padding:5px 10px 5px 10px !important;
}

.fullwidth .select-ios .select-placeholder,.fullwidth .select-ios .select-icon .select-icon-inner{
color: #000000;
}

.text-center{
text-align:center !important;
}

.text-right{
text-align:right !important;
}

.text-left{
text-align:left !important;
}



.menu-btn img{
width:20px;	
}

.searchbackbtn img{
width: 15px !important;
margin-top: 7px;
margin-left: 5px;
}


ion-toolbar{
// --background: #f5f5f5;
//border-radius: 30px;
min-height: auto;
padding: 0px;
margin: 15px;
width: 95%;
background:transparent;
}

.grybg {
background: #f5f5f5;
border-radius: 30px;
vertical-align: middle;
height: 37px;
padding: 2px 0;
}



.headerinline{
display:inline-block
}

.chat-btn{
width: 40px;
height: 40px;
border-radius: 50%;
background: #f5f5f5;
padding: 11px 10px;
margin-left: 10px;
vertical-align: middle;
}

ion-toolbar .searchbar-input{
padding-left: 0px !important;
box-shadow: none;
background: transparent !important;
padding-right: 30px;
}

ion-header:after{
display:none;
}

.menu-btn{
background: transparent;
}

.searchbar-search-icon{
// left: auto !important;
// right: 0px;
// // background-image: url(assets/icon/search-icon.png) !important;
// // background-size: 18px !important;
// width:29px !important;
// height: 25px !important;
// color: #000000 !important;
display:none;
}

ion-content{
--padding-start: 0 !important;
--padding-end: 0 !important;
}

.searchbar-ios .searchbar-search-icon{
top: 5px !important;
}

toolbar-background{
--background: transparent;
border: none !important;
box-shadow: none;
border-color: transparent;
}

ion-header ion-menu-toggle{
width: 10%;
display: inline-block;
vertical-align: top;
margin-top: 9px;
margin-left:10px;
}

ion-header ion-searchbar{
background:transparent;
width: 85% !important;
display: inline-block !important;
vertical-align: top !important;
height: 30px !important;
vertical-align: top;
//   background-image: url(assets/icon/search-icon.png) !important;
background-size: 18px !important;
background-repeat: no-repeat !important;
background-position: 85% !important;
-webkit-padding-start: 0px;
padding-inline-start: 0px;
-webkit-padding-end: 0px;
padding-inline-end: 0px;
border-radius: 0px 10px 10px 0px;
}

.searchbar-clear-button.sc-ion-searchbar-md{
right:0;
}

.searchbar-has-focus {
background-image:none !important;
}

ion-searchbar .searchbar-input-container{
height:30px !important
}

ion-toolbar:last-child{
--border-width: 0 0 0px !important; 
}

.header:after{
display:none;
}

.searchbar-input{
font-size: 10px !important;
font-family: 'open_sansregular' !important;
}

.profile-autocomplete .searchbar-input{
font-size:14px !important;
}

.searchmenu{
width:82%;
}

.tab-button{
overflow: visible
}

.tab-icon{
// width:50%;
width:22px;
margin:0 auto;
margin-top:5px
}

.apticon{
// width:100%;
width:49px;
}

.tab-text{
margin-top: 5px !important;
margin-bottom: 5px !important;
min-height: 11px;
color: #000;
font-size: 7px !important;	
}

.campusicon{
background-size: 70%;
background-repeat: no-repeat;
background-color: #0066cc;
border-radius: 50%;
padding: 12px;
width: 70px;
height: 70px;
margin-top: -30px;
z-index: 9999;
--overflow: visible;
}

.searchbar-search-icon {
.icon-inner{
display:none !important;
}
}

ion-searchbar.searchbar  .searchbar-clear-icon{
background-image:url(assets/icon/cancel-icon.png);
background-size: 15px;
}

.back-button-icon:before{
content: "\f27d";
color: #000;
font-size: 24px;
margin-left: 10px;
}

.overflow-visible{
//overflow:visible;    
margin-top:0px !important;
}

.smalltext{
color: #c4c4c4;
--ion-font-family: 'open_sansregular';
}

ion-item{
padding-left:0 !important;
width:100%;
}

.item-inner{
padding-right:0 !important;
}

.margin0{
margin-top:0;
margin-bottom:0;
margin-left:0;
margin-right:0;
}
.removebg{
background:transparent;
}

ion-auto-complete .searchbar-input{
padding-inline-start: 05px !important;
padding-inline-end: 0px;
box-shadow: none !important;
display: block;
flex: 0;
// font-family: 'open_sansregular' !important;
// height: 30px !important;
}

ion-auto-complete .searchbar-input-container{
height: 40px !important;
}

ion-select.select-wrapper .select-icon{
padding-left:10px !important;
}

.select-icon{
margin-right: 10px;
}

.absoluteheader{
position: absolute;
top: 25px;
}  

// .hasbckbtn {
// margin-top:25px;
// }

.notopscroll{
margin-top:24px;
}

.inputfocus{
margin-top:20%;
}


.hasbckbtn ion-toolbar{
--background: #0066cc;
border-radius: 0;
min-height: auto;
padding: 0px;
margin: 0;
width: 100%;
}

ion-back-button{
display:block !important;
color:#ffffff !important;
}

.searchbar-input {
box-shadow: none !important;
height: 30px !important;
padding-inline-end: 0px !important;
}

.sc-ion-searchbar-md.searchbar-search-icon{
display:none !important
}

.header-md ion-menu-toggle{
margin-left: 10px;
}


/*slider*/
.swiper-pagination-bullet-active{
background: transparent !important;
border: 2px solid rgba(255, 255, 255, 0.52) !important;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
text-align: right;
padding-right: 10px;
}
.swiper-pagination-bullet{
background: #ffffff;
}

.apt-icon{
width:35px;
}

.noti-icon{
width:35px;
}


.tabs-wrapper{
contain: none;
overflow: visible !important;
--overflow: visible !important;
background: #ebebeb;
position: fixed;
bottom: 0;
left: 0;
right: 0;
text-align: center;
z-index: 99;
}

a{
overflow: visible !important;
--overflow: visible !important;
}

.tabs-wrapper a{
display:inline-block;
position: relative;
width:20%;
}


.feedbackhead .feedbackbtn{
background:transparent;
display:inline-block;
}

.feedbackhead .feedbckheading{
display: inline-block;
width: 90%;
text-align: center;
color: #0066cc;
font-size: 21px;
font-family: 'open_sanssemibold';
}

.feedbackbtn img{
width:15px;
}

.feedbackpopup{
position: absolute;
left: 20px;
right: 20px;
top: 40%;
transform: translateY(-50%);
background: #ebebeb;
border: 1px solid #0066cc;
border-radius: 10px;
padding: 0 10px;
display:none;
}

.feedbacktextarea{
width: 100%;
min-height: 160px;
border-radius: 5px;
border-color: #0066cc;
}

.feedsavebtn{
font-weight: bold;
width: 50%;
padding: 5px;
height: 35px;
border-radius: 20px;
margin: 10px auto;
background: #0066cc;
color: #ffffff;
display: block;
font-family: 'open_sanssemibold';
font-size: 20px;
}

.padding20{
padding:0 20px;
}

.align-center {
margin-top: 50%;
}

.blue-btn{
background:#0066cc !important;
}

.grey-btn{
background:#ebebeb !important;
}

.upload-btn{
padding:0;
overflow:hidden;
}

.upload-btn img{
width:100%;
height:100%;
object-fit: cover;
}

.padding-bottom{
--padding-bottom:70px !important
}



.insidesearchmenu ion-toolbar{
text-align: center;
margin-top:30px;
}

.insidesearchmenu ion-toolbar ion-searchbar{
text-align:left;
}


.campusicon_unactive{
background-color: #ebebeb;
border: 1px solid #d9d9d9;
}


.fontregular{
font-family: 'open_sansregular';
}
.biotext textarea{
--padding-top: 0 !important;
--padding-bottom: 0 !important;
}

.unread-msgs{
width: 7px;
height: 7px;
background: red;
display: block;
border-radius: 50%;
position: absolute;
top: 12px;
right: 10px;
}