.active {
  color: var(--ion-color-primary);
  ion-icon {
    color: var(--ion-color-primary);
  }
}

.menuprofile-img .upload-btn{
  border-radius: 50%;
  padding: 0px;
  width: 150px;
  height: 150px;
  margin: 10px auto;
  display: block;
  background: transparent;
  border: 1px solid #0066cc;
  overflow:hidden;
}

.menuprofile-img .upload-btn img{
width:100%;
height:100%;
object-fit: cover;
}


.menuprofile-img .upload-btn  .menuprofileicon{
  width: 60px;
  height: auto;
  object-fit: unset;
}

.menuprofile-img{
position: relative;
margin-top:40px;
}

.menuprofile-img .online-icon{
  width: 20px;
  height: 20px;
  position: absolute;
  right: 85px;
  bottom: 20px;
  background: #fff;
    border-radius: 50%;
  border: 1px solid #ffffff;
}

.menuname{
  font-family: 'open_sanssemibold';
  color:#0066cc;
  text-align:center;
}

.menuschool{
  background: #0066cc;
  color: #fff;
  border-radius: 15px;
  padding: 7px;
  width: 200px;
  margin: 0 auto;
  display: block;
  font-size: 16px;
  font-family: 'open_sanssemibold';
}

.addschool{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #00ff00;
}

.editbtn{
  color: #0066cc !important;
}

.schoolicon{
  background: #0066cc;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 6px;
  margin-right: 10px;
}

.menuschoolname{
  font-family: 'open_sanssemibold';
  font-size:13px;
}

.menufooter{
  position: fixed;
  bottom: 0;
}

.menutext{
text-align: center;
width: 100%;
font-size: 12px;
font-family: 'open_sanssemibold';
}

.menufooter ion-item{
  --padding-start: 0;
}

.feebackbtn{
  background: transparent;
  border: 0.5px solid #0066cc;
  color: #979797;
  font-size: 18px;
  margin: 0 auto;
  padding: 6px 20px;
  border-radius: 20px;
}

.circular-transparent {
    background: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
}