<ion-header class="absoluteheader">
    <ion-toolbar>
        <div class="grybg headerinline searchmenu backbtn">
                <button ion-button start class="menu-btn" (click)="goBack()">
                    <img src="../assets/icon/black-back-icon.png">
                </button>
            <ion-searchbar (click)="searchuniversity()"
                           placeholder="Search Universities, Apartments, Roommates"></ion-searchbar>
        </div>
        <div class="headerinline">
            <button ion-button start class="chat-btn" (click)="openChat()">
                <img src="../assets/icon/msg-icon.png">
                <span class="unread-msgs" *ngIf="newMessage"></span>
            </button>
        </div>
    </ion-toolbar>
</ion-header>


<ion-content padding class="overflow-visible">


    <div class="universitybanner">
        <div class="universitybanner">
            <ion-slides #slides pager="true" *ngIf="universityData.university_images.length>0">
                <ion-slide *ngFor="let universityImage of universityData.university_images; let i = index">
                    <img [src]="universityImage.image" class="slide-image"/>
                </ion-slide>
            </ion-slides>
            <img src="../assets/img/university_default.png" class="slide-image"
                 *ngIf="universityData.university_images.length===0 || universityData.university_images===null"/>

        </div>
        <div class="university-profileimg">
            <!--<img src="../assets/imgs/university-profile-logo.png">-->
            <img [src]="universityData['logo']"/>

        </div>
        <div class="padding20">
            <h2 class="universityname">{{universityData['university_name']}}</h2>

            <p class="smalltext text-center unistate">{{universityData['state']}}, {{universityData['country']}}</p>
            <div class="following-section">

                <!------------------- Change in green color as per design ------------------>
                <p class="following" *ngIf="universityData['is_following']==1">following</p>

                <button ion-button class="btn selected-btn" *ngIf="universityData.is_following == 1"
                        (click)="followUniversity( universityData.id, 'unfollow', '0')">
                    <img src="../assets/icon/white-tick-icon.png">
                </button>
                <!------------------- Change in green color as per design ------------------>


                <!------------------- as it is ------------------>
                <p *ngIf="universityData['is_following']==0">follow</p>

                <button ion-button class="btn addsearch-btn"
                        (click)="followUniversity(universityData.id, 'follow', '1')"
                        *ngIf="universityData.is_following == 0">
                    <img src="../assets/icon/bigplus-icon.png">
                </button>
                <!------------------- as it is ------------------>
            </div>

            <div class="review-wrapper" (click)="reviewUniversity()">
                <ion-icon name="ios-star" *ngIf="universityData['average_rating']>=1"></ion-icon>
                <ion-icon name="star-outline" *ngIf="universityData['average_rating']<1"></ion-icon>

                <ion-icon name="ios-star" *ngIf="universityData['average_rating']>=2"></ion-icon>
                <ion-icon name="star-outline" *ngIf="universityData['average_rating']<2"></ion-icon>

                <ion-icon name="ios-star" *ngIf="universityData['average_rating']>=3"></ion-icon>
                <ion-icon name="star-outline" *ngIf="universityData['average_rating']<3"></ion-icon>

                <ion-icon name="ios-star" *ngIf="universityData['average_rating']>=4"></ion-icon>
                <ion-icon name="star-outline" *ngIf="universityData['average_rating']<4"></ion-icon>

                <ion-icon name="ios-star" *ngIf="universityData['average_rating']>=5"></ion-icon>
                <ion-icon name="star-outline" *ngIf="universityData['average_rating']<5"></ion-icon>

                <p class="ratingno">{{convertToInteger(universityData['average_rating'])}} ratings</p>

            </div>
            <p class="more-info">{{universityData['description']}} </p>
            <div class="other-info" style="margin: 0 -20px;">
                <ion-row>
                    <ion-col col-5 size="5">
                        <h3 class="greyheading">Fees</h3>
                        <p class="smalltitle" *ngFor="let fee of universityData['university_fees']">
                            ${{fee['fees_amount']}}<span>/{{fee['fees_unit']}}</span>
                            <ion-icon name="information-circle-outline" (click)="openInfo(fee.fees_link)"></ion-icon>
                        </p>
                    </ion-col>
                    <ion-col col-7 size="7">
                        <h3 class="greyheading">CREDITS</h3>
                        <p class="col-6 smalltitle" *ngFor="let credit of universityData['university_credits']">
                            {{credit['credit_from']}} - {{credit['credit_to']}}<span>{{credit['credit_tag']}}</span>
                            <ion-icon name="information-circle-outline"
                                      (click)="openInfo(credit.credit_link)"></ion-icon>
                        </p>

                    </ion-col>
                </ion-row>
                <ion-row class="intake_wrapper">
                    <ion-col col-12 size="12">
                        <h3 class="greyheading">INTAKES
                            <ion-icon name="information-circle-outline"
                                      (click)="openInfo(universityData['university_intakes'][0].intake_link)"></ion-icon>
                        </h3>

                        <div class="col-4" *ngFor="let intake of universityData['university_intakes'];let i = index" (click)="openInfo(intake.intake_link)">
                            <p class="text-left" *ngIf="i===0"> {{intake['intake_name']}}</p>
                            <p class="text-center" *ngIf="i===1"> {{intake['intake_name']}}</p>
                            <p class="text-right" *ngIf="i===2"> {{intake['intake_name']}}</p>
                        </div>

                        <span class="small-info" style="margin-top:5px;">*for updated dates <a
                                href="javascript:void(0)" (click)="openInfo(universityData['university_intakes'][0].intake_link)" *ngIf="universityData['university_intakes'] && universityData['university_intakes'][0]">details</a></span>
                    </ion-col>
                </ion-row>
                <ion-row style="padding:0;">
                    <ion-col col-12 size="12" class="weather-data">
                        <h3 class="greyheading">WEATHER
                            <ion-icon name="information-circle-outline"
                                      (click)="openInfo(universityData['university_weather'][0].weather_link)"></ion-icon>
                        </h3>
                        <p class="col-3 text-center"
                           *ngFor="let weather of universityData['university_weather']; let i=index" (click)="openInfo(weather.weather_link)">
                            <strong>{{weather['month_from']}}-{{weather['month_to']}}</strong>
                            <img class="weather-icon" src="../assets/icon/{{weather.weather_type}}-icon.png">
                        </p>

                        <span class="small-info" style="margin-top:5px;">*for updated dates <a
                                href="javascript:void(0)" (click)="openInfo(universityData['university_weather'][0].weather_link)" *ngIf="universityData['university_weather'] && universityData['university_weather'][0]">details</a></span>
                    </ion-col>
                </ion-row>
                <h3 class="greyheading">GROUPS</h3>
                <ion-row>
                    <ion-col col-3 size="3" *ngFor="let groups of universityData['university_groups']"
                             (click)="goUniversityProfile('group',groups.id)">
                        <div class="group-data">
                            <div class="gry-icon">
                                <img [src]="groups['group_logo']">
                            </div>
                            <div class="grey-text">
                                <p>{{groups['group_name']}}</p>
                            </div>
                        </div>
                    </ion-col>

                </ion-row>
                <h3 class="greyheading">CONTACT</h3>
                <p class="greysubhead text-center">Student Ambassadors</p>
                <ion-row>
                <ng-container *ngFor="let studentContact of universityData['university_students_contact']">
                    <ion-col col-3 size="3" 
                             (click)="goUniversityProfile('contact',studentContact.id)">
                        <div class="group-data">
                            <div class="gry-icon">
                                <img [src]="studentContact['student_pic']">
                            </div>
                            <div class="grey-text">
                                <p>{{studentContact['student_name']}}</p>
                            </div>
                        </div>
                    </ion-col>
                </ng-container>
                </ion-row>
                <p class="greysubhead text-center">International Department</p>
                <ion-row class="centercontent">
                    <ion-col col-3 size="3" *ngFor="let department of universityData['university_departments']"
                             (click)="goUniversityProfile('department',department.id)">
                        <div class="group-data">
                            <div class="gry-icon">
                                <img [src]="department['department_logo']">
                            </div>
                            <div class="grey-text">
                                <p>{{department['department_name']}}</p>
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
                <p class="greysubhead text-center">Contact</p>
                <ion-row>
                    <ion-col col-3 size="3" class="offset-2">
                        <a class="group-data" href="mailto:{{universityData['email']}}?Subject=''" target="_top">
                            <div class="gry-icon">
                                <img class="contact-icon" src="../assets/icon/email-icon.png">
                            </div>
                            <div class="black-text">
                                <p>email</p>
                            </div>
                        </a>
                    </ion-col>
                    <ion-col col-3 size="3">
                        <a class="group-data" href="tel:{{universityData['contact_number']}}">
                            <div class="gry-icon">
                                <img class="contact-icon" src="../assets/icon/phone-icon.png">
                            </div>
                            <div class="black-text">
                                <p>phone</p>
                            </div>
                        </a>
                    </ion-col>
                    <ion-col col-3 size="3">
                        <div class="group-data" (click)="openInfo(universityData.website)">
                            <div class="gry-icon">
                                <img class="contact-icon" src="../assets/icon/web-icon.png">
                            </div>
                            <div class="black-text">
                                <p>website</p>
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
        </div>
        <div class="tabs-wrapper">
            <div class="tabsbar" slot="bottom">
                <a (click)="redirectToPage('profileother')">
                    <ion-img src="assets/icon/profile-icon.png" *ngIf="!profileActive"
                             class="tab-icon profile-icon"></ion-img>
                    <ion-img src="assets/icon/profile-icon_action.png" *ngIf="profileActive"
                             class="tab-icon profile-icon"></ion-img>
                    <ion-label class="tab-text">PROFILE</ion-label>
                </a>
                <a (click)="redirectToPage('notification')">
                    <ion-img src="assets/icon/notification-icon.png" *ngIf="!notificationActive"
                             class="tab-icon noti-icon"></ion-img>
                    <ion-img src="assets/icon/notification-icon-active.png" *ngIf="notificationActive"
                             class="tab-icon noti-icon"></ion-img>
                    <ion-label class="tab-text">NOTIFICATION</ion-label>
                </a>
                <a class="bluetab" (click)="openUniversityPage()">
                    <ion-img src="assets/icon/icon-hate.png" class="tab-icon campusicon"></ion-img>
                </a>
                <a (click)="redirectToNearbyAppartents()">
                    <ion-img src="assets/icon/apartment-icon.png" *ngIf="!nearByApartmentsActive"
                             class="tab-icon apt-icon"></ion-img>
                    <ion-img src="assets/icon/apartment-icon-active.png" *ngIf="nearByApartmentsActive"
                             class="tab-icon apt-icon"></ion-img>
                    <ion-label class="tab-text">APARTMENTS</ion-label>
                </a>
                <a (click)="redirectToPage('nearby')">
                    <ion-img src="assets/icon/nearby-icon.png" *ngIf="!nearbyActive"
                             class="tab-icon apticon nearby-icon"></ion-img>
                    <ion-img src="assets/icon/nearby-icon-active.png" *ngIf="nearbyActive"
                             class="tab-icon apticon nearby-icon"></ion-img>
                    <ion-label class="tab-text">NEARBY</ion-label>
                </a>
            </div>
        </div>
    </div>
</ion-content>

