universitydetail:host{

.universitybanner{
margin-top: -10%;
border-radius: 0px 0px 20px 20px;
overflow: hidden;
}
// .universitybanner img{

// }
.university-profileimg{
width: 100px;
height: 100px;
margin: 0 auto;
margin-top: -50px;
z-index: 9;
position: relative;
border-radius: 50%;
overflow: hidden;
}
.universityname{
font-family: 'open_sanssemibold';
color: #0066cc;
text-align: center;
margin-top: 10px;
width: 80%;
margin: 0 auto;
font-weight: normal;
font-size: 21px;
}
.selected-btn,.non-selected-btn{
border-radius:50%;
padding: 5px;
height: 40px;
width: 40px;
background:#0066cc;
}
.following-section{
text-align: center;
}
.addsearch-btn{
box-shadow:none;
padding: 0px;
height: 40px;
width: 40px;
background: #ffffff;
border-radius: 50%;

}
.following-section p{
font-family: 'open_sanssemibold';
color: #b8b8b8;
display: inline-block;
border: 1px solid #b8b8b8;
padding: 6px;
border-radius: 20px;
padding-right: 45px;
margin-right: -37px;
vertical-align: top;
margin-top: 2px;
padding-left: 35px;
color: #fff;
background: #0066cc;
}
.review-wrapper{
text-align: center;
font-size: 21px;
margin-top: 15px;
}
.ratingno{
text-align:center;
font-size:9px;
margin-top:5px; 
}
.more-info{
color:#c4c4c4;
font-size: 12px;
text-align: justify;
width: 95%;
margin: 0 auto
}

.other-info ion-row{
border-bottom:0.5px solid #c7c7c7;
padding: 0px 10px 15px;
}
.greyheading{
font-family: 'open_sanssemibold';
color:#979797;
text-transform: uppercase;
text-align:center;
font-size:16px;
}
.greyheading ion-icon{
color: blue;
font-size: 10px;
}
.smalltitle{
font-family: 'open_sanssemibold';
font-size: 12px;   
}
.smalltitle span{
color:#979797;
font-size:10px;
}
.smalltitle ion-icon{
margin-left:5px;
color: blue;
font-size: 10px;
}
.col-6{
display:inline-block;
width:48%;
margin: 0;
text-align: center;
}
.col-6 span{
margin-left: 5px;
}
.col-4{
font-family: 'open_sanssemibold';
color:#000000;
display:inline-block;
width:32%;
margin:0;
}
.small-info{
text-align: center;
display:block;
font-size:9px;
color:#979797;
}
.col-3{
width:24%;
display:inline-block;
margin:0;
}
.weather-icon{
width: 20px;
display: block;
margin:10px auto;  
}
.weather-data strong{
font-size:16px;
font-family: 'open_sanssemibold';
font-weight:normal;
}
.gry-icon{
border-radius: 50%;
background: #ebebeb;
width: 75px;
height: 75px;
padding: 0px;
line-height: 70px;
overflow: hidden;
}
.gry-icon img{
width: 100%;
height: 100%;
object-fit: cover;
}
.grey-text{
color:#c4c4c4;
font-size: 11px;
text-align: center;
font-family: 'open_sansregular';
}

.black-text{
color: #000000;;
font-size: 11px;
text-align: center;
}
.greysubhead{
font-family: 'open_sanssemibold';
}

.contact-icon{
width: 35px !important;
margin: 0 auto;
display: block;
margin-top: 20px;
height: auto !important;
}
.offset-2{
margin-left:10%;
}
ion-toolbar{
--background:transparent;
}
ion-content{
--padding-bottom: 75px !important;
}

.following{
color:#b8b8b8 !important;
background:transparent !important;
}    
.unistate{
color: #c4c4c4;
font-family: 'open_sansregular';
margin: 5px 0;
font-size: 12px;
}

.intake_wrapper ion-col p.col-4:nth-child(2){
text-align: center;
}
}