<ion-header class="hasbckbtn notopscroll">
        <ion-toolbar>
            <ion-buttons slot="start" (click)="goBack()">
              <ion-back-button text=""></ion-back-button>
            </ion-buttons>
          </ion-toolbar>
      </ion-header>
  <ion-content padding class="blue-bg">
    <div class="verticalcenter form-wrapper section1">

      <div class="otp-wrapper" [hidden]="passwordNotSent" id="otpContainer">
          <h2 class="form-header">OTP</h2>
          <p class="form-desc">An email with a 5-digit verification code was just sent to above email.</p>
      <form>
          <ion-row id="otp_area">
              <ion-col> <ion-input #a type="text"  [(ngModel)]="otp1" name="otpval1"  (ngModelChange)="moveFirstFocus(b, $event, a)" class="otpval"></ion-input></ion-col>
              <ion-col><ion-input type="text"  [(ngModel)]="otp2" name="otpval2" maxlength="1" #b (keyup)="moveFocus(c, $event)" class="otpval"></ion-input></ion-col>
              <ion-col> <ion-input type="text"  [(ngModel)]="otp3" name="otpval3" maxlength="1"  #c (keyup)="moveFocus(d, $event)" class="otpval"></ion-input></ion-col>
              <ion-col> <ion-input type="text"  [(ngModel)]="otp4" name="otpval4" maxlength="1"  #d (keyup)="moveFocus(e, $event)" class="otpval"></ion-input></ion-col>
              <ion-col> <ion-input type="text"  [(ngModel)]="otp5" name="otpval5" maxlength="1" #e class="otpval" (keyup)="moveFocus('', $event)" ></ion-input></ion-col>
          </ion-row>
      </form>
      </div>
  </div>
  </ion-content>
