otpverify:host{
    // .otp-wrapper{
    //     margin-top:40%;
    // }

    .otp-wrapper ion-col ion-input{
    border-bottom:1px solid #ffffff;
    }

    .otp-wrapper ion-col ion-input input{
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    }

    .section1{
    margin-top:40%;
    }
    .otp-wrapper ion-input{
    text-align:center;
    color:#ffffff;
    }
    @media(max-width:360px){
        ion-header{
          top:0px;
          }
      }  
}