application:host{
    ion-header{
        margin-top:15px;
        }
    .greycolor{
        font-family: 'open_sanssemibold';
        font-size: 28px;
        margin-top: -10px !important;
        margin-bottom: 35px;
    }
    .blackheading{
        font-family: 'open_sansbold';
    }
    .step-heading{
        font-family: 'open_sanssemibold';
        font-size:18px;
    }

    .guide-btn{
        font-family: 'open_sanssemibold';
        text-transform: none;
        font-size: 18px !important;
        padding: 10px 25px !important;
        border-radius: 20px;
        margin: 0 auto;
        width: 130px;
        height: auto !important;
        display: block;
        box-shadow: none;
        background: #0a6cce;
        color: #fff;
    }
    .step-heading span{
    color:#979797;
    font-family: 'open_sansregular';
    font-size:13px;
    }
    .recommendation-text{
    color:#979797;
    text-align: center;
    font-size: 10px;
    margin: 15px auto;
    }
    .contact-upload-btn{
    background: #ebebeb;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 0px;
    box-shadow: none;
    overflow: hidden;
    }
    .addsection small{
        display: block;
        text-align: center;
        color: #979797;
        word-break: break-word;
        white-space: pre-line;
        font-size: 10px;
        margin-top: 5px;
    }
    .addsection{
    margin: 0 10px;
    }
    .grey-subheading{
    color: #979797;
    font-size: 18px;
    font-family: 'open_sanssemibold';
    }
    .blackhead{
        margin: 0;
    font-size: 24px;
    font-family: 'open_sanssemibold';
    }
    .grey-price{
    color: #c4c4c4;
    margin-top: 10px;
    margin-bottom: 0;
    }
    .blue-title{
    color: #0066cc;
    font-size: 20px;
    font-family: 'open_sanssemibold';
    margin-bottom: 0;
    }
    .priceblue{
    color: #0066cc;
    font-size: 18px;
    font-family: 'open_sanssemibold';
    text-align:right;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    }
    .greycolortext {
    color:#979797;
    font-family: 'open_sanssemibold';
    font-size: 16px;
    }
    .priceblack{
    color:#000000;
    text-align: right;
    font-size: 20px;
    margin-bottom: -5px;
    font-family: 'open_sanssemibold';
    margin-top: 0;
    width: 100%;
    }

    .border-bottom [col-6],.border-bottom [col-2],.border-bottom [col-4],.border-bottom [col-9],.border-bottom [col-3]{
    padding:0;
    }

    .border-bottom .col .item-inner{
        min-height: 55px;        
    }

    .smallgreytext{
    font-size: 9px;
    text-align: center;
    color:#979797;
    font-family: 'open_sanssemibold';
    }
    .occupants-icon{
    width:25px;
    }
    .noofoccupants{
    font-size:30px;
    }
    .blacktext {
    font-weight:bold;
    }
    .savebtn{
    width: 140px;
    height: auto;
    padding: 20px;
    border-radius: 30px;
    text-transform: none;
    line-height: 0;
    margin: 15px auto;
    margin-bottom: 50px;
    font-size: 18px;
    font-family: 'open_sanssemibold';
    background:#0066cc;
    color:#ffffff;
    display: block;
    }
    ion-item{
    padding-left:0 !important;
    --padding-start:0;

    .user-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
ion-content{
    --padding-bottom: 75px !important;
}
}