<ion-header class="insidesearchmenu">
<ion-toolbar>
<div class="grybg backbtn headerinline searchmenu">
<button ion-button start class="menu-btn" (click)="goBack()">
    <img src="../assets/icon/black-back-icon.png">
</button>
<ion-searchbar (click)="searchuniversity()"  placeholder="Search Universities, Apartments, Roommates"></ion-searchbar>
</div>  
<div class="headerinline">
<button ion-button start class="chat-btn" (click)="openChat()">
    <img src="../assets/icon/msg-icon.png">
    <span class="unread-msgs" *ngIf="newMessage"></span>
</button>
</div>
</ion-toolbar>
</ion-header>
      





<ion-content padding *ngIf="appartmentDetail">
    <h2 class="greycolor" style="padding:0 20px">Let’s simplify the application proces</h2>
    <h3 class="blackheading" style="padding:0 20px">{{appartmentDetail.apartment_name}}</h3>
    <div class="step-wrapper">
       <ion-item lines="full">
           <ion-label style="padding:0 20px">
            <h3 class="step-heading">STEP 1</h3>
            <button ion-button class="guide-btn" (click)="showGuide(appartmentDetail.apartment_guide)">guide</button>
            </ion-label>
       </ion-item>
    </div>
    <div class="step-wrapper">
        <ion-item lines="full">
            <ion-label>
                <h3 class="step-heading" style="padding:0 20px">STEP 2 <span>ADD OCCUPANTS</span> </h3>
                <p class="recommendation-text" style="padding:0 20px">(recommended 2 applicants)</p>
                <ion-row >
                    <ion-col class="addsection" size="2" col-offset-2 col-2 style="margin-left: 15%;">
                        <button ion-button class="contact-upload-btn">
                            <img style="width:18px;" src="../assets/icon/plus-icon.png">
                        </button>
                        <small>me</small>
                    </ion-col>
                    <ng-container *ngFor="let user of usersFriends">
                        <ion-col class="addsection" size="2" col-2 (click)="addFriendforApply()" *ngIf="user.checkedValue">
                            <button ion-button class="contact-upload-btn">
                                <img class="user-img" src="{{user.user_friends.user_profile_picture.profile_picture}}" *ngIf="user.user_friends && user.user_friends.user_profile_picture && user.user_friends.user_profile_picture.profile_picture">
                                <img style="width:25px;" src='../assets/icon/profil-camer-icon.png' *ngIf="!user.user_friends.user_profile_picture">
                            </button>
                            <small>{{user.user_friends.first_name}} {{user.user_friends.last_name}}</small>
                        </ion-col>
                    </ng-container>
                    <ion-col class="addsection" size="2" col-2 (click)="addFriendforApply()">
                        <button ion-button class="contact-upload-btn">
                            <img style="width:18px;" src="../assets/icon/plus-icon.png">
                        </button>
                        <small>add friend</small>
                    </ion-col>
                </ion-row>
            </ion-label>
        </ion-item>
    </div>
    <div class="step-wrapper" style="margin-top:15px;" *ngFor="let room of appartmentDetail.rooms; let i = index">
    <ng-container *ngIf="room.id == roomId">
        <h3 class="step-heading" style="padding:0 20px" >STEP 3 </h3>
        <p class="grey-subheading" style="padding:0 20px">Cost Estimation For</p>
        <ion-row class="border-bottom">
            <ion-col col-9 size="9">
                    <p class="blackhead" style="padding:0 20px">{{room.room_name}} </p>
            </ion-col>
            <ion-col class="text-center" col-3 size="3">
                <p class="grey-price">{{room.room_area}} sqft</p>
            </ion-col>
        </ion-row>
        <div *ngFor="let expense of monthlyExpenses;let i = index">
        <h3 class="blue-title" style="padding:0 20px" *ngIf="expense.expense_type == '1' && i == '0'">MONTHLY EXPENSES</h3>
        <!-- <h3 class="blue-title" style="padding:0 20px" *ngIf="expense.expense_type == '1' && i == '0'">ONE TIME EXPENSES</h3> -->
        <ion-row class="border-bottom" *ngIf="expense.expense_type == '1'">
            <ion-col col-6 size="6">
                <ion-item lines="full">
                    <ion-label style="padding:0 20px" class="greycolortext">{{expense.expense_name}}</ion-label>
                </ion-item>
            </ion-col>
            <ion-col col-2 size="2"> <ion-item lines="full"> </ion-item>
            </ion-col>
            <ion-col class="text-center" col-4 size="4">
                <ion-item lines="full">
                <p class="priceblack ion-text-right">${{expense.expense_amount}}</p>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row class="border-bottom" *ngIf="i == (monthlyExpenses.length - 1)">
            <ion-col col-6 size="6">
                <ion-item lines="full">
                    <ion-label class="blue-title" style="padding:0 20px">TOTAL</ion-label>
                </ion-item>
            </ion-col>
            <ion-col col-2 size="2">
                    <ion-item lines="full">
                        </ion-item>
            </ion-col>
            <ion-col class="text-center" col-4 size="4">
                <ion-item lines="full">
                <p class="priceblue ion-text-right">${{getTotalMonthlyExpense(monthlyExpenses, 1)}}</p>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row class="border-bottom"  *ngIf="i == (monthlyExpenses.length - 1)">
            
            <ion-col col-12 size="12">
                <ion-item lines="full">
                <ion-label style="padding:0 20px">
                    <p class="greycolortext">Number Of Occupants </p>
                    <img src="../assets/icon/male-icon.png" class="occupants-icon">
                    <ion-icon name="close"></ion-icon>
                    <span class="noofoccupants">{{room.max_occupants}}</span>
                </ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row class="border-bottom"  *ngIf="i == (monthlyExpenses.length - 1)">
            <ion-col col-9 size="9">
            <ion-item lines="full">
                <ion-label class="blacktext" style="padding:0 20px">Approx Monthly Cost / Person </ion-label>
            </ion-item>
            </ion-col>
            <ion-col class="text-center" col-3 size="3">
                    <ion-item lines="full">
                <p class="priceblue ion-text-right">${{getTotalMonthlyExpensePerPerson(monthlyExpenses, 1, room.max_occupants)}}</p>
                </ion-item>
            </ion-col>
        </ion-row> 
        <!-- <ion-row class="border-bottom">
            <ion-col col-6 size="6">
                <ion-item lines="full">
                    <ion-label class="greycolortext" style="padding:0 20px">Electricity</ion-label>
                </ion-item>
            </ion-col>
            <ion-col col-2 size="2">
                <ion-item lines="full">
                <p class="smallgreytext">approx</p>
                </ion-item>
            </ion-col>
            <ion-col class="text-center" col-4 size="4">
                <ion-item lines="full">
                <p class="priceblack ion-text-right">$50</p>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row class="border-bottom">
            <ion-col col-6 size="6">
                <ion-item lines="full">
                    <ion-label class="greycolortext" style="padding:0 20px">Gas</ion-label>
                </ion-item>
            </ion-col>
            <ion-col col-2 size="2">
                <ion-item lines="full">
                <p class="smallgreytext">approx</p>
                </ion-item>
            </ion-col>
            <ion-col class="text-center" col-4 size="4">
                <ion-item lines="full">
                <p class="priceblack ion-text-right">$50</p>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row class="border-bottom">
            <ion-col col-6 size="6">
                <ion-item lines="full">
                    <ion-label class="greycolortext" style="padding:0 20px">Renters Insurance </ion-label>
                </ion-item>
            </ion-col>
            <ion-col col-2 size="2">
                    <ion-item lines="full">
                <p class="smallgreytext">approx</p>
                </ion-item>
            </ion-col>
            <ion-col class="text-center" col-4 size="4">
                <ion-item lines="full">
                <p class="priceblack ion-text-right">$12</p>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row class="border-bottom">
            <ion-col col-6 size="6">
                <ion-item lines="full">
                    <ion-label class="blue-title" style="padding:0 20px">TOTAL</ion-label>
                </ion-item>
            </ion-col>
            <ion-col col-2 size="2">
                    <ion-item lines="full">
                        </ion-item>
            </ion-col>
            <ion-col class="text-center" col-4 size="4">
                <ion-item lines="full">
                <p class="priceblue ion-text-right">$1212</p>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row class="border-bottom">
            
            <ion-col col-12 size="12">
                <ion-item lines="full">
                <ion-label style="padding:0 20px">
                    <p class="greycolortext">Number Of Occupants </p>
                    <img src="../assets/icon/male-icon.png" class="occupants-icon">
                    <ion-icon name="close"></ion-icon>
                    <span class="noofoccupants">4</span>
                </ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row class="border-bottom">
            <ion-col col-9 size="9">
            <ion-item lines="full">
                <ion-label class="blacktext" style="padding:0 20px">Approx Monthly Cost / Person </ion-label>
            </ion-item>
            </ion-col>
            <ion-col class="text-center" col-3 size="3">
                    <ion-item lines="full">
                <p class="priceblue ion-text-right">$303</p>
                </ion-item>
            </ion-col>
        </ion-row> -->
        </div >


        <div *ngFor="let expense of oneTimeExpenses;let i = index">
        <h3 class="blue-title" style="padding:0 20px" *ngIf="expense.expense_type == '2' && i == '0'">ONE TIME EXPENSES</h3>
        <!-- <h3 class="blue-title" style="padding:0 20px" *ngIf="expense.expense_type == '1' && i == '0'">ONE TIME EXPENSES</h3> -->
        <ion-row class="border-bottom" *ngIf="expense.expense_type == '2'">
            <ion-col col-6 size="6">
                <ion-item lines="full">
                    <ion-label style="padding:0 20px" class="greycolortext">{{expense.expense_name}}</ion-label>
                </ion-item>
            </ion-col>
            <ion-col col-2 size="2"> <ion-item lines="full"> </ion-item>
            </ion-col>
            <ion-col class="text-center" col-4 size="4">
                <ion-item lines="full">
                <p class="priceblack ion-text-right">${{expense.expense_amount}}</p>
                </ion-item>
            </ion-col>
        </ion-row>
        
        </div >

        <!-- <div *ngFor="let expense of room.room_expenses;let i = index">
        <h3 class="blue-title" style="padding:0 20px" *ngIf="expense.expense_type == '2' && i == '0'">ONE TIME EXPENSES</h3>
        <ion-row class="border-bottom">
            <ion-col col-6 size="6">
                <ion-item lines="full">
                    <ion-label class="greycolortext" style="padding:0 20px">{{expense.expense_name}} </ion-label>
                </ion-item>
            </ion-col>
            <ion-col col-2 size="2">
                    <ion-item lines="full">
                    <p class="smallgreytext">approx</p>
                    </ion-item>
            </ion-col>
            <ion-col class="text-center" col-4 size="4">
                    <ion-item lines="full">
                <p class="priceblack ion-text-right">${{expense.expense_amount}}</p>
                </ion-item>
            </ion-col>
        </ion-row>
        </div> -->

        <!-- <h3 class="blue-title">ONE TIME EXPENSES</h3>
        <ion-row class="border-bottom">
            <ion-col col-6 size="6">
                <ion-item lines="full">
                    <ion-label class="greycolortext" style="padding:0 20px">Deposit </ion-label>
                </ion-item>
            </ion-col>
            <ion-col col-2 size="2">
                <ion-item lines="full">
                <p class="smallgreytext">approx</p>
                </ion-item>
            </ion-col>
            <ion-col class="text-center" col-4 size="4">
                    <ion-item lines="full">
                <p class="priceblack ion-text-right">$1100</p>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row class="border-bottom">
            <ion-col col-6 size="6">
                <ion-item lines="full">
                    <ion-label class="greycolortext" style="padding:0 20px">Application Fee </ion-label>
                </ion-item>
            </ion-col>
            <ion-col col-2 size="2">
                    <ion-item lines="full"></ion-item>
            </ion-col>
            <ion-col class="text-center" col-4 size="4">
                <ion-item lines="full">
                <p class="priceblack ion-text-right">$100</p>
                </ion-item>
            </ion-col>
        </ion-row> -->

        <button ion-button block class="savebtn" (click)="applyForAppartment(room.apartment_id, room.id, room.max_occupants)">apply</button>
        </ng-container>
    </div>


    <div class="tabs-wrapper">
        <div class="tabsbar" slot="bottom">
           <a (click)="redirectToPage('profileother')"> 
               <ion-img src="assets/icon/profile-icon.png" class="tab-icon profile-icon" ></ion-img>
               <ion-label class="tab-text">PROFILE</ion-label>
           </a>
           <a (click)="redirectToPage('notification')"> 
               <ion-img src="assets/icon/notification-icon.png" class="tab-icon noti-icon" ></ion-img>
               <ion-label class="tab-text">NOTIFICATION</ion-label>
           </a>
           <a class="bluetab" (click)="openUniversityPage()">
               <ion-img src="assets/icon/icon-hat-unactive.png" class="tab-icon campusicon campusicon_unactive" ></ion-img>
           </a>
           <a (click)="redirectToNearbyAppartents()">
               <ion-img src="assets/icon/apartment-icon.png" class="tab-icon apt-icon" ></ion-img>
               <ion-label class="tab-text">APARTMENTS</ion-label>
           </a>
           <a (click)="redirectToPage('nearby')">
               <ion-img src="assets/icon/nearby-icon.png" class="tab-icon apticon nearby-icon" ></ion-img>
               <ion-label class="tab-text">NEARBY</ion-label>
           </a>
          </div>
        </div>

</ion-content>
