<ion-header class="absoluteheader">
        <ion-toolbar>
          <div class="grybg backbtn headerinline searchmenu">
            <button ion-button start class="menu-btn" (click)="goBack()">
                <img src="../assets/icon/black-back-icon.png">
            </button>
            <ion-searchbar (click)="searchuniversity()"  placeholder="Search Universities, Apartments, Roommates"></ion-searchbar>
          </div>
          <div class="headerinline">
            <button ion-button start class="chat-btn" (click)="openChat()">
              <img src="../assets/icon/msg-icon.png">
              <span class="unread-msgs" *ngIf="newMessage"></span>
          </button>
          </div>
          </ion-toolbar>
      </ion-header>


<ion-content padding class="overflow-visible">
    <div class="universitybanner" >
        <!--<img src="../assets/imgs/banner.jpg">-->
        <ion-slides #slides pager="true" *ngIf="universityData.university_images.length>0">
            <ion-slide *ngFor="let universityImage of universityData.university_images; let i = index">
                <img [src]="universityImage.image" class="slide-image"/>
            </ion-slide>

            <!-- <ion-slide >
                <img src="../assets/imgs/banner.jpg" class="slide-image"/>
            </ion-slide>
            <ion-slide >
                <img src="../assets/imgs/banner.jpg" class="slide-image"/>
            </ion-slide> -->
        </ion-slides>
        <img src="../assets/img/university_default.png" class="slide-image"
                 *ngIf="universityData.university_images.length===0 || universityData.university_images===null"/>
        <!-- <img [src]="universityData['university_images'][0]['image']" /> -->
    </div>
    <div class="university-profileimg">
        <!--<img src="../assets/imgs/university-profile-logo.png">-->


        <img [src]="universityData['logo']" />
    </div>
    <h2 class="universityname">{{universitySubTypeName}}</h2>
    <p class="smalltext text-center">{{universitySubTypeState}}, {{universitySubTypeCoountry}}</p>
    <div class="contact-details-wrapper" style="padding:0 20px;">
        <h5 class="greycolortext" *ngIf="universityItem==='group'">GROUP DETAILS</h5>
        <h5 class="greycolortext" *ngIf="universityItem==='contact'">CONTACT DETAILS</h5>
        <h5 class="greycolortext" *ngIf="universityItem==='department'">DEPARTMENT DETAILS</h5>

        <ion-row *ngIf="universitySubTypeContacts">

            <!-- <ion-col col-3 size="3">
                <div class="group-data">
                    <div class="gry-icon">
                        <img [src]="universitySubTypeImge">
                    </div>
                    <div class="grey-text">
                        <p>{{universitySubTypeName}}</p>
                    </div>
                </div>
            </ion-col> -->
            <ion-col col-3 size="3" *ngFor="let contact of universitySubTypeContacts">
                <div class="group-data" *ngIf="contact.social_provider == 'FACEBOOK'" (click)="openInfo(contact.social_link)">
                    <div class="gry-icon">
                        <img src="../assets/icon/fb.png" style="width: 15px;"  >
                    </div>
                    <!-- <div class="grey-text">
                        <p>{{universitySubTypeName}}</p>
                    </div> -->
                </div>
                <div class="group-data" *ngIf="contact.social_provider == 'INSTAGRAM'" (click)="openInfo(contact.social_link)">
                    <div class="gry-icon">
                        <img src="../assets/icon/insta.png" style="width: 22px;"  >
                    </div>
                    <!-- <div class="grey-text">
                        <p>{{universitySubTypeName}}</p>
                    </div> -->
                </div>
                <div class="group-data" *ngIf="contact.social_provider == 'YOUTUBE'" (click)="openInfo(contact.social_link)">
                    <div class="gry-icon">
                        <img src="../assets/icon/youtube.png" style="width: 22px;"  >
                    </div>
                    <!-- <div class="grey-text">
                        <p>{{universitySubTypeName}}</p>
                    </div> -->
                </div>
            </ion-col>

        </ion-row>
    </div>
    <p class="greycolortext" style="padding:0 20px;">LOCATION </p>
    <div class="university-add" style="padding:0 20px;">
        <p>{{address}}</p>
    </div>

    <div class="location-map" style="margin:0 20px;">
        <!-- <img src="../assets/imgs/location-map.jpg"> -->
        <!--<iframe [src]="'http://maps.google.com/maps?q='+universityData['latitude']+', '+universityData['longitude']+'&z=15&output=embed'" width="360" height="270" frameborder="0" style="border:0"></iframe>-->
        <!-- <div #map id="map"></div> -->
        <div class="map-wrapper" >
            <div id="map_center">
                <!--<img src="../../assets/icon/center_marker.png" />-->
            </div>
            <div #map id="map"></div>
        </div>

    </div>
    <div class="tabs-wrapper">
        <div class="tabsbar" slot="bottom">
           <a (click)="redirectToPage('profileother')">
               <ion-img src="assets/icon/profile-icon.png" class="tab-icon profile-icon" ></ion-img>
               <ion-label class="tab-text">PROFILE</ion-label>
           </a>
           <a (click)="redirectToPage('notification')">
               <ion-img src="assets/icon/notification-icon.png" class="tab-icon noti-icon" ></ion-img>
               <ion-label class="tab-text">NOTIFICATION</ion-label>
           </a>
           <a class="bluetab" (click)="openUniversityPage()">
               <ion-img src="assets/icon/icon-hat-unactive.png" class="tab-icon campusicon campusicon_unactive" ></ion-img>
           </a>
           <a (click)="redirectToNearbyAppartents()">
               <ion-img src="assets/icon/apartment-icon.png" class="tab-icon apt-icon" ></ion-img>
               <ion-label class="tab-text">APARTMENTS</ion-label>
           </a>
           <a (click)="redirectToPage('nearby')">
               <ion-img src="assets/icon/nearby-icon.png" class="tab-icon apticon nearby-icon" ></ion-img>
               <ion-label class="tab-text">NEARBY</ion-label>
           </a>
        </div>
    </div>
</ion-content>


