university-profile:host{
.universitybanner{
margin-top: -10%;
margin-left: -10px;
margin-right: -10px;
}
.universitybanner img{
border-radius: 0px 0px 20px 20px;
}
.university-profileimg{
width: 100px;
height: 100px;
margin: 0 auto;
margin-top: -50px;
z-index: 9999;
position: relative;
border-radius: 50%;
overflow: hidden;
margin-bottom: 10px;
}
.universityname{
font-family: 'open_sanssemibold';
color:#0066cc;
text-align:center;
margin-top:10px;
}
button.contact-upload-btn{
background: #d7d7d7;
border-radius: 50%;
width: 40px;
height: 40px;
padding: 13px;
box-shadow: none;
}

#map_canvas {
width: 90%;
height: 80%;
border: 1px solid red;
}


#address {
padding: 10px;
font-size: 18px;
font-weight: bold;
}

#map {
width: 100%;
height: 30vh;
}

.map-wrapper {
position: relative;

#map_center {
position: absolute;
z-index: 99;
height: 40px;
width: 40px;
top: 50%;
left: 50%;
margin-left: -21px;
margin-top: -41px;
}

}

.contact-details-wrapper .item-inner{
text-align:center;
border: none !important;
}

.gry-icon{
border-radius: 50%;
background: #ebebeb;
width: 65px;
height: 65px;
padding: 10px;
line-height: 70px;
text-align: center;
}
.grey-text{
color:#c4c4c4;
font-size: 11px;
text-align: center;
}

.greycolortext {
color:#979797;
font-family: 'open_sanssemibold';
font-size: 16px;
}
.university-add{
color:#000000;
}
.location-map{
border: 1px solid #007dff;
border-radius: 10px;
height: 150px;
overflow: hidden;
}
ion-toolbar{
--background:transparent;
}
ion-content{
--padding-bottom: 75px !important;
}
}
