<ion-header class="hasbckbtn">
    <ion-toolbar>
        <ion-buttons slot="start" (click)="goBack()">
          <ion-back-button text=""></ion-back-button>
        </ion-buttons>
      </ion-toolbar>
  </ion-header>

<ion-content padding class="blue-bg">
  <div class="verticalcenter form-wrapper inputfocus">
    <h2 class="form-header">What’s your name?</h2>
    <form class="create-account1-form"  [formGroup]="createAccount1Form" (ngSubmit)="submitted && !createAccount1Form.invalid && createaccount(userData)">
        <ion-item>
          <ion-input type="text"  [(ngModel)] = "userData.fname" name="createfirstname" placeholder="FIRST NAME" formControlName="fname"></ion-input>
        </ion-item>
        <div padding-horizontal *ngIf="submitted && createAccount1Form.controls['fname'].errors?.required">
          <ion-label color="danger">First Name is Required</ion-label>
        </div>
        <ion-item>
          <ion-input type="text"  [(ngModel)] = "userData.lname" name="createlastname" placeholder="LAST NAME" formControlName="lname"></ion-input>
        </ion-item>
        <div padding-horizontal *ngIf="submitted && createAccount1Form.controls['lname'].errors?.required">
          <ion-label color="danger">Last Name is Required</ion-label>
        </div>
        <button ion-button type="submit" block class="submitbtn forwardbtn" (click)="submitted = true"></button>
    </form>
</div>
</ion-content>