<ion-header>
  <ion-toolbar>
    <ion-title>test</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="map-wrapper">
    <div id="map_center">
      <!--<img src="../../assets/icon/center_marker.png" />-->
    </div>
    <div #map id="map"></div>
  </div>

</ion-content>
