createaccount2:host{
    .terms-wrapper .item-inner{
        border:none !important
    }

    .terms-wrapper ion-label{
        white-space: normal;
    color: #fff;
    font-size: 10px;
    }
    .createtermschk .checkbox-icon{
    background: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    height: 25px;
    width: 25px;
    }
    .checkbox-md .checkbox-checked .checkbox-inner{
    width: 10px;
    left: 7px;
    height:20px;
    }
    .createtermschk {
        --border-color: #fff;
    }
    ion-header{
        top:23px;
        }
}