<ion-header class="hasbckbtn">
    <ion-toolbar>
        <ion-buttons slot="start" (click)="goBack()">
          <ion-back-button text=""></ion-back-button>
        </ion-buttons>
      </ion-toolbar>
  </ion-header>

<ion-content padding class="blue-bg">
<div class="verticalcenter form-wrapper inputfocus">
    <h2 class="form-header">What’s your email?</h2>
    <form [formGroup]="createAccount2Form" (ngSubmit)="submitted && !createAccount2Form.invalid && createpassword(userDetails)">
        <ion-item>
          <ion-input type="text"  [(ngModel)]="userDetails.email" formControlName="email" name="createemail" placeholder="EMAIL ADDRESS"></ion-input>
        </ion-item>
        <div padding-horizontal  *ngIf="submitted && createAccount2Form.controls['email'].errors?.required">
          <ion-label color="danger">Email is Required</ion-label>
        </div>
        <div padding-horizontal *ngIf="submitted && createAccount2Form.controls['email'].errors?.invalid">
          <ion-label color="danger">Please enter valid email</ion-label>
        </div>
        <ion-item class="terms-wrapper" lines="none">
            <ion-label>I’d like to receive promotional communications, including discounts, surveys and offers from Campus via email</ion-label>
            <ion-checkbox item-end class="createtermschk"  [(ngModel)]="userDetails.agreeBox" name="termsncondition" formControlName="agreeBox"></ion-checkbox>
        </ion-item>
        <!-- <div padding-horizontal >
          <ion-label color="danger">Please agree to continue.</ion-label>
        </div> -->
        <button ion-button type="submit" block class="submitbtn forwardbtn" (click)="submitted = true"></button>
    </form>
</div>

</ion-content>