<ion-header class="roomatesearch">
        <ion-toolbar>
          <div class="grybg backbtn headerinline searchmenu">
            <button ion-button start class="menu-btn" (click)="goBack()">
                <img src="../assets/icon/black-back-icon.png">
            </button>
            <ion-searchbar (click)="searchuniversity()"  placeholder="Search Universities, Apartments, Roommates"></ion-searchbar>
          </div>  
          <div class="headerinline">
            <button ion-button start class="chat-btn" (click)="openChat()">
              <img src="../assets/icon/msg-icon.png">
          </button>
          </div>
          </ion-toolbar>
      </ion-header>
      

<ion-content padding>

<ion-card class="roommate-search-result" *ngIf="userData">
  <ion-card-content>
    <div class="search-profile-image" >
      <img src="{{userData.user_profile_picture.profile_picture}}" *ngIf="userData.user_profile_picture">
      <img class="noprofile_icon" src="../assets/icon/noprofile-icon.png" *ngIf="!userData.user_profile_picture">
    </div>
    <p class="search-profile-name">{{userData.first_name}} {{userData.last_name}}</p>  
    <!-- <p class="search-universityname" *ngIf="{{userData.university}}">{{userData.university.university_name}}</p> -->
    <div class="search-profile-bio" *ngIf="userData.user_profile">
    <ion-row *ngIf="userData.user_profile.bio">
        <ion-col col-2 size="2">
            <ion-label>Bio</ion-label>
        </ion-col>
        <ion-col col-10 size="10">
            <ion-label class="bio-info italic">“{{userData.user_profile.bio}}”</ion-label>
        </ion-col>
    </ion-row>
    <ion-row *ngIf="userData.user_profile.country">
        <ion-col col-2 size="2">
            <ion-label>From</ion-label>
        </ion-col>
        <ion-col col-10 size="10">
            <ion-label class="bio-info" *ngIf="userData.user_profile && userData.user_profile.state && userData.user_profile.state.name && userData.user_profile.country && userData.user_profile.country.name">{{userData.user_profile.state.name}}, </ion-label>
            <ion-label class="bio-info" *ngIf="userData.user_profile && userData.user_profile.country && userData.user_profile.country.name"> {{userData.user_profile.country.name}}</ion-label>
            
        </ion-col>
    </ion-row>
    </div>

    <div class="profile-other-info">
      <ion-row>
          <ion-col size="3" *ngFor="let habbits of userData.user_habbits; let i = index">
              <div class="searchinfo-icon" *ngIf="habbits.habbit_option && habbits.habbit_option.id">
                <img src="{{getHabbitImage(habbits.habbit_option.id)}}" width="14px" class="profile-other-data">
              </div>
              <p class="title" *ngIf="habbits.habbit_option && habbits.habbit_option.habbit_option_name">{{habbits.habbit_option.habbit_option_name}}</p>
          </ion-col>
        
      </ion-row>
    </div>
    <div class="add-remove-wrapper">
      <ion-row>
          <ion-col col-4 size="4">
              <button ion-button class="ignore-btn" (click)="ignoreUser(userData.id)">
                  <img src="../assets/icon/removewhite-icon.png">
              </button>
              <p class="bluesmalltitle">IGNORE</p>
          </ion-col>
          <ion-col col-4 size="4" class="text-center">
              <button ion-button class="scrollup-btn" (click)="scrollToPrev(i)">
                  <img src="../assets/icon/up-icon.png">
              </button>
              <button ion-button class="scrolldwn-btn" (click)="scrollToNext(i)">
                  <img src="../assets/icon/down-icon.png">
              </button>
          </ion-col>
          <ion-col col-4 size="4" *ngIf="userData.is_friend == '1'">
              <button ion-button class="add-btn blue-btn" (click)="openUserProfile(userData.user_id)">
                  <img src="../assets/icon/white-tick-icon.png">
              </button>
              
              <p class="bluesmalltitle">OPEN PROFILE</p>
          </ion-col>
          <ion-col col-4 size="4" *ngIf="userData.is_friend  == '0'">
              <button ion-button class="add-btn" (click)="sendFriendRequest(userData.id)">
                  <img src="../assets/icon/addwhite-icon.png">
              </button>            
              <p class="bluesmalltitle">ADD</p>
          </ion-col>
          <ion-col col-4 size="4" *ngIf="userData.is_friend  == '2'">
              <button ion-button class="add-btn grey-btn">
                  <img src="../assets/icon/white-tick-icon.png">
              </button>            
              <p class="bluesmalltitle">REQUEST SENT</p>
          </ion-col>
      </ion-row>
    </div>
  </ion-card-content>
</ion-card>


<div class="tabs-wrapper">
  <div class="tabsbar" slot="bottom">
     <a (click)="redirectToPage('profileother')"> 
         <ion-img src="assets/icon/profile-icon.png" class="tab-icon profile-icon" ></ion-img>
         <ion-label class="tab-text">PROFILE</ion-label>
     </a>
     <a (click)="redirectToPage('notification')"> 
         <ion-img src="assets/icon/notification-icon.png" class="tab-icon noti-icon" ></ion-img>
         <ion-label class="tab-text">NOTIFICATION</ion-label>
     </a>
     <a class="bluetab" (click)="openUniversityPage()">
         <ion-img src="assets/icon/icon-hat-unactive.png" class="tab-icon campusicon campusicon_unactive" ></ion-img>
     </a>
     <a (click)="redirectToNearbyAppartents()">
         <ion-img src="assets/icon/apartment-icon.png" class="tab-icon apt-icon" ></ion-img>
         <ion-label class="tab-text">APARTMENTS</ion-label>
     </a>
     <a (click)="redirectToPage('nearby')">
         <ion-img src="assets/icon/nearby-icon.png" class="tab-icon apticon nearby-icon" ></ion-img>
         <ion-label class="tab-text">NEARBY</ion-label>
     </a>
    </div>
  </div>
</ion-content>
