<ion-header class="insidesearchmenu">
  <ion-toolbar>
    <div class="grybg headerinline searchmenu">
      <ion-menu-toggle auto-hide="false">
      <button ion-button start class="menu-btn">
          <img src="../assets/icon/hamburger-icon.png">
      </button>
      </ion-menu-toggle>
      <ion-searchbar (click)="searchuniversity()"  placeholder="Search Universities, Apartments, Roommates"></ion-searchbar>
    </div>
    <div class="headerinline">
      <button ion-button start class="chat-btn" (click)="openChat()">
        <img src="../assets/icon/msg-icon.png">
        <span class="unread-msgs" *ngIf="newMessage"></span>
    </button>
    </div>
    </ion-toolbar>
</ion-header>


<ion-content padding class="greybg">
  <div class="adduniversity-wrapper">
    <button ion-button (click)="searchuniversity()" class="btn adduniversity-btn">
        <img src="../assets/icon/bigplus-icon.png">
    </button>
    <h4 class="greycolor">Add University</h4>
  </div>

  <div class="tabs-wrapper">
    <div class="tabsbar" slot="bottom">
       <a (click)="redirectToPage('profileother')">
           <ion-img src="assets/icon/profile-icon.png" *ngIf="!profileActive" class="tab-icon profile-icon" ></ion-img>
           <ion-img src="assets/icon/profile-icon_action.png" *ngIf="profileActive" class="tab-icon profile-icon" ></ion-img>
           <ion-label class="tab-text">PROFILE</ion-label>
       </a>
       <a (click)="redirectToPage('notification')">
           <ion-img src="assets/icon/notification-icon.png" *ngIf="!notificationActive"  class="tab-icon noti-icon" ></ion-img>
           <ion-img src="assets/icon/notification-icon-active.png"  *ngIf="notificationActive" class="tab-icon noti-icon" ></ion-img>
           <ion-label class="tab-text">NOTIFICATION</ion-label>
       </a>
       <a class="bluetab" (click)="openUniversityPage()">
          <ion-img src="assets/icon/icon-hat-unactive.png" class="tab-icon campusicon campusicon_unactive" ></ion-img>
       </a>
       <a (click)="redirectToNearbyAppartents()">
           <ion-img src="assets/icon/apartment-icon.png" *ngIf="!nearByApartmentsActive" class="tab-icon apt-icon" ></ion-img>
           <ion-img src="assets/icon/apartment-icon-active.png" *ngIf="nearByApartmentsActive" class="tab-icon apt-icon" ></ion-img>
           <ion-label class="tab-text">APARTMENTS</ion-label>
       </a>
       <a (click)="redirectToPage('nearby')">
           <ion-img src="assets/icon/nearby-icon.png" *ngIf="!nearbyActive" class="tab-icon apticon nearby-icon" ></ion-img>
           <ion-img src="assets/icon/nearby-icon-active.png"  *ngIf="nearbyActive" class="tab-icon apticon nearby-icon" ></ion-img>
           <ion-label class="tab-text">NEARBY</ion-label>
       </a>
      </div>
    </div>



         <!-- <div class="feedbackpopup">
            <div class="feedbackhead">
                <button ion-button start class="feedbackbtn">
                    <img src="../assets/icon/black-back-icon.png">
                </button>
                <div class="feedbckheading">
                    <p>feedback</p>
                </div>
                <div class="feedbackcontent">
                  <ion-row>
                    <ion-col col-4 size="4">
                      <img class="feedback-screenshot" src="../assets/imgs/feedbackscreenshot.jpg">
                    </ion-col>
                    <ion-col col-8 size="8">
                      <textarea class="feedbacktextarea"></textarea>
                    </ion-col>
                  </ion-row>
                </div>
                <button ion-button type="submit" block class="feedsavebtn">send report</button>
            </div>

        </div>  -->
</ion-content>
