adduniversity:host{
    .adduniversity-wrapper{
        margin-top:50%;
        text-align:center;
        }
        .adduniversity-btn{
        width: 60px;
        height: 60px;
        background: transparent;
        padding: 0;
        margin: 0 auto;
        display: block; 
        box-shadow: none; 
        }
        .bluetab a{
        overflow:visible;
        }

        ion-header{
        margin-top:20px;
        }
}