<ion-header class="roomatesearch">
        <ion-toolbar>
          <div class="grybg backbtn headerinline searchmenu">
            <button ion-button start class="menu-btn" (click)="goBack()">
                <img src="../assets/icon/black-back-icon.png">
            </button>
            <ion-searchbar (click)="searchuniversity()"  placeholder="Search Universities, Apartments, Roommates"></ion-searchbar>
          </div>  
          <div class="headerinline">
            <button ion-button start class="chat-btn" (click)="openChat()">
              <img src="../assets/icon/msg-icon.png">
              <span class="unread-msgs" *ngIf="newMessage"></span>
          </button>
          </div>
          </ion-toolbar>
      </ion-header>
      

<ion-content padding>
<ion-card class="roommate-search-result" *ngFor="let roommate of friendRequestResult; let i = index">
  <ion-card-content id="userId{{roommate.user_friends.id}}">
    <div class="search-profile-image" id="roommate{{i}}">
      <img src="{{roommate.user_friends.user_profile_picture.profile_picture}}" *ngIf="roommate.user_friends.user_profile_picture">
      <img class="noprofile_icon" src="../assets/icon/noprofile-icon.png" *ngIf="!roommate.user_friends.user_profile_picture">
    </div>
    <p class="search-profile-name">{{roommate.user_friends.first_name}} {{roommate.user_friends.last_name}}</p>   
    <p class="search-universityname" *ngIf="roommate.university && roommate.university.university_name">{{roommate.university.university_name}}</p>
    <div class="search-profile-bio">
    <ion-row *ngIf="roommate.user_friends.user_profile.bio">
        <ion-col col-2 size="2">
            <ion-label>Bio</ion-label>
        </ion-col>
        <ion-col col-10 size="10">
            <ion-label class="bio-info italic" *ngIf="roommate.user_friends.user_profile && roommate.user_friends.user_profile.bio">“{{roommate.user_friends.user_profile.bio}}”</ion-label>
        </ion-col>
    </ion-row>
    <ion-row *ngIf="roommate.user_friends.user_profile.country">
        <ion-col col-2 size="2">
            <ion-label>From</ion-label>
        </ion-col>
        <ion-col col-10 size="10">
            <ion-label class="bio-info" *ngIf="roommate.user_friends.user_profile.state && roommate.user_friends.user_profile.country.name">{{roommate.user_friends.user_profile.state.name}}, {{roommate.user_friends.user_profile.country.name}}</ion-label>
            <ion-label class="bio-info" *ngIf="!roommate.user_friends.user_profile.state && roommate.user_friends.user_profile.country.name"> {{roommate.user_friends.user_profile.country.name}}</ion-label>
            <ion-label class="bio-info" *ngIf="roommate.user_friends.user_profile.state && !roommate.user_friends.user_profile.country.name">{{roommate.user_friends.user_profile.state.name}}</ion-label>
        </ion-col>
    </ion-row>
  </div>
    <div class="profile-other-info">
      <ion-row>
          <ion-col size="3" *ngFor="let habbits of roommate.user_friends.user_habbits; let i = index">
              <div class="searchinfo-icon" *ngIf="habbits.habbit_option && habbits.habbit_option.id">
                <img src="{{getHabbitImage(habbits.habbit_option.id)}}" width="14px" class="profile-other-data">
              </div>
              <p class="title" *ngIf="habbits.habbit_option && habbits.habbit_option.habbit_option_name">{{habbits.habbit_option.habbit_option_name}}</p>
          </ion-col>
          <!-- <ion-col size="3">
              <div class="searchinfo-icon">
               <img src="../assets/icon/meat-icon.png" width="8px" class="profile-other-data">
              </div>
              <p class="title">meat</p>
          </ion-col>
          <ion-col size="3">
              <div class="searchinfo-icon">
              <img src="../assets/icon/nosmoking-icon.png" width="8px" class="profile-other-data">
              </div>
              <p class="title">doesn’t smoke</p>
          </ion-col>
          <ion-col size="3">
              <div class="searchinfo-icon">
              <img src="../assets/icon/drinks-icon.png" width="8px" class="profile-other-data">
              </div>
              <p class="title">drinks</p>
          </ion-col> -->
      </ion-row>
    </div>
    <div class="add-remove-wrapper">
      <ion-row>
          <ion-col col-4 size="4" *ngIf="!roommate.is_friend || (roommate.is_friend != '2' && roommate.is_friend != '1')">
              <button ion-button class="ignore-btn" (click)="rejectFriendRequest(roommate.id, i)">
                  <img src="../assets/icon/removewhite-icon.png">
              </button>
              <p class="bluesmalltitle">REJECT</p>
          </ion-col>
          <ion-col col-4 size="4" *ngIf="(roommate.is_friend && roommate.is_friend == '2') ||(roommate.is_friend == '1')">
              <button ion-button class="ignore-btn" (click)="ignoreUser(roommate.user_id)">
                  <img src="../assets/icon/removewhite-icon.png">
              </button>
              <p class="bluesmalltitle">IGNORE</p>
          </ion-col>
          <ion-col col-4 size="4" class="text-center">
              <button ion-button class="scrollup-btn" (click)="scrollToPrev(i)">
                  <img src="../assets/icon/up-icon.png">
              </button>
              <button ion-button class="scrolldwn-btn" (click)="scrollToNext(i)">
                  <img src="../assets/icon/down-icon.png">
              </button>
          </ion-col>
          <ion-col col-4 size="4" *ngIf="roommate.is_friend && roommate.is_friend == '1'">
              <button ion-button class="add-btn blue-btn" (click)="openUserProfile(roommate.user_id)">
                  <img src="../assets/icon/white-tick-icon.png">
              </button>
              
              <p class="bluesmalltitle">OPEN PROFILE</p>
          </ion-col>
          <ion-col col-4 size="4" *ngIf="!roommate.is_friend || (roommate.is_friend != '2' && roommate.is_friend != '1')">
              <button ion-button class="add-btn" (click)="acceptFriendRequest(roommate.id, i)">
                  <img src="../assets/icon/addwhite-icon.png">
              </button>            
              <p class="bluesmalltitle">Accept</p>
          </ion-col>
          <ion-col col-4 size="4" *ngIf="roommate.is_friend && roommate.is_friend == '2'">
              <button ion-button class="add-btn grey-btn" (click)="sendFriendRequest(roommate.user_id, i)">
                  <img src="../assets/icon/addwhite-icon.png">
              </button>            
              <p class="bluesmalltitle">ADD</p>
          </ion-col>
      </ion-row>
    </div>
  </ion-card-content>
</ion-card>


<ion-card class="roommate-search-result" *ngFor="let roommate of roommatesResults; let i = index">
  <ion-card-content id="userId{{roommate.users.id}}">
    <div class="search-profile-image" id="roommate{{i}}">
      <img src="{{roommate.users.user_profile_picture.profile_picture}}" *ngIf="roommate.users.user_profile_picture">
      <img class="noprofile_icon" src="../assets/icon/noprofile-icon.png" *ngIf="!roommate.users.user_profile_picture">
    </div>
    <p class="search-profile-name">{{roommate.users.first_name}} {{roommate.users.last_name}}</p>   
    <p class="search-universityname">{{roommate.university.university_name}}</p>
    <div class="search-profile-bio" *ngIf="roommate.users.user_profile">
    <ion-row *ngIf="roommate.users.user_profile.bio">
        <ion-col col-2 size="2">
            <ion-label>Bio</ion-label>
        </ion-col>
        <ion-col col-10 size="10">
            <ion-label class="bio-info italic">“{{roommate.users.user_profile.bio}}”</ion-label>
        </ion-col>
    </ion-row>
    <ion-row *ngIf="roommate.users.user_profile.country">
        <ion-col col-2 size="2">
            <ion-label>From</ion-label>
        </ion-col>
        <ion-col col-10 size="10">
            <ion-label class="bio-info" *ngIf="roommate.users.user_profile && roommate.users.user_profile.state && roommate.users.user_profile.state.name && roommate.users.user_profile.country && roommate.users.user_profile.country.name">{{roommate.users.user_profile.state.name}}, {{roommate.users.user_profile.country.name}}</ion-label>
            <ion-label class="bio-info" *ngIf="roommate.users.user_profile && roommate.users.user_profile.country && roommate.users.user_profile.country.name"> {{roommate.users.user_profile.country.name}}</ion-label>
            
        </ion-col>
    </ion-row>
    </div>
    <div class="profile-other-info">
      <ion-row>
          <ion-col size="3" *ngFor="let habbits of roommate.users.user_habbits; let i = index">
              <div class="searchinfo-icon" *ngIf="habbits.habbit_option && habbits.habbit_option.id">
                <img src="{{getHabbitImage(habbits.habbit_option.id)}}" width="14px" class="profile-other-data">
              </div>
              <p class="title" *ngIf="habbits.habbit_option && habbits.habbit_option.habbit_option_name">{{habbits.habbit_option.habbit_option_name}}</p>
          </ion-col>
          <!-- <ion-col size="3">
              <div class="searchinfo-icon">
               <img src="../assets/icon/meat-icon.png" width="8px" class="profile-other-data">
              </div>
              <p class="title">meat</p>
          </ion-col>
          <ion-col size="3">
              <div class="searchinfo-icon">
              <img src="../assets/icon/nosmoking-icon.png" width="8px" class="profile-other-data">
              </div>
              <p class="title">doesn’t smoke</p>
          </ion-col>
          <ion-col size="3">
              <div class="searchinfo-icon">
              <img src="../assets/icon/drinks-icon.png" width="8px" class="profile-other-data">
              </div>
              <p class="title">drinks</p>
          </ion-col> -->
      </ion-row>
    </div>
    <div class="add-remove-wrapper">
      <ion-row>
          <ion-col col-4 size="4">
              <button ion-button class="ignore-btn" (click)="ignoreUser(roommate.user_id)">
                  <img src="../assets/icon/removewhite-icon.png">
              </button>
              <p class="bluesmalltitle">IGNORE</p>
          </ion-col>
          <ion-col col-4 size="4" class="text-center">
              <button ion-button class="scrollup-btn" (click)="scrollToPrev(i)">
                  <img src="../assets/icon/up-icon.png">
              </button>
              <button ion-button class="scrolldwn-btn" (click)="scrollToNext(i)">
                  <img src="../assets/icon/down-icon.png">
              </button>
          </ion-col>
          <ion-col col-4 size="4" *ngIf="roommate.is_friend == '1'">
              <button ion-button class="add-btn blue-btn" (click)="openUserProfile(roommate.user_id)">
                  <img src="../assets/icon/white-tick-icon.png">
              </button>
              
              <p class="bluesmalltitle">OPEN PROFILE</p>
          </ion-col>
          <ion-col col-4 size="4" *ngIf="roommate.is_friend  == '0'">
              <button ion-button class="add-btn" (click)="sendFriendRequest(roommate.user_id, i)">
                  <img src="../assets/icon/addwhite-icon.png">
              </button>            
              <p class="bluesmalltitle">ADD</p>
          </ion-col>
          <ion-col col-4 size="4" *ngIf="roommate.is_friend  == '2'">
              <button ion-button class="add-btn grey-btn">
                  <img src="../assets/icon/white-tick-icon.png">
              </button>            
              <p class="bluesmalltitle">REQUEST SENT</p>
          </ion-col>
      </ion-row>
    </div>
  </ion-card-content>
</ion-card>


<!-- <div class="roommate-choice">
    <div class="roommate-info-wrapper">
      <p class="search-profile-name">Piyush Rahangdale</p>   
      <p class="search-universityname">Lawrence Tech University</p>
      <div class="search-profile-image">
        <img src="../assets/icon/noprofile-icon.png">
      </div>
      <button ion-button class="like-btn ">
          <img src="../assets/icon/thumbsup-icon.png">
      </button>
    </div>
    <div class="roommate-info-wrapper">
      <p class="search-profile-name">Piyush Rahangdale</p>   
      <p class="search-universityname">Lawrence Tech University</p>
      <div class="search-profile-image">
        <img src="../assets/icon/noprofile-icon.png">
      </div>
      <button ion-button class="like-btn ">
          <img src="../assets/icon/thumbsup-icon.png">
      </button>
      <ion-grid>
      <ion-row>
        <ion-col>
            <div class="searchinfo-icon" >
              <img src="../assets/icon/chef-icon.png "  width="8px"  class="profile-other-data">
            </div>
            <p class="searchinfo-title">chef</p>
        </ion-col>
        <ion-col>
            <div class="searchinfo-icon">
              <img src="../assets/icon/glass-icon.png" width="8px" class="profile-other-data">
            </div>
            <p class="searchinfo-title">genius</p>
        </ion-col>
        <ion-col>
            <div class="searchinfo-icon">
            <img src="../assets/icon/friendly-icon.png" width="8px" class="profile-other-data">
            </div>
            <p class="searchinfo-title">friendly</p>
        </ion-col>
        <ion-col>
            <div class="searchinfo-icon">
            <img src="../assets/icon/brush-icon.png" width="8px" class="profile-other-data">
            </div>
            <p class="searchinfo-title">tidy</p>
        </ion-col>
    </ion-row>
    </ion-grid>
    </div>
    
</div> -->
<div class="tabs-wrapper">
  <div class="tabsbar" slot="bottom">
     <a (click)="redirectToPage('profileother')"> 
         <ion-img src="assets/icon/profile-icon.png" class="tab-icon profile-icon" ></ion-img>
         <ion-label class="tab-text">PROFILE</ion-label>
     </a>
     <a (click)="redirectToPage('notification')"> 
         <ion-img src="assets/icon/notification-icon.png" class="tab-icon noti-icon" ></ion-img>
         <ion-label class="tab-text">NOTIFICATION</ion-label>
     </a>
     <a class="bluetab" (click)="openUniversityPage()">
         <ion-img src="assets/icon/icon-hat-unactive.png" class="tab-icon campusicon campusicon_unactive" ></ion-img>
     </a>
     <a (click)="redirectToNearbyAppartents()">
         <ion-img src="assets/icon/apartment-icon.png" class="tab-icon apt-icon" ></ion-img>
         <ion-label class="tab-text">APARTMENTS</ion-label>
     </a>
     <a (click)="redirectToPage('nearby')">
         <ion-img src="assets/icon/nearby-icon.png" class="tab-icon apticon nearby-icon" ></ion-img>
         <ion-label class="tab-text">NEARBY</ion-label>
     </a>
    </div>
  </div>
</ion-content>
