roomatesearch:host{
    .roommate-search-result{
        box-shadow: none;
        border: 1px solid #0066cc;
        border-radius: 20px;
        }
        .search-profile-image{
        width: 135px;
        border: 1px solid #0066cc;
        border-radius: 50%;
        height: 135px;
        text-align: center;
        margin: 0 auto;
        background: #ebebeb;
        overflow:hidden;
        }
        .search-profile-image img{
        width:100%;
        height: 100%;
        object-fit: cover;
        }

        .search-profile-image .noprofile_icon{
        width: 70%;
        margin: 0 auto;
        padding: 20px;

        }
        .search-profile-name{
        text-align: center;
        margin: 5px 0;
        font-size: 16px;
        color: #000;
        font-family: 'open_sanssemibold';
        }
        .search-universityname{
        text-align: center;
        color: #0066cc;
        font-size: 16px;
        font-family: 'open_sanssemibold';
        }
        .search-profile-bio{
        width: 90%;
        margin: 0 auto;
        }
        .search-profile-bio ion-label{
        color: #979797;
        margin-bottom: 0;
        margin-top: 5px;
        font-family: 'open_sanssemibold';
        margin-right: 0;
        font-size: 12px;
        }
        .bio-info{
            font-family: 'open_sansregular' !important;
            font-size: 12px;
        }
        .bio-info.italic{
            font-style:italic;
        }
    
        .profile-other-info{
        margin: 10px 0 5px;
        }
        .profile-other-info .searchinfo-icon{
        width: 60px;
        height: 60px;
        background: #ebebeb;
        border-radius: 50%;
        padding:15px;
        }
        .profile-other-data{
        width:auto;
        margin: 0 auto;
        }
    
        .profile-other-info .title{
        color:#979797;
        margin-top: 5px;
        text-align: center;
        font-size:9px;
        }
    
        .ignore-btn{
        background: #fe3a2f;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        padding: 5px;
        margin: 0 auto;
        display: block;
        margin-top: 25px;
        }
    
        .add-btn{
        background: #00ff00;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        padding: 5px;
        margin: 0 auto;
        display: block;
        margin-top: 25px;
        }
    
        .scrollup-btn,.scrolldwn-btn{
        background:transparent;
        box-shadow:none;
        width:50px;
        margin:20px auto;
        display:block
        }
    
        .bluesmalltitle{
        color:#0066cc;
        font-size:10px;
        font-family: 'open_sanssemibold';
        text-align: center;
        margin-top: 5px;
        }
        .like-btn{
        border-radius: 50%;
        width: 60px;
        height: 60px;
        padding: 5px;
        margin: 10px auto;
        display: block;
        }
        .roommate-info-wrapper{
        border-bottom:0.5px solid #979797;
        padding: 15px;
        }
        .searchinfo-icon{
            width: 60px;
            height: 60px;
            background: #ebebeb;
            border-radius: 50%;
            padding: 10px;
        }
        .searchinfo-title{
        color: #979797;
        margin-top: 5px;
        text-align: center;
        font-size: 9px;
        }

        ion-content{
            --padding-bottom: 75px !important;
            --padding-start:0;
        }
    
    }