<ion-header>
    <ion-toolbar>
      <div class="backbtn grybg headerinline">
        <button ion-button start class="menu-btn">
            <img src="../assets/icon/black-back-icon.png">
        </button>
        <ion-searchbar (click)="searchuniversity()"  placeholder="Search for Universities, Apartments, Roommates"></ion-searchbar>
      </div>  
      <div class="headerinline">
        <button ion-button start class="chat-btn">
          <img src="../assets/icon/msg-icon.png">
          <span class="unread-msgs" *ngIf="newMessage"></span>
      </button>
      </div>
      </ion-toolbar>
  </ion-header> 
  
  <ion-content padding >
  
  <div class="university-profileimg">
    <img src="../assets/imgs/university-profile-logo.png">
  </div>
  <h4 class="universityname">Lawrence Technological University</h4>
  <p class="smalltext text-center">Michigan, USA</p>
  <div class="review-wrapper">
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <p class="ratingno">999 ratings</p>
  </div>
  
  <div class="review-container">
    <ion-item lines="none">
      <ion-label>
      <p class="reviewheading">REVIEWS</p>
      </ion-label>
      <ion-button item-end class="popoverbtn" (click)="presentPopover($event)">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item lines="full">
      <ion-label>
        <img class="reviewprofileimg" src="../assets/imgs/reviewprofile-img.png"> 
        <p class="reviewname">Swapnil Mirjolkar</p>
      
      <div class="review-wrapper reviewratings">
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
      </div>
      <p class="review-text">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum. d minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat,</p>
        </ion-label>
    </ion-item>
    <ion-item lines="full">
        <ion-label>
          <img class="reviewprofileimg" src="../assets/imgs/reviewprofile-img.png"> 
          <p class="reviewname">Swapnil Mirjolkar</p>
        
        <div class="review-wrapper reviewratings">
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
        </div>
        <p class="review-text">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum. d minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat,</p>
          </ion-label>
      </ion-item>
  </div>
  <div class="tabs-wrapper">
      <div class="tabsbar" slot="bottom">
         <a (click)="redirectToPage('profileother')"> 
             <ion-img src="assets/icon/profile-icon.png" class="tab-icon profile-icon" ></ion-img>
             <ion-label class="tab-text">PROFILE</ion-label>
         </a>
         <a (click)="redirectToPage('notification')"> 
             <ion-img src="assets/icon/notification-icon.png" class="tab-icon noti-icon" ></ion-img>
             <ion-label class="tab-text">NOTIFICATION</ion-label>
         </a>
         <a class="bluetab" (click)="openUniversityPage()">
             <ion-img src="assets/icon/icon-hate.png" class="tab-icon campusicon" ></ion-img>
         </a>
         <a (click)="redirectToNearbyAppartents()">
             <ion-img src="assets/icon/apartment-icon.png" class="tab-icon apt-icon" ></ion-img>
             <ion-label class="tab-text">APARTMENTS</ion-label>
         </a>
         <a (click)="redirectToPage('nearby')">
             <ion-img src="assets/icon/nearby-icon.png" class="tab-icon apticon nearby-icon" ></ion-img>
             <ion-label class="tab-text">NEARBY</ion-label>
         </a>
        </div>
      </div>
  </ion-content>
  
  