apartmentreview:host{
    ion-header{
        margin-top:15px;
        }
    .reviewheading{
        font-family: 'open_sansregular';
    }
    .university-profileimg{
        width: 60px;
        height: 60px;
        margin: 0 auto;
        z-index: 9999;
        position: relative;
        }
        .universityname{
        font-family: 'open_sanssemibold';
        text-align:center;
        margin-top:10px;
        font-size: 18px;
        }
        .review-wrapper{
            text-align: center;
            font-size: 21px;
            margin-top: 15px;
            }
            .ratingno{
            text-align:center;
            font-size:9px;
            margin-top:5px; 
            }
            .more-info{
            color:#c4c4c4;
            font-size: 12px;
            }
    
            .popoverbtn{
            --background:transparent;
            color: #000000;
            text-align: right;
            --box-shadow: none;
            }
    
            .reviewprofileimg{
            display: inline-block;
            width: 30px;
            height: 30px;
            }
            .reviewname{
            display: inline-block;
            vertical-align: top;
            padding-top: 5px;
            padding-left: 5px;
            font-family: 'open_sanssemibold';
            color:#000000
            }
            .reviewratings{
            display: inline-block;
            vertical-align: top;
            float: right;
            margin-top: 5px;
            }
            .review-text{
            text-overflow: unset;
            overflow: visible;
            white-space: normal;
            font-size: 10px;
            line-height: 12px;
            color: #c4c4c4;
            margin-top: 10px;
            }

            ion-content{
                --padding-bottom: 75px !important;
            }
    }